<li class="grey">
	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		<i class="icon-tasks"></i>
		<span class="badge badge-grey">{{layout.topbar_tasks.count}}</span>
	</a>

	<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
		<li class="nav-header">
			<i class="icon-ok"></i> {{layout.topbar_tasks.count}} Tasks to complete
		</li>

		{{#layout.topbar_tasks.latest}}
		<li>
			<a href="#">
				<div class="clearfix">
					<span class="pull-left">{{title}}</span>
					<span class="pull-right">{{percentage}}%</span>
				</div>
				<div class="progress progress-mini {{progress-class}}"><div style="width:{{percentage}}%" class="bar"></div></div>
			</a>
		</li>
		{{/layout.topbar_tasks.latest}}

		<li>
			<a href="#">
				See tasks with details
				<i class="icon-arrow-right"></i>
			</a>
		</li>
	</ul>
</li>