.hippo-root .x-form-text, textarea.x-form-field {
  background-image: none;
}
.hippo-root .x-grid3-row-selected {
  border-color: transparent;
  background-color: #FFE29A !important;
}
.hippo-root .x-fieldset legend {
  color: black;
}
.hippo-root .x-panel-body {
  border-color: #ccc;
  border-top-color: #ccc;
}
.hippo-root .belowrightbox {
    margin-left: 325px;
    margin-top: 5px;
}
