* text=auto !eol
/LICENSE -text
/NOTICE -text
/pom.xml -text
src/main/resources/META-INF/maven/archetype-metadata.xml -text
src/main/resources/archetype-resources/README.txt -text
src/main/resources/archetype-resources/bootstrap/configuration/pom.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/configuration/modules/autoexport-module.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hippoecm-extension.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/channels.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/abstractpages.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/catalog.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/components.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/pages.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/prototypepages.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/sitemap.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/sitemenus.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/templates.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/workspace.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/workspace/containers.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/workspace/pages.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/workspace/sitemap.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/configurations/__rootArtifactId__/workspace/sitemenus.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/hosts.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/hst/sites.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/namespaces/__rootArtifactId__.cnd -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/namespaces/__rootArtifactId__.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/namespaces/__rootArtifactId__/basedocument.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/configuser-read-everywhere.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/group-liveusers.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/group-previewusers.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/group-sitewriters.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/user-author.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/user-configuser.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/user-editor.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/user-liveuser.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/user-previewuser.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/user-sitewriter.xml -text
src/main/resources/archetype-resources/bootstrap/configuration/src/main/resources/security/webfiles.xml -text
src/main/resources/archetype-resources/bootstrap/content/pom.xml -text
src/main/resources/archetype-resources/bootstrap/content/src/main/resources/content.xml -text
src/main/resources/archetype-resources/bootstrap/content/src/main/resources/content/documents/__rootArtifactId__.xml -text
src/main/resources/archetype-resources/bootstrap/content/src/main/resources/content/gallery/__rootArtifactId__.xml -text
src/main/resources/archetype-resources/bootstrap/content/src/main/resources/hippoecm-extension.xml -text
src/main/resources/archetype-resources/bootstrap/pom.xml -text
src/main/resources/archetype-resources/bootstrap/webfiles/pom.xml -text
src/main/resources/archetype-resources/bootstrap/webfiles/src/main/resources/hippoecm-extension.xml -text
src/main/resources/archetype-resources/cms/pom.xml -text
src/main/resources/archetype-resources/cms/src/main/webapp/WEB-INF/error.jsp -text
src/main/resources/archetype-resources/cms/src/main/webapp/WEB-INF/web.xml -text
src/main/resources/archetype-resources/conf/context.xml -text
src/main/resources/archetype-resources/conf/log4j-dev.xml -text
src/main/resources/archetype-resources/conf/log4j-prod.xml -text
src/main/resources/archetype-resources/conf/log4j.dtd -text
src/main/resources/archetype-resources/essentials/pom.xml -text
src/main/resources/archetype-resources/essentials/src/main/resources/project-settings.xml -text
src/main/resources/archetype-resources/essentials/src/main/webapp/WEB-INF/web.xml -text
src/main/resources/archetype-resources/pom.xml -text
src/main/resources/archetype-resources/site/pom.xml -text
src/main/resources/archetype-resources/site/src/main/java/beans/BaseDocument.java -text
src/main/resources/archetype-resources/site/src/main/resources/META-INF/hst-assembly/overrides/hst-cms-rest.xml -text
src/main/resources/archetype-resources/site/src/main/resources/META-INF/hst-assembly/overrides/jndi-repository.xml -text
src/main/resources/archetype-resources/site/src/main/resources/META-INF/hst-assembly/overrides/template-composer-rest.xml -text
src/main/resources/archetype-resources/site/src/main/resources/messages.properties -text
src/main/resources/archetype-resources/site/src/main/resources/messages_fr.properties -text
src/main/resources/archetype-resources/site/src/main/resources/messages_it.properties -text
src/main/resources/archetype-resources/site/src/main/webapp/META-INF/context.xml -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/hst-config.properties -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/jsp/errorpages/ErrorPage400.jsp -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/jsp/errorpages/ErrorPage401.jsp -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/jsp/errorpages/ErrorPage403.jsp -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/jsp/errorpages/ErrorPage404.jsp -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/jsp/errorpages/ErrorPage500.jsp -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/jsp/errorpages/component-error-page.jsp -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/jspf/htmlTags.jspf -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/jspf/taglibs.jspf -text
src/main/resources/archetype-resources/site/src/main/webapp/WEB-INF/web.xml -text
src/main/resources/archetype-resources/site/src/test/resources/log4j.xml -text
src/main/resources/archetype-resources/src/main/assembly/distribution.xml -text
src/test/resources/projects/gettingstarted/archetype.properties -text
src/test/resources/projects/gettingstarted/goal.txt -text
