/*.iml
/.idea
/.project
/.settings
addon/*.iml
addon/.project
addon/.settings
addon/frontend/*.iml
addon/frontend/.classpath
addon/frontend/.project
addon/frontend/.settings
addon/frontend/target
addon/repository/*.iml
addon/repository/.classpath
addon/repository/.project
addon/repository/.settings
addon/repository/target
addon/target
api/*.iml
api/.classpath
api/.project
api/.settings
api/target
hst-api/*.iml
hst-api/.classpath
hst-api/.project
hst-api/.settings
hst-api/target
hst/*.iml
hst/.classpath
hst/.project
hst/.settings
hst/target
/target
