<?xml version="1.0" encoding="UTF-8"?>
<!--
	* Copyright 2007 Hippo
	*
	* Licensed under the Apache License, Version 2.0 (the  "License");
	* you may not use this file except in compliance with the License.
	* You may obtain a copy of the License at
	*
	* http://www.apache.org/licenses/LICENSE-2.0
	*
	* Unless required by applicable law or agreed to in writing, software
	* distributed under the License is distributed on an "AS IS" BASIS,
	* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	* See the License for the specific language governing permissions and
	* limitations under the License.
-->
<web-app>

	<!-- General configuration -->
	<display-name>Hippo Repository 2 Browser</display-name>

  <!-- Timeout in minutes -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>configuration</param-name>
		<param-value>development</param-value>
	</context-param>

	<!-- Hippo Repository location -->
	<context-param>
		<param-name>repository-address</param-name>
		<param-value>rmi://localhost:1099/jackrabbit.repository</param-value>
	</context-param>

	<!-- Hippo Repository Browser application -->
	<filter>
		<filter-name>RepositoryBrowser</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.hippocms.repository.frontend.Main</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>RepositoryBrowser</filter-name>
		<url-pattern>/browser/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- Portals integration -->
	<context-param>
		<param-name>org.apache.portals.bridges.common.ServletContextProvider</param-name>
		<param-value>org.apache.jetspeed.portlet.ServletContextProviderImpl</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.portals.bridges.common.PortletResourceURLFactory</param-name>
		<param-value>org.apache.jetspeed.portlet.PortletResourceURLFactoryImpl</param-value>
	</context-param>

	
	<!--TEMPORARY! -->
	<context-param>
		<param-name>dynamicDialog</param-name>
		<param-value>org.hippocms.repository.frontend.dialog.move.MoveDialog</param-value>
	</context-param>	

</web-app>
