html, body {color:#000; height:100%; margin:0; padding:0; width:100%;}
body {background-color:#fff; border-style:none; font:70% Verdana, Arial, Helvetica, sans-serif; margin:0; padding:0; text-align:center}
fieldset {border:0; margin:0; padding:0}
form {margin:0; padding:0}
h1, h2, h3, h4 {margin:0; padding:0}
img {border:0}
p {margin:0; padding:0}
ul {margin:0; padding:0}

#mainNav {height:40px; position:absolute; top:102px; width:100%; z-index:10;}
#mainNav ul.nav li {display:block; float:left; list-style:none}
#mainNav ul.nav li a {color:#5C75B5; display:block; float:left; font-size:1.1em; font-weight:bold; line-height:29px; padding:0 11px; text-decoration:none}
#mainNav ul.nav li a.over { padding:0 0 0 11px; color:#5C75B5}
#mainNav ul.nav li a.over span { display:block; padding-right:11px}
#mainNav ul.nav li a.selected { padding:0 0 0 11px; color:#5C75B5}
#mainNav ul.nav li a.selected span { display:block; padding-right:11px}
				
#mainNav div {background:#FFF; border:1px solid #9cbcdd; font-size:0.9em; padding:0 4px; position:absolute; visibility:hidden; top:29px; z-index:10;}
#mainNav div ul.subnav li {border-bottom:1px solid #e5edf5;  float:none; list-style-type:none; margin:0; padding:2px 0;}
#mainNav div ul.subnav li.last {border-bottom:none}
#mainNav div li a {color:#5C75B5; display:block; line-height:17px; padding:0 9px 0 7px; text-decoration:none;}
#mainNav div li a:hover {background:#5C75B5; color:#fff}
