# jest v24.9.0 is installed in the root but create-react-app requires v24.8.0
SKIP_PREFLIGHT_CHECK=true

# The PUBLIC_URL variable will set a prefix to the application assets.
# See https://create-react-app.dev/docs/using-the-public-folder for more information.
# PUBLIC_URL=http://localhost:3000

# REACT_APP_BR_URL_LIVE=http://localhost:8080/site/spa-csr/resourceapi
# REACT_APP_SPA_BASE_PATH_LIVE=
# REACT_APP_BR_URL_PREVIEW=http://localhost:8080/site/_cmsinternal/spa-csr/resourceapi
# REACT_APP_SPA_BASE_PATH_PREVIEW=/site/_cmsinternal/spa-csr
