body {
  font-family:arial,sans-serif,helvetica;
  font-size:0.8em;
  background:#eeeeee;
}

table {
  font-size:1em;
}

.Breadcrumb {
  border:1px solid lightgrey;
  margin:2px;
  background:#ffffff;
}

.Tree {
  border:1px solid lightgrey;
  margin:2px;
  background:#ffffff;
}

.Documents {
  border:1px solid lightgrey;
  margin:2px;
  background:#ffffff;
}

.Menu {
  border:1px solid lightgrey;
  margin:2px;
  background:#ffffff;
}

.Workflow {
  border:1px solid lightgrey;
  margin:2px;
  background:#ffffff;
}

.Editor {
  border:1px solid lightgrey;
  margin:2px;
  background:#ffffff;
}

th {
  text-align:left;
  background-color:lightgrey;
}

tr.even {
  background-color:#ffffff;
}

tr.odd {
  background-color:#eeeeff;
}

/* TAB PANEL STYLES */

div.tabpanel div.tab-row{
   float:left;
   width:100%;
   background:#eeeeee;
   line-height:normal;
   border-bottom:1px solid #225379;
   }

div.tabpanel div.tab-row ul {
   margin:0;
   padding:10px 10px 0;
   list-style:none;
   }

div.tabpanel div.tab-row li {
   float:left;
   background:lightblue;
   margin:0;
   padding:0 0 0 9px;
   border-top:1px solid #eeeeee;
   border-left:1px solid #eeeeee;
   border-right:1px solid #eeeeee;
   }

div.tabpanel div.tab-row a {
   display:block;
   padding:5px 15px 4px 6px;
   text-decoration:none;
   font-weight:bold;
   white-space:nowrap;
   color:#fff;
   }

div.tabpanel div.tab-row li.selected {
   background:#225379;
   }

div.tabpanel div.tab-row li.selected a {
   color:#fff;
   padding-bottom:5px;
   }