div.channel-grid-toolbar, div.page-editor-toolbar { background-image: none; background-color: #dddddd; }
.channel-manager .x-toolbar .breadcrumb-item .x-btn-text { font-weight: bold; padding-left: 8px}
.channel-manager .x-toolbar .breadcrumb-item.x-item-disabled .x-btn-text { color: black !important}
.channel-manager .x-toolbar .breadcrumb-item.x-btn-over td { border: 0; background-image: none; }
.channel-manager .channel-properties { margin: 5px; }
.channel-manager .channel-properties .fieldgroup { border-bottom: 16px solid #fff; }
.channel-manager .channel-properties .fieldgrouptitle { font-weight: bold; border-bottom: 2px solid #fff; }
.channel-manager .channel-properties tr > td.key { padding: 0px 10px 6px 4px; }
.channel-manager .channel-properties tr > td.value { padding: 0 0px 6px 0; }
.channel-manager .channel-properties a.channel-button, .channel-manager .channel-properties .channel-button > a { background-color: #f2f2f2; border: 1px solid #999; padding: 2px; margin-right: 4px; }
.channel-manager .channel-properties a.channel-button:hover, .channel-manager .channel-properties .channel-button > a:hover { background-color: #fff6e0 }
