/* toolbar */
.channel-manager-toolbar.x-toolbar {
    background-image: none;
    background-color: #dddddd;
    border-top: 0;
}

.channel-manager .channel-manager-toolbar .x-btn-text {
    margin: 1px 5px;
}

.channel-manager .channel-manager-toolbar.x-toolbar .x-btn-over .x-btn-tl,
.channel-manager .channel-manager-toolbar.x-toolbar .x-btn-over .x-btn-tr,
.channel-manager .channel-manager-toolbar.x-toolbar .x-btn-over .x-btn-tc,
.channel-manager .channel-manager-toolbar.x-toolbar .x-btn-over .x-btn-ml,
.channel-manager .channel-manager-toolbar.x-toolbar .x-btn-over .x-btn-mr,
.channel-manager .channel-manager-toolbar.x-toolbar .x-btn-over .x-btn-mc,
.channel-manager .channel-manager-toolbar.x-toolbar .x-btn-over .x-btn-bl,
.channel-manager .channel-manager-toolbar.x-toolbar .x-btn-over .x-btn-br,
.channel-manager .channel-manager-toolbar.x-toolbar .x-btn-over .x-btn-bc {
    background-position: 500px 500px;
}

.channel-manager .channel-manager-toolbar .x-btn-mc {
    background: url("bg.gif") repeat-x 0 0 transparent;
    border: 1px solid #bebebe;
    background-position: 0 0;
    text-align: left;
}

.channel-manager .channel-manager-toolbar .toolbarMenuIcon .x-btn-mc {
    background: none;
    border: 0;
}

/* breadcrumb */
.channel-manager .x-toolbar .breadcrumb-item { opacity: 1 }
.channel-manager .x-toolbar .breadcrumb-item .x-btn-text { font-weight: bold; padding-left: 8px; color: #666666 !important}
.channel-manager .x-toolbar .breadcrumb-item.x-btn-over td { border: 0; background-image: none; }

/* notification window */
.channel-manager .x-notification .x-window-tl, .x-notification .x-window-tc, .x-notification .x-window-tr,
.channel-manager .x-notification .x-window-ml, .x-notification .x-window-mc, .x-notification .x-window-mr,
.channel-manager .x-notification .x-window-bl, .x-notification .x-window-bc, .x-notification .x-window-br
{ background-image: none; }
.channel-manager .x-notification .x-window-header { padding: 0 0 1px 0 }
.channel-manager .x-notification .x-window-body { padding: 7px; background-color: #fffda9; }

/* channel properties window */
.channel-manager .hide-channel-properties { display: none }
.channel-manager .channel-properties { display: block }
.channel-manager .channel-properties .fieldgroup { border-bottom: 16px solid #fff; }
.channel-manager .channel-properties .fieldgrouptitle { font-weight: bold; border-bottom: 2px solid #fff; }
.channel-manager .channel-properties tr > td.key { padding: 0px 10px 6px 4px; }
.channel-manager .channel-properties tr > td.value { padding: 0 0px 6px 0; }
.channel-manager .channel-properties a.channel-button, .channel-manager .channel-properties .channel-button > a { background-color: #f2f2f2; border: 1px solid #999; padding: 2px; margin-right: 4px; }
.channel-manager .channel-properties a.channel-button:hover, .channel-manager .channel-properties .channel-button > a:hover { background-color: #fff6e0 }
.channel-manager .channel-properties-window .x-window-body { overflow: auto }

.channel-manager .x-btn-small .add-channel {
  background-image: url("add-channel.png") !important;
}
