.hippo-dialog-body .question-answer {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  margin-left: 16px;
  padding-bottom: 8px;
  padding-top: 8px;

  .question{
    align-self: center;
    line-height: 30px;
    margin-right: 8px;
  }

  .answer {
    align-items: center;
    display: flex;

    input {
      height: 28px;
      line-height: 28px;
      padding-left: 4px;
      width: 320px;
    }
  }
}
