<md-toolbar class="qa-toolbar">
  <div class="md-toolbar-tools">
    <md-button ng-click="changeMan.onDone()">
      <md-icon class="material-icons">keyboard_backspace</md-icon>
      {{ 'TOOLBAR_BUTTON_BACK' | translate }}
    </md-button>

    <span flex></span>

    <h2>{{ 'SUBPAGE_CHANGEMANAGEMENT_TITLE' | translate }}</h2>

    <span flex></span>
  </div>
</md-toolbar>

<md-content layout-padding>
  <form>
    <md-checkbox ng-click="changeMan.toggleAll()"
        md-indeterminate="!changeMan.allAreChecked()"
        ng-checked="changeMan.allAreChecked()">
      {{ 'SUBPAGE_CHANGEMANAGEMENT_LABEL_TOGGLE_ALL' | translate }}
    </md-checkbox>
    <div ng-repeat="user in changeMan.usersWithChanges">
      <md-checkbox ng-checked="changeMan.isChecked(user)"
          ng-click="changeMan.toggle(user)">
        {{ user }}
      </md-checkbox>
    </div>

    <md-button ng-click="changeMan.publishChanges()">
      {{ 'SUBPAGE_CHANGEMANAGEMENT_PUBLISH' | translate }}
    </md-button>

    <md-button ng-click="changeMan.discardChanges()">
      {{ 'SUBPAGE_CHANGEMANAGEMENT_DISCARD' | translate }}
    </md-button>
  </form>
</md-content>
