@import 'variables';

:host {
  display: block;
  font-size: $menu-sub-menu-font-size;
  padding: 5px 0;

  &.active .menu-item-link {
    color: $menu-active-text-color;
  }
}

.menu-item-link {
  color: $menu-text-color;
  text-decoration: none;
  white-space: nowrap;
}
