* text=auto !eol
/LICENSE -text
/NOTICE -text
addon-cms/pom.xml -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/RelatedDoc.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/RelatedDocCollection.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/RelatedDocCollectionModel.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/RelatedDocSuggestor.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/RelatedDocsNodeType.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/ClearDeletedDocumentsDialog.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/ClearDeletedDocumentsDialog.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/ClearDeletedDocumentsDialog_de.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/ClearDeletedDocumentsDialog_fr.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/ClearDeletedDocumentsDialog_nl.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/InfoDialog.html -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/InfoDialog.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/InfoDialog.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/InfoDialog_de.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/InfoDialog_fr.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/InfoDialog_nl.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/RelatedDocMightBeDeletedMessageDialog.html -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/RelatedDocMightBeDeletedMessageDialog.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/RelatedDocMightBeDeletedMessageDialog.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/RelatedDocNotFoundDialog.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/RelatedDocNotFoundDialog.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/RelatedDocNotFoundDialog_de.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/RelatedDocNotFoundDialog_fr.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/dialogs/RelatedDocNotFoundDialog_nl.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/AbstractRelatedDocsPlugin.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/DocumentPickerDialog.html -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/DocumentPickerDialog.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/DocumentPickerDialog.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/DocumentPickerDialog_de.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/DocumentPickerDialog_fr.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/DocumentPickerDialog_nl.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsPlugin.css -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsPlugin.html -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsPlugin.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsPlugin.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsPlugin_de.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsPlugin_fr.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsPlugin_nl.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsSuggestPlugin.css -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsSuggestPlugin.html -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsSuggestPlugin.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsSuggestPlugin.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsSuggestPlugin_de.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsSuggestPlugin_fr.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/editor/RelatedDocsSuggestPlugin_nl.properties -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/providers/AbstractRelatedDocsProvider.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/providers/IRelatedDocsProvider.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/providers/ReferringRelatedDocsProvider.java -text
addon-cms/src/main/java/org/onehippo/forge/relateddocs/providers/SimilaritySearchRelatedDocsProvider.java -text
addon-cms/src/main/resources/hippoecm-extension.xml -text
addon-cms/src/main/resources/relateddocs-clusterloader.xml -text
addon-cms/src/main/resources/relateddocs-types.cnd -text
addon-cms/src/main/resources/relateddocsproviders.xml -text
hst/pom.xml -text
hst/src/main/java/org/onehippo/forge/beans/RelatedDocsBean.java -text
/pom.xml svneol=native#text/plain
