:host {
  display: block;
  height: 100%;

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep > iframe {
    height: 100%;
    width: 100%;
  }
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
::ng-deep .hidden {
  display: none;
}
