@import 'variables';

resize-handle {
  $handle-width: 14px;
  $handle-height: 80px;
  $handle-bg-color: #666;

  background-color: $handle-bg-color;
  border-radius: 10px;
  height: $handle-height;
  left: -5px;
  position: absolute;
  top: calc(50vh - 80px);
  width: $handle-width;
  z-index: 20000;

  &:hover {
    cursor: col-resize;
  }

  .handle-inner {
    background-image: url('../../../../../images/resize-handle-dots.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: $handle-width;
  }
}
