<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document PUBLIC
  "-//Apache Software Foundation//DTD XDOC 1.0//EN"
  "http://maven.apache.org/dtd/xdoc_1_0.dtd">
<!--
  Copyright 2008 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<document>
    <properties>
        <title>in Servlet Container</title>
    </properties>
    <body>
     <section name="in Servlet Container">
      <span class='shortdesc'>Get Hippo CMS up and running
       in a Java <span class='index' id='servlet_container'>servlet container</span>.</span>

       <p>
        To deploy Hippo CMS in a servlet container, the WAR package is used.
       </p>

      <subsection name="Deploying in Tomcat 5.5 or 6">

      <p>
       These deploying steps assume that you have Tomcat 5.5 or 6 installed.
       <a href='install_tomcat.html'>See here for Tomcat installation.</a>.
      </p>
      <p>
       Below, the Tomcat folder is called $TOMCATDIR.
       It may be something like /usr/local/share/apache-tomcat-6.0.18, depending of course where you
       put Tomcat and which version of Tomcat you have.
      </p>

      <h4>Install required libraries</h4>

      <blockquote>
       <table>
        <tr>
         <td>
            Download
         </td>
         <td>
          <span class='download-48 icon-48'/>
     </td>
        <td>
         <a href="${geronimo_jar_url}">geronimo-spec-jta</a> jar file
            and put it in <code>$TOMCATDIR/lib</code>.
    </td>

    </tr>
       </table>
      </blockquote>

      <h4>Deploy Hippo CMS WAR</h4>

      <blockquote>
       <table>
          <tr>
         <td>
            Download
     </td>
         <td>
          <span class='download-48 icon-48'/>
     </td>
   <td>
     Download the <a href='${quickstart_war_url}'>Hippo CMS package WAR</a>
     to the <code>$TOMCATDIR/webapps/</code> folder with the
     package file <a href='help_renamed.html'>renamed to</a> <code>cms.war</code>.
   </td>
  </tr>
  <tr>
   <td>Startup</td>
   <td>
    <span class='commandline-48 icon-48'/>
   </td>
   <td>
       Startup Tomcat <a href='install_tomcat.html#startup'>normally</a>. Tomcat will automatically deploy the <code>cms.war</code> and create an
       <code>cms</code> folder.
       If it fails see <a href='help_startup_servlet_container.html'>known issues</a>.
   </td>
   </tr>
  <tr>
   <td>Web Browser</td>
   <td>
    <span class='web-48 icon-48'/>
   </td>
  <td>
     Users can now open the local CMS site
     <a href="http://localhost:8080/cms/">http://localhost:8080/cms/</a> in 
     their browsers and login as user admin, with password admin.
     <a href='help_web_servlet_container.html'>Need help?</a>
  </td>
  </tr>
       </table>
      </blockquote>
     </subsection>
    </section>
   </body>
</document>
