@import '../../../../styles/variables';

$menu-icon-size: 24px;

:host {
  border-left: solid 1px $menu-bg;
  cursor: pointer;
  display: block;
  height: $menu-root-item-height;
  overflow: hidden;
  position: relative;
  text-align: left;

  .expanded-menu-item {
    display: block;
  }

  .collapsed-menu-item {
    display: none;
  }

  &.collapsed {
    .expanded-menu-item {
      display: none;
    }

    .collapsed-menu-item {
      display: block;
    }
  }

  &.active {
    background-color: $menu-sub-item-bg;
  }

  &:hover {
    background-color: $menu-hover-bg;
    width: $menu-width;

    &.collapsed {
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    }

    .expanded-menu-item {
      display: block;
    }

    .collapsed-menu-item {
      display: none;
    }

    .mat-icon {
      color: $menu-icon-active-color;
    }

    .caption {
      color: $menu-hover-text-color;
    }
  }
}

.mat-icon {
  color: $menu-icon-color;
  left: ($menu-collapsed-width - $menu-icon-size) / 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.caption {
  color: $menu-text-color;
  left: $menu-collapsed-width;
  line-height: $menu-root-item-height;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}
