.hst-container {
}

table.hst-container {
    width: 100%;
}

div.componentContentWrapper .hst-container .hst-dd-item .componentContentWrapper * {
    background: transparent;
}

.componentContentWrapper.hst-activated-container.hst-selected-container {
    border: 1px dashed red;
}

.empty-container-placeholder {
    height: 20px;
    font-size: 15px;
    padding: 6px 0 6px 4px;
}

div.hst-empty-container ul,
div.hst-empty-container ol {
    padding-left: 5px;
}

li.hst-empty-container-item {
    list-style: none;
}

li.placeholdert {
    list-style: none;
}

.hst-empty-container {
/*background-color: #999;*/
    border: 2px dashed #e3e3e3;
}

.ui-selectable .ui-selected {
    background: #F39814;
    color: white;
}

#switcher {
    position: absolute;
    left: 10px;
    top: 10px;
}

.hst-overlay {
    position: absolute;
    z-index: 99999;
}

.hst-overlay-hover {
    opacity: 0.6;
    background-color: #999;
}

.hst-overlay-container {
    background-color: #e3e3e3;
    opacity: 0.6;
}

.hst-overlay-containeritem {
    opacity: 0.6;
}

.hst-overlay-menu-button {
    width: 12px;
    height: 11px;

    margin-right: 2px;
    margin-top: 2px;

    -moz-border-radius: 2px;

    font-weight: bold;
    opacity: 0.4;
    font-size: 10px;
    float: right;

    cursor: pointer;
}

.hst-overlay-containeritem.hst-overlay-hover .hst-overlay-menu-button {
    opacity: 1;    
    color: black;
    background-color: white;
}

.hst-overlay.hst-selected-containerItem {
    background-color: #ffff00;
}

.hst-overlay.hst-selected-containerItem > div.hst-overlay-menu-button,
.hst-overlay-hover > div.hst-overlay-menu-button {
    visibility: visible; /*background-color: #e3e3e3;*/
}

/* Drag&Drop elements */
.hst-dd-helper {
    opacity: 1;
    background-color: black;
    width: 120px;
    height: 40px;
    color: white;
    border: 1px solid #e3e3e3;
}

.hst-dd-item {
    /* this is to stop collapsing margins */
    padding-top: 1px;
    margin-top: -1px;
}

