<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document PUBLIC
  "-//Apache Software Foundation//DTD XDOC 1.0//EN"
  "http://maven.apache.org/dtd/xdoc_1_0.dtd">
<!--
  Copyright 2007 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<document>
  <properties>
    <title>Community support</title>
  </properties>
  <body>
    <section name="Community Support">
  
      Apart from <a href="../index.html">this documentation</a> and <a href="http://www.onehippo.com/en/support">commercial support</a>,
      support can be obtained from the Hippo community:

<blockquote>
 <table>
  <tr>
   <td>Mail</td>
   <td>
     <span class='mail-48 icon-48'/> 
   </td>
   <td>
         <a href="../mail-lists.html">Hippo mailing list</a>Subscribe to our
          mailing list to get answers to your questions from
          many other users and Hippo developers.  
         <p>
          Allow for a few hours or days to receive answers. Allthough many questions
          are answered in the mailing list, no guarantees can be given.
	 </p>
         <p>
          Note that it is general mailing list etiquete to ask only after you checked
          that your question was not answered before, see the archive, below.
         </p>
   </td>
  </tr>
  <tr>
   <td>Mail archive</td>
   <td>
     <span class='archive-48 icon-48'/> 
   </td>
   <td>
        <a href="../mail-lists.html">Mailing list archive</a>: 
            The archive of all previously asked questions and their responses. 
   </td>
  </tr>
  <tr>
   <td>Issue Tracker</td>
   <td>
     <span class='issue-48 icon-48'/> 
   </td>
   <td> 
          <a href="../issue-tracking.html">${product_name} issue tracker</a>:
          Read here what issues the developers of ${product_name} have been and are currently working on.
         <p>  
          Only Hippo developers and some partners can open issues in the issue tracker, but 
          anyone can contact the developers by email. They are listed as administrators of the Hippo issue
          tracker at the <a href="http://issues.hippo.nl">Hippo issue tracker homepage</a>, with their
          email adresses (see the bottom of the Login box).            
	 </p>
   </td>
  </tr>
  <tr>
   <td>Wiki</td>
   <td>
     <span class='wiki-48 icon-48'/> 
   </td>
   <td> 
        <a href="http://${public_project_wiki}">${product_name} wiki</a>:  
           
        Here, you will find documentation contributed by other users and by Hippo developers.
   </td>
  </tr>
 </table>
</blockquote>

  </section>
 </body>
</document>