<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document PUBLIC
  "-//Apache Software Foundation//DTD XDOC 1.0//EN"
  "http://maven.apache.org/dtd/xdoc_1_0.dtd">
<!--
  Copyright 2008 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<document>
  <properties>
    <title>Community support</title>
  </properties>
  <body>
    <section name="Community Support">

       <span class='shortdesc'>Get support from the Hippo community</span>

 <subsection name='Community Support Tools'>
	<div class='nav'>
	 <table>
<!--	  <tr>
	   <td>Mail archive</td>
	   <td>
	     <span class='archive-48 icon-48'/> 
	   </td>
	   <td>
	    <a href="../mail-lists.html">Mailing list archive</a>: 
	    The archive of all previously asked questions and their responses. 
	    Note that it is general mailing list etiquete to mail questions only after you 
	    searched the archive. The archive may give you instant help.
	   </td>
	  </tr>-->
<!--	  <tr>
	   <td>Mail</td>
	   <td>
	     <span class='mail-48 icon-48'/> 
	   </td>
	   <td>
		 <a href="../mail-lists.html">Hippo mailing list</a>: Subscribe to our
		  mailing list to get answers to your questions from
		  many other users and Hippo developers.  
		 <br/>
		  Allow for a few hours or days to receive answers. Allthough many questions
		  are answered in the mailing list, no guarantees can be given. 
	   </td>
	  </tr>
-->
	  <tr>
	   <td>Public Forums</td>
	   <td>
	     <span class='multiuser-48 icon-48'/>
             <span class='rewrite'>add forum icon</span>
	   </td>
	   <td>
            <a href="./forums.html">Hippo CMS 7 Public Forums</a>: Get answers to your questions from
	    users and Hippo developers.
	    <br/>
	    Allow for a few hours or days to receive answers. Although many questions
	    are answered on the forums, no guarantees can be given.
	   </td>
	  </tr>
	  <tr>
	   <td>Issue Tracker</td>
	   <td>
	     <span class='issue-48 icon-48'/>
	   </td>
	   <td> 
		  <a href="${issue_tracker_homepage}">${product_name} issue tracker</a>:
		  Read here what issues the developers of ${product_name} have been and are currently working on.
	   </td>
          </tr>

	  <tr>
	   <td><a name='blogs'/>Blogs</td>
	   <td>
            <span class='user-48 icon-48'/>
            <span class='rewrite'>add blog icon</span>
	   </td>
	   <td>
            You can learn about the newest features, opinions and plans regarding the Hippo CMS, by
            reading the <a href="http://planet.hippocms.org/">blogs</a>.
	   </td>
	  </tr>

	  <tr>
	   <td><a name='forge'/>Forge</td>
	   <td>
	     <span class='forge-48 icon-48'/>
	   </td>
	   <td>
	     <a href="http://forge.onehippo.org/">Hippo Forge</a>
	     is a repository filled with all kinds of useful frontend and repository
	     plugins, which you can
	     <a href="http://www.onehippo.org/cms7/delve_into/sysadmin/installation/plugins.html">install</a>
	     and use.
	   </td>
	  </tr>

	  <tr>
	   <td>Wiki</td>
	   <td>
	     <span class='wiki-48 icon-48'/> 
	   </td>
	   <td> 
		<a href="${public_project_wiki}">${product_name} wiki</a>:
		Find documentation contributed by other users and by Hippo developers.
	   </td>
	  </tr>
	 </table>

	</div>
</subsection>

<subsection name='Alternatives'>
   You may also consult this documentation, acquire
   <a href="http://www.onehippo.com/en/support">commercial support</a> or
   <a href='./contributing.html'>contribute yourself</a>!.
 </subsection>

  </section>
 </body>
</document>
