<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document PUBLIC
  "-//Apache Software Foundation//DTD XDOC 1.0//EN"
  "http://maven.apache.org/dtd/xdoc_1_0.dtd">
<!--
  Copyright 2008 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<document>
 <properties>
  <title>Contributing</title>
 </properties>
  <body>
   <section name="Contributing">
    <span class='shortdesc'>Contribute to ${product_name}, either in code, documentation, support, bug reports, improvement requests
     or whatever form you think is useful.</span>

    <p>
      Contributions are very welcome!  
    </p>

<div class='nav'>
 <table>
  <tr>
   <td>Mail</td>
   <td>
     <span class='mail-48 icon-48'/> 
   </td>
   <td>
         <a href="../mail-lists.html">Hippo mailing list</a>:
            The Hippo developers will gladly discuss your
            proposals on the developers mailing list.
   </td>
  </tr>
 <!-- 
  Hippo developers should not be contacted personally, so contributions related to the issue tracker 
  are not possible/allowed.
  <tr>
   <td>Issue Tracker</td>
   <td>
     <span class='issue-48 icon-48'/>
   </td>
   <td>
          <a href="../issue-tracking.html">${product_name} issue tracker</a>:

          Only Hippo developers and some partners can open issues in the issue tracker, but 
          anyone can contact the developers by email. They are listed as administrators of the Hippo issue
          tracker at the <a href="${issue_tracker_homepage}">Hippo issue tracker homepage</a>, with their
          email adresses (see the bottom of the Login box).
   </td>
  </tr>
 -->
  <tr>
   <td>Wiki</td>
   <td>
     <span class='wiki-48 icon-48'/> 
   </td>
   <td> 
        <a href="http://${public_project_wiki}">${product_name} wiki</a>:
        We appreciate contributions of documenation on the public Wiki.
   </td>
  </tr>
  <tr>
   <td><a name='forge'/>Forge</td>
   <td>
     <span class='forge-48 icon-48'/> 
   </td>
   <td>
     <a href="http://forge.onehippo.org/">Hippo Forge</a>
     is a repository filled with all kinds of useful frontend and repository
     plugins. You are very welcome to 
     <a href="http://forge.onehippo.org/account/register.php">sign up</a> 
     and contribute your own plugin, code snippets, etc, for
     all to <a href="http://www.onehippo.com/delve_into/sysadmin/installation/plugins.html">install</a>
     and use.
   </td>
  </tr>
 </table>
</div>

 <subsection name='Alternative'>
   You may also just <a href='./community.html'>use the contributions</a>.
 </subsection>

</section>

    </body>
</document>
