<!-- (C) Copyright 2019 Bloomreach. All rights reserved. (https://www.bloomreach.com) -->

<div class="static-menu">
  <div class="top-elements">
    <brna-top-level-menu-item *ngFor="let item of menu$ | async"
                              [caption]="item.caption"
                              [icon]="item.icon"
                              [activeIcon]="item.icon  + '.active'"
                              [collapsed]="collapsed"
                              [pressed]="item === drawerMenuItem"
                              [active]="isMenuItemActive(item)"
                              (click)="onMenuItemClick($event, item)"
                              class="menu-item"
                              [ngClass]="getQaClass(item)">
    </brna-top-level-menu-item>
  </div>

  <div class="bottom-elements">
    <brna-top-level-menu-item caption="Help"
                              icon="help"
                              [collapsed]="collapsed"
                              class="menu-item"
                              [ngClass]="getQaClass('help')">
    </brna-top-level-menu-item>

    <brna-top-level-menu-item caption="User account"
                              icon="user"
                              [collapsed]="collapsed"
                              class="menu-item"
                              [ngClass]="getQaClass('user')">
    </brna-top-level-menu-item>

    <div class="trigger qa-menu-trigger" (click)="toggle()">
      <mat-icon *ngIf="collapsed" svgIcon="nav-expand"></mat-icon>
      <mat-icon *ngIf="!collapsed" svgIcon="nav-collapse"></mat-icon>
    </div>
  </div>
</div>
<brna-menu-drawer *ngIf="isDrawerOpen" [config]="drawerMenuItem"></brna-menu-drawer>
<brna-overlay></brna-overlay>
