@import 'variables';
@import 'mixins';

:host {
  display: grid;
  position: relative;
}

.static-menu {
  align-content: space-between;
  background-color: $menu-bg;
  display: grid;
  font-size: 14px;
}

.top-elements,
.bottom-elements {
  padding: 10px 0;
}

.trigger {
  cursor: pointer;
  display: grid;
  grid-template-columns: $menu-collapsed-width;
  height: $menu-root-item-height;
  place-items: center center;
}
