<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<!--
    * Copyright 2007 Hippo
    *
    * Licensed under the Apache License, Version 2.0 (the  "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    * http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
-->
<web-app id="hippo-ecm-frontend-application">

    <!-- General configuration -->
    <display-name>Hippo ECM frontend application</display-name>
    <description>Minimal frontend application that connects to a remote repository.</description>

    <context-param>
        <param-name>repository-address</param-name>
        <param-value>rmi://localhost:1099/hipporepository</param-value>
    </context-param>

    <filter>
        <filter-name>ConcurrentLogin</filter-name>
        <filter-class>org.hippoecm.frontend.plugins.login.ConcurrentLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ConcurrentLogin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.hippoecm.frontend.plugins.login.ConcurrentLoginListener</listener-class>
    </listener>

    <!--Default application-->
    <servlet>
        <servlet-name>CMS</servlet-name>
        <servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>org.hippoecm.frontend.Main</param-value>
        </init-param>
        <init-param>
            <param-name>configuration</param-name>
            <param-value>deployment</param-value>
        </init-param>
        <init-param>
            <param-name>upload-limit</param-name>
            <param-value>4096k</param-value>
        </init-param>
        <init-param>
            <param-name>repository-address</param-name>
            <param-value>vm://</param-value>
        </init-param>
    </servlet>

    <!--Builtin console-->
    <servlet>
        <servlet-name>Console</servlet-name>
        <servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>org.hippoecm.frontend.Main</param-value>
        </init-param>
        <init-param>
            <param-name>config</param-name>
            <param-value>builtin</param-value>
        </init-param>
        <init-param>
            <param-name>configuration</param-name>
            <param-value>deployment</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>CMS</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Console</servlet-name>
        <url-pattern>/console/*</url-pattern>
    </servlet-mapping>

    <!-- Timeout in minutes -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>
