.marketing-perspective .persona-grid { border-right: 1px solid #B3B3B3; }
.marketing-perspective .persona-grid .x-grid3-scroller { overflow-x: hidden; }
.marketing-perspective .persona-grid .x-grid3-col-avatar { padding-left: 2px; padding-right: 2px; }
.marketing-perspective .persona-details .persona-name { font-size: 140% }
.marketing-perspective .persona-details .persona-description { padding: 3px 0 3px 0; }
