<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document PUBLIC
  "-//Apache Software Foundation//DTD XDOC 1.0//EN"
  "http://maven.apache.org/dtd/xdoc_1_0.dtd">
<!--
  Copyright 2008 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<document>
 <properties>
  <title>Quickstart Steps</title>
 </properties>

<body>
<section name="Quickstart Steps">
 <span class='shortdesc'>Quickly install and use standard Hippo CMS with example content.</span>

 <p>
  This quickstart works on all modern, standard computer systems.
 </p>


<subsection name='Install standard Hippo CMS with example content'>

<div class='nav'>
 <table>
  <tr>
   <td>Download</td>
   <td>
     <span class='download-48 icon-48'/> 
   </td>
   <td>
    Download the
    <a href="${quickstart_zip_package_url}">zipped quickstart package that includes the Jetty application container</a>
    (if you prefer the <a href="${quickstart_targz_package_url}">tar.gz</a>, take that).
   </td>
  </tr>
  <tr>
   <td>Unzip</td>
   <td>
     <span class='unzip-48 icon-48'/> 
   </td>
   <td>
     Unzip the downloaded file (name starts with `<span class='expire_event'>release after M6.4 (13536)</span>hippo-ecm-quickstart-bin'). 
     A hippo-ecm folder is created.
   </td>
  </tr>
 </table>
</div>

</subsection>

<subsection name='Using standard Hippo CMS with example content'>

<div class='nav'>
 <table summary='First column= step number, second column= action icon, third column= action description'>
  <tr>
   <td><a name='startup'/>Startup</td>
   <td>
    <span class='commandline-48 icon-48'/> 
   </td>
   <td>
     Open a command line interface and start the script hippo-ecm/startup.bat (on MS systems) 
     or hippo-ecm/startup.sh (on Unices). 
     The text 
     
       <samp>INFO: Started SelectChannelConnector@127.0.0.1:8080</samp>

     indicates Hippo CMS has started.
     The script will continue running, until you are done.
     <a href='./bin_startup_help.html'>Need Help?</a>
   </td>
  </tr>
  <tr>
   <td>Web Browser</td>
   <td>
     <span class='web-48 icon-48'/> 
   </td>
  <td>
   Open <span class='to_index' id='localhost'/><span class='to_index' id='number_8080'/><a href='http://localhost:8080/cms/'>http://localhost:8080/cms/</a> 
   in your (this) webbrowser.
   A window `Sign In, Hippo CMS 7' will open.
   As username use `admin' and as password use also `admin'.
  </td>
  </tr>
  <tr>
   <td>Tryout</td>
   <td>
     <span class='user-48 icon-48'/> 
   </td>
   <td>
     Try out Hippo CMS!
     Use the <a href="user/index.html">CMS User Guide</a> for help.  
   </td>
  </tr>
  <tr>
   <td>Quit</td>
   <td>
    <span class='logout-48 icon-48'/> 
   </td>
   <td>
     Quit Hippo CMS by Ctrl-C in the command line interface where the startup script is still running.
     The text 
       <samp>INFO: Shutdown hook executing</samp> indicates Hippo CMS is shutting down.
   </td>
  </tr>
 </table>
</div>

 </subsection>

 <subsection name='Alternatives' title='What can you do instead of the above?'>
  
  You can also <a href='quickstart_in_existing_container.html'>deploy Hippo CMS in your already installed
  Java application container</a>.
 </subsection>

 <subsection name='Next' title='What can you do after you did the above?'>

 <blockquote>
  <table>
   <tr>
    <td>User</td>
    <td>
     <span class='user-48 icon-48'/> 
    </td>
    <td>
     Learn more about Hippo CMS
     in the <a href="user/index.html">CMS User Guide</a>.  
    </td>
   </tr>
   <tr>
    <td>Administrator</td>  
    <td>
     <span class='admin-48 icon-48'/> 
    </td>
    <td>An installed quickstart package may be adapted for
     production, see the <a href="sysadmin/index.html">Installation &amp; Configuration</a>.  
    </td>
   </tr>
  </table>
 </blockquote>

 </subsection>


  </section>
 </body>
</document>

