@import '../../../../styles/variables';

:host {
  display: block;
  font-size: $menu-sub-menu-font-size;

  &.active .menu-item-link {
    color: $menu-active-text-color;
  }
}

.menu-item-link {
  color: $menu-text-color;
  text-decoration: none;
}
