* text=auto !eol
bootstrap/configuration/pom.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/configuration/modules/autoexport-module.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/configuration/modules/eventlogcleanup-module.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/configuration/queries/templates/new-events-document.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/configuration/queries/templates/new-events-folder.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/configuration/queries/templates/new-news-document.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/configuration/queries/templates/new-news-folder.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/channels.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/abstractpages.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/catalog.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/components.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/pages.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/prototypepages.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/sitemap.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/sitemenus.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/templates.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/workspace.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/workspace/containers.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/workspace/pages.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/workspace/sitemap.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboard-document-wizard-demo/workspace/sitemenus.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboarddocumentwizarddemo/abstractpages/base.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboarddocumentwizarddemo/pages/eventslist.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboarddocumentwizarddemo/pages/eventspage.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboarddocumentwizarddemo/pages/homepage.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboarddocumentwizarddemo/pages/newslist.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboarddocumentwizarddemo/pages/newspage.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/dashboarddocumentwizarddemo/pages/pagenotfound.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/default/catalog.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/default/templates.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/hosts.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/sites.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/dashboard-document-wizard-demo.cnd -text
bootstrap/configuration/src/main/resources/namespaces/dashboard-document-wizard-demo.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/dashboard-document-wizard-demo/basedocument.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/dashboarddocumentwizarddemo/eventsdocument.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/dashboarddocumentwizarddemo/newsdocument.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/configuser-read-everywhere.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/group-liveusers.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/group-previewusers.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/group-sitewriters.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-author.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-configuser.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-editor.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-liveuser.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-previewuser.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-sitewriter.xml svneol=native#text/plain
bootstrap/content/pom.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/dashboard-shortcut/newEventShortcut.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/dashboard-shortcut/newNewsItemShortcut.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/documents/administration.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/documents/administration/labels.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/documents/dashboard-document-wizard-demo.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/documents/dashboarddocumentwizarddemo/events.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/documents/dashboarddocumentwizarddemo/news.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/documents/valuelists.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/gallery/dashboard-document-wizard-demo.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/gallery/dashboarddocumentwizarddemo/samples.xml svneol=native#text/plain
bootstrap/content/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
bootstrap/pom.xml svneol=native#text/plain
cms/pom.xml svneol=native#text/plain
cms/src/main/resources/org/hippoecm/frontend/plugins/standardworkflow/new-events-folder-16.png -text svneol=unset#image/png
cms/src/main/resources/org/hippoecm/frontend/plugins/standardworkflow/new-news-folder-16.png -text svneol=unset#image/png
cms/src/main/webapp/WEB-INF/web.xml svneol=native#text/plain
conf/context.xml svneol=native#text/plain
conf/log4j-dev.xml svneol=native#text/plain
conf/log4j-prod.xml svneol=native#text/plain
essentials/pom.xml svneol=native#text/plain
essentials/src/main/resources/documentWizardPlugin.xml svneol=native#text/plain
essentials/src/main/resources/eventsPlugin.xml svneol=native#text/plain
essentials/src/main/resources/newsPlugin.xml svneol=native#text/plain
essentials/src/main/resources/project-settings.xml svneol=native#text/plain
essentials/src/main/webapp/WEB-INF/web.xml svneol=native#text/plain
/pom.xml svneol=native#text/plain
site/pom.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/hst-cms-rest.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/jndi-repository.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/template-composer-rest.xml svneol=native#text/plain
site/src/main/webapp/META-INF/context.xml svneol=native#text/plain
site/src/main/webapp/WEB-INF/jspf/htmlTags.jspf -text
site/src/main/webapp/WEB-INF/jspf/taglibs.jspf -text
site/src/main/webapp/WEB-INF/web.xml svneol=native#text/plain
site/src/main/webapp/fonts/glyphicons-halflings-regular.eot -text
site/src/main/webapp/fonts/glyphicons-halflings-regular.ttf -text
site/src/main/webapp/fonts/glyphicons-halflings-regular.woff -text
site/src/main/webapp/images/button_edit.gif -text
site/src/main/webapp/images/catalog-list.png -text svneol=unset#image/png
site/src/main/webapp/images/essentials/catalog-component-icons/events-list.png -text svneol=unset#image/png
site/src/main/webapp/images/essentials/catalog-component-icons/news-list.png -text svneol=unset#image/png
site/src/main/webapp/images/glyphicons-halflings-white.png -text svneol=unset#image/png
site/src/main/webapp/images/glyphicons-halflings.png -text svneol=unset#image/png
site/src/main/webapp/images/hippo.gif -text
site/src/main/webapp/images/onehippo.gif -text
