* text=auto !eol
/LICENSE -text
/NOTICE -text
component/pom.xml svneol=native#text/plain
content/pom.xml svneol=native#text/plain
content/src/main/resources/component.xml svneol=native#text/plain
content/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
content/src/main/resources/news-sitemap-component.xml svneol=native#text/plain
content/src/main/resources/sitemap-based-on-hst-sitemap-component.xml svneol=native#text/plain
content/src/main/resources/sitemap-entry.xml svneol=native#text/plain
content/src/main/resources/sitemap-index-component.xml svneol=native#text/plain
content/src/main/resources/template.xml svneol=native#text/plain
/pom.xml svneol=native#text/plain
src/site/resources/sitemapxml.jpg -text svneol=unset#image/jpeg
src/site/site.xml svneol=native#text/plain
src/site/xdoc/basicsitemap.xml svneol=native#text/plain
src/site/xdoc/build-demo.xml svneol=native#text/plain
src/site/xdoc/hstsitemapcrawler.xml svneol=native#text/plain
src/site/xdoc/index.xml svneol=native#text/plain
src/site/xdoc/newssitemap.xml svneol=native#text/plain
src/site/xdoc/release-notes.xml svneol=native#text/plain
src/site/xdoc/sitemapindex.xml svneol=native#text/plain
src/site/xdoc/usage.xml svneol=native#text/plain
