* text=auto !eol
/LICENSE -text
/NOTICE -text
component/pom.xml svneol=native#text/plain
content/pom.xml svneol=native#text/plain
content/src/main/resources/component.xml svneol=native#text/plain
content/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
content/src/main/resources/news-sitemap-component.xml svneol=native#text/plain
content/src/main/resources/sitemap-based-on-hst-sitemap-component.xml svneol=native#text/plain
content/src/main/resources/sitemap-entry.xml svneol=native#text/plain
content/src/main/resources/sitemap-index-component.xml svneol=native#text/plain
content/src/main/resources/template.xml svneol=native#text/plain
/pom.xml svneol=native#text/plain
