/*
 * Copyright 2013 Hippo B.V. (http://www.onehippo.com)
 */

@import "bootstrap.css";

@import "font/fonts.css";

/* Style for onehippo.com */

/* TYPOGRAPHY */

/*
//############################################
// CHANGES PLUGIN
//############################################

*/

body {
    font-family: RobotoRegular, Arial, sans-serif;
    font-size: 14px;
    color: #4f5e67;
}

.pagination{
    background-color: #F5F5F5;
}

.navbar-search .search-query{
    background-color: #F5F5F5;
    border: 1px solid #8DB6C9;
    color: #4f5e67;
}
.gray{
    background-color: #F5F5F5;
}
.white{
    background-color: #FFF;
}

.spacer{
    margin-top: 25px;
    margin-bottom: 25px;
}

/*
//############################################
// END PLUGIN CHANEGS
//############################################

*/

#header-search, #lang-select {
    font-size: 12px;
    color: #254050;
    text-transform: none;
}

/*TODO Move this block with the rest #mainmenu stuff? */

#mainmenu a {
    font-size: 12px;
    text-transform: uppercase;
    color: #254050;
}

#mainmenu .active a {
    color: #ea2d33;
}

#mainmenu .active .submenu a, #mainmenu .hover .submenu a {
    font-size: 11px;
    text-transform: uppercase;
    color: #7B878D;
}

h1 {
    font-size: 38px;
    line-height: 38px;
    font-weight: normal;
}

h2 {
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;

}

h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

h1, h2{
    padding-top: 15px;
    padding-bottom: 15px;
}



p {
    font-size: 14px;
}

a {
    font-size: 14px;
}

.date {
    font-size: 11px;
    color: #6c8fa1;
    text-transform: uppercase;
}

.intro {
    font-size: 14px;
    font-weight: bold;
    color: #4f5e67;
}

.intro p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.intro a {
    font-size: 18px;
}

.block h2 {
    color: #4f5e67;
}



#blogs .intro p {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

#blogs .intro .author {
    font-size: 11px;
    color: #6c8fa1;
    text-transform: uppercase;
}

/*GENERAL*/
.btn-group .dropdown-menu {
    width: 100%;
}

.btn, .btn-group > .btn {
    font-size: 11px;
    text-transform: uppercase;
}

.btn-blue, .btn-red, .btn-green {
    background-image: none;
}

.btn-group > .btn.top-left-corner, .top-left-corner {
    border-radius: 0 10px 10px 10px;
    -webkit-border-radius: 0 10px 10px 10px;
}

.btn-group > .btn.top-right-corner, .top-right-corner {
    border-radius: 10px 0 10px 10px;
    -webkit-border-radius: 10px 0 10px 10px;
}

.btn-group > .btn.bottom-left-corner, .bottom-left-corner {
    border-radius: 10px 10px 10px 0;
    -webkit-border-radius: 10px 10px 10px 0;
}

.btn-group > .btn.bottom-right-corner, .bottom-right-corner {
    border-radius: 10px 10px 0 10px;
    -webkit-border-radius: 10px 10px 0 10px;
}

table.top-left-corner, .block.top-left-corner {
    border-radius: 0 20px 20px 20px;
    -webkit-border-radius: 0 20px 20px 20px;
}

table.top-right-corner, .block.top-right-corner {
    border-radius: 20px 0 20px 20px;
    -webkit-border-radius: 20px 0 20px 20px;
}

table.bottom-left-corner, .block.bottom-left-corner {
    border-radius: 20px 20px 20px 0;
    -webkit-border-radius: 20px 20px 20px 0;
}

table.bottom-right-corner, .block.bottom-right-corner {
    border-radius: 20px 20px 0 20px;
    -webkit-border-radius: 20px 20px 0 20px;
}

p {
    margin-top: 0;
}

/* HEADER */
#header {
    padding: 10px 0 0 0;
    background: #FFFFFF;
    border-bottom: 1px solid #D2DBE0;
    position: relative;
}

#header .form-search {
    margin: 0;
    float: right;
}

#header-search {
    font-size: 11px;
}

#header .btn-group {
    float: right;
}

#header .btn-group > .dropdown-menu {
    font-size: 11px;
}

#header .btn-group .community {
    margin-left: 10px;
}

#top-nav {
    float: right;
    clear: right;
    padding: 0;
}

#top-nav li {
    display: inline;
    padding-left: 7px;
    padding-right: 5px;
    border-left: #A7A7A7 1px solid;
    text-transform: uppercase;
    font-size: 11px;
}

#top-nav li a {
    font-size: 11px;
}

#top-nav .first {
    border: none;
    color: #666666;
}

#top-nav .last {
    padding-right: 0;
}

#lang-select {
    background: transparent;
    display: block;
    text-align: left;
    position: relative;
    padding-right: 25px;
}

#lang-select #current-flag {
    padding-right: 5px;
}

#lang-select .caret {
    position: absolute;
    right: 10px;
}

#header label {
    display: none;
}

#header .search-submit {
    background: #FFFFFF;
}

#hippologo a {
    display: block;
    width: 75px;
    height: 87px;
    position: relative;
    bottom: -4px;
    background: url('../images/hippo-logo.png') no-repeat 0 6px;
}

#hippologo a:hover, #hippologo a.active {
    background: url('../images/hippo-logo-with-arrow.png') no-repeat;
}

.mainmenu-wrapper {
    position: relative;
}

#mainmenu {
    float: right;
    margin: 0;
}

#mainmenu .first {
    margin-left: 0;
}

#mainmenu a {
    padding: 8px 22px 18px;
    margin: 0;
    position: relative;
    bottom: -1px;
    z-index: 13;
}

#mainmenu .active a, #mainmenu .hover a {
    background: url('../images/menu-item-arrow.png') no-repeat center bottom transparent;
    color: #ea2d33
}

#submenubg {
    display: none;
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 54px;
    z-index: 10;
}

#submenubg.active {
    display: block;
    border-top: 1px solid #D2DBE0;
    border-bottom: 1px solid #D2DBE0;
}

.submenu {
    display: none;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 11;
}

.submenu ul {
    float: left;
    padding: 0;
    margin: 0;
}

#mainmenu .hover .submenu, #mainmenu .active .submenu {
    display: block;
}

#mainmenu .active .submenu a, #mainmenu .hover .submenu a {
    background: none;
}

#header .active .submenu a:hover, #header .active .submenu .active, #header .hover .submenu a:hover, #header .hover .submenu .active {
    color: #ea2d33;
    background: transparent;
}

.submenu li {
    width: 105px;
}

.nav > li > a:hover {
    background: transparent;
}

/* MAIN CONTENT */
#content {
    background: #F5F5F5;
    border-bottom: 1px solid #D2DBE0;
    padding-top: 64px;
}

#calltoaction {
    background: #ffffff;
    padding-bottom: 30px;
}

/* blocks in calltoaction/sidebars*/
.block {
    background: #FFFFFF;
    padding: 20px;
}

.block h2 {
    margin-top: 0;
}

.block .btn-group {
    text-align: center;
}

.block ul {
    margin: 0;
    padding: 0;
}

.block ul li {
    list-style: none outside none;
    padding-left: 15px;
    background: url('../images/list-item-arrow.png') no-repeat left center;
}

.block ul li a {
    color: #4F5E67;
}

.block ol {
    margin: 0 0 14px 0;
    padding: 0 0 0 20px;
}

.block ol li {
    list-style: decimal outside none;
}

.block ul li a {
    color: #4F5E67;
}

.sideColumn .block {
    margin-bottom: 20px;
}

#calltoaction .block {
    position: relative;
    padding: 20px 0 35px;
}

#calltoaction .block .btn-group {
    position: absolute;
    bottom: 0;
    left: 0;
}

#calltoaction .block .btn {
    width: 77px;
    padding-top: 0;
    padding-bottom: 0;
}

#calltoaction a.question {
    display: block;
    background: url('../images/question-arrow.jpg') no-repeat 195px center #FBFBFB;
    border: 1px solid #DADADA;
    padding: 6px 10px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: #4F5E67;
    margin-bottom: 15px;
}

#calltoaction a.question:hover {
    text-decoration: none;
    background-color: #F0F0F0;
}

/* FOOTER */
#footer {
    padding-bottom: 20px;
    background: #4F5E67;
    color: #ffffff;
}

#footer .row {
    padding: 20px 0;
}

#footer span {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #efefef;
}

#footer .meet-us a {
    font: 12px Arial, sans-serif;
    color: #efefef;
    display: inline-block;
    padding-top: 38px;
    margin: 5px 10px;
    text-align: center;
    width: 70px;
    cursor: pointer;
}

#footer .meet-us .first {
    margin-left: 0;
}

.blog {
    background: url('../images/blog.jpg') no-repeat top center transparent;
}

.blog:hover {
    background: url('../images/blog-hover.jpg') no-repeat top center transparent;
}

.newsrss {
    background: url('../images/rss.jpg') no-repeat top center transparent;
}

.newsrss:hover {
    background: url('../images/rss-hover.jpg') no-repeat top center transparent;
}

.twitter {
    background: url('../images/twitter.jpg') no-repeat top center transparent;
}

.twitter:hover {
    background: url('../images/twitter-hover.jpg') no-repeat top center transparent;
}

.facebook {
    background: url('../images/fb.jpg') no-repeat top center transparent;
}

.facebook:hover {
    background: url('../images/fb-hover.jpg') no-repeat top center transparent;
}

.linkedin {
    background: url('../images/linkedin.jpg') no-repeat top center transparent;
}

.linkedin:hover {
    background: url('../images/linkedin-hover.jpg') no-repeat top center transparent;
}

.watch {
    background: url('../images/vimeo.jpg') no-repeat top center transparent;
}

.watch:hover {
    background: url('../images/vimeo-hover.jpg') no-repeat top center transparent;
}

.googleplus {
    background: url('../images/google.jpg') no-repeat top center transparent;
}

.googleplus:hover {
    background: url('../images/google-hover.jpg') no-repeat top center transparent;
}

.footer-menu a {
    padding-left: 8px;
    color: #ffffff;
    background: url('../images/footermenu-arrow.jpg') no-repeat left 1px transparent;
    font-size: 11px;
}

#footermenu a.active, #footermenu a:hover, #footermenu .footer-submenu a:hover {
    color: #ffffff;
    text-decoration: none;
}

#footermenu {
    margin: 0;
    padding: 0;
}

#footermenu li {
    list-style: none outside none;
    float: left;
    margin-left: 40px;
    width: 110px;
}

#footermenu li a {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

#footermenu .first {
    margin-left: 0;
}

#footermenu .footer-submenu {
    margin: 0;
    padding: 0;
}

#footermenu .footer-submenu li {
    margin: 0;
    padding: 0;
}

#footermenu .footer-submenu a {
    color: #8DB6C9;
    background: none;
    padding: 0;
}

#footer .offices a {
    margin-top: 3px;
    font: 12px Arial, sans-serif;
    color: #8DB6C9;
    display: block;
}

#footer .legal p {
    display: inline-block;
    font: 11px Arial, sans-serif;
    margin: 3px 0 0 20px;
    float: right;
}

#footer .legal a {
    font-size: 11px;
    color: #8DB6C9;
    text-decoration: none;
}

#footer .legal a:hover {
    text-decoration: none;
}

#footer .line {
    display: block;
    border-top: 1px solid #697780;
}

/* Try & Buy */
#trybuy {
    z-index: 21;
}

#trybuy .tabclosed {
    position: fixed;
    right: 0;
    top: 300px;
    display: block;
    background: #F5EF4D;
    padding: 5px 0;
    border: 1px solid #C6C9CA;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
}

#trybuy .switch img {
    border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
}

#trybuy .social {
    padding: 10px 0;
    display: block;
}

#trybuy .social a {
    padding: 12px;
    display: block;
    margin-bottom: 7px;
}

#trybuy .social .linkedin {
    margin-bottom: 0;
}

#trybuy .tabopen {
    position: fixed;
    right: 0;
    top: 50px;
    display: none;
    z-index: 9101;
    background: #E7E8EA;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
}

.tabopen .content {
    float: left;
    background: #ffffff;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    padding: 35px 0 35px 35px;
}

.tabopen .switch {
    position: absolute;
    left: -33px;
    top: 250px;
}

.tabopen .left {
    float: left;
    width: 170px;
    padding-right: 35px;
}

.tabopen .left img {
    display: block;
    margin-bottom: 30px;
}

.tabopen .left h3 {
    margin-bottom: 10px;
}

.tabopen .left .btn {
    margin-bottom: 30px;
}

.tabopen .contact {
    float: left;
    width: 530px;
    padding: 0 50px 0 15px;
}

.tabopen .contact h2 {
    margin-top: 0;
}

.tabopen .contact input {
    width: 193px;
}

.tabopen .contact select {
    width: 207px;
}

.tabopen .contact textarea {
    width: 404px;
}

.tabopen .contact .btn {
    float: right;
    margin-bottom: 9px;
}

.tabopen .contact .controls-div {
    display: inline-block;
    width: 418px;
}

.tabopen .emailcontact {
    position: relative;
    top: 79px;
    width: 78px;
}

#trybuy .tabopen .social {
    float: left;
    width: 185px;
    margin-top: 155px;
    padding-left: 12px;
}

#trybuy .tabopen .social {
}

.overlaymask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.8;
    z-index: 9100;
    width: 100%;
    height: 100%;
}

/* HOMEPAGE  */
/* Scroll stuff */
#home #header {
    position: fixed;
    z-index: 9000;
    width: 100%;
}

#home #main {
    position: relative;
    top: 127px;
    margin-bottom: 127px;
}

#home #content {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    padding-bottom: 30px;
}

/* If you want the page header fixed. But it will overlap the bottom if scrolling down on a small window*/
#home .page-header {
    background: #F5F5F5;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    width: 940px;
    margin-top: 0;
    padding-top: 54px;
    border: none;
    top: 128px;
}

#home #content {
    padding-top: 0;
}

#h-blocks-wrap {
    overflow: hidden;
    width: 100%;
}

#h-blocks {
    position: relative;
    padding-bottom: 142px;
    top: 142px;
    z-index: 1;
    width: 940px;
    margin: 0 auto;
    left: 0;
}

#h-blocks .hst-container-item {
    position: absolute;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: transparent;
    width: 180px;
    max-height: 250px;
    overflow: hidden;
    cursor: pointer;
}

#h-blocks .overflow {
    padding-top: 40px;
}

.h-block {
    position: relative;
}

.h-block .block-content {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #ffffff;
    overflow: visible;
}

.h-block .block-content .img-wrap {
    position: relative;
    float: left;
    left: 50%;
    top: -40px;
}

.h-block .block-content img {
    position: relative;
    float: right;
    right: 50%;
}

.h-block .block-content a {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333f46;
    display: block;
    padding: 40px 20px 10px;
    clear: both;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.h-block .block-content a:hover {
    text-decoration: none;
}

.overflow .block-content a {
    padding-top: 0;
}

.gridrow {
    height: 250px;
    overflow: hidden;
    width: 100%;
}

/* Product page */

#product-trail .page-header h1 {
    margin-bottom: 15px;
    margin-left: 20px;
}

#product-trail .top {
    background: transparent;
}

#product-trail .talks {
    background: #ffffff;
    padding-top: 40px;
}

#product-trail .talks .btn {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 20px;
}

#product-trail .talk {
    background: url('../images/bluedot.jpg') repeat-y right top;
}

#product-trail .media {
    padding: 0 15px;
}

#product-trail .quote {
    padding: 30px;
    margin: 20px 0;
    background: #f5f5f5;
    border-radius: 0 20px 20px 20px;
    -webkit-border-radius: 0 20px 20px 20px;
}

#product-trail .quote p {
    font-size: 22px;
    color: #ea2d33;
    line-height: 34px;
    margin-bottom: 0;
}

#product-trail .talk-content {
    padding: 0 15px
}

.talk-content .expandable {
    margin: 0;
    padding: 0;
}

.talk-content h2 {
    margin-top: 0;
}

.expandable li {
    list-style: none outside none;
    margin-bottom: 15px;
    min-height: 23px;
}

.text .expandable li {
    list-style: none outside none;
    margin-bottom: 30px;
    min-height: 23px;
}

.expandable .closed a {
    background: url('../images/extendable-plus.png') no-repeat left top;
}

.expandable .open a {
    background: url('../images/extendable-minus.png') no-repeat left top;
}

.expandable h3 a {
    color: #4F5E67;
    padding-left: 44px;
    display: block;
    min-height: 24px;
}

.expandable h3 a:hover {
    text-decoration: none;
}

.expandable h3 span {
    width: 45px;
    font-size: 34px;
    font-weight: normal;
    color: #EE5F5B;
    padding: 0 10px 0 0;
}

.expandable h3 {
    font-size: 24px;
    float: left;
    margin: 0;
    cursor: pointer;
}

.expandable .text {
    clear: left;
    padding-left: 82px;
    padding-top: 10px;
}

.downloads .expandable {
    padding: 0;
    margin: 0;
}

.downloads .expandable li {
    margin-bottom: 0;
}

.downloads .expandable .text {
    padding: 10px 0 0 0;
}

/* styling for articles */
.text h1, .text h2, .text h3 {
    display: block;
    float: none;
    margin-top: 0;
}

.text h3 {
    font-size: 14px;
}

.text p {
    margin-bottom: 25px;
}

.text ol, .text ul {
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: normal;
}

.text ol ol, .text ol ul, .text ul ol, .text ul ul {
    margin-bottom: 0;
}

.text ul li {
    list-style: disc outside none;
    margin: 0 0 15px 0;
}

.text ol li {
    list-style: decimal outside none;
    margin: 0 0 15px 0;
}

.text table {
    margin-bottom: 14px;
}

.text td, th {
    border: 1px solid #000000;
    padding: 5px;
}

.textpage .text table {
    margin: 0;
}

.textpage .text table table {
    margin-bottom: 14px;
}

.textpage .text table th, .textpage .text table td {
    border: 0;
    padding: 0;
}

.textpage .text table table th, .textpage .text table table td {
    border: 1px solid #000000;
    padding: 5px;
}

.textpage .page-header h1 {
    margin-bottom: 15px;
}

#product-trail .anchor {
    display: block;
    clear: both;
}

#product-trail .finally {
    padding-top: 40px;
    background: url('../images/finally-dots.png') no-repeat 53px 0 transparent;
}

#product-trail .bottom {
    padding-bottom: 30px;
}

.banner {
    position: relative;
    padding-bottom: 15px;
}

.banner .bannertext {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 300px;
}

.banner p {
    font-weight: bold;
}

.banner h2 {
    margin-top: 0;
}

#product-trail .links-step1 {
    position: relative;
    height: 125px;
    background: url('../images/links1-dots.png') no-repeat;
}

#product-trail .links-step2 {
    position: relative;
    height: 141px;
    background: url('../images/links2-dots.png') no-repeat;
}

#product-trail .end {
    height: 85px;
    background: url('../images/end-dots.png') no-repeat;
}

#product-trail .question-dots {
    height: 75px;
    background: url('../images/question-dots.png') no-repeat;
}

.link1, .link2 {
    padding: 7px 13px;
    text-decoration: none;
    width: 118px;
    line-height: 1;
    font-size: 12px;
}

.links-step1 .link1 {
    position: absolute;
    top: 17px;
    left: 628px;
}

.links-step1 .link2 {
    position: absolute;
    top: 54px;
    left: 628px;
}

.links-step2 .link1 {
    position: absolute;
    top: 25px;
    left: 628px;
}

.links-step2 .link2 {
    position: absolute;
    top: 61px;
    left: 628px;
}

.finally-links a {
    font-size: 11px;
    display: block;
    background: #ffffff;
    border-radius: 20px 20px 20px 0;
    -webkit-border-radius: 20px 20px 20px 0;
    margin-bottom: 18px;
    padding: 13px 23px 13px 90px;
    text-transform: uppercase;
}

.finally-links a:hover {
    text-decoration: none;
}

.finally-links .subscribe {
    background: url('../images/subscribe-button.png') no-repeat 23px center #ffffff;
}

.finally-links .download {
    background: url('../images/download-button.png') no-repeat 23px center #ffffff;
}

.finally-links a span {
    font-weight: bold;
}

.questions {
    padding: 30px;
    background: #D9D9D9;
    border-radius: 0 20px 20px 20px;
    -webkit-border-radius: 0 20px 20px 20px;
}

.questions h1 {
    margin-top: 0;
}

.textpage .questions {
    background: transparent;
}

.textpage .question {
    margin-bottom: 20px;
}

#question {
    width: 430px;
    height: 31px;
}

.questions .btn {
    height: 40px;
}

.finally .form-search .input-append .question-search {
    width: 115px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.finally .questions span {
    display: block;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 10px;
}

.nextup {
    padding: 20px 0;
    position: relative;
    background: #ffffff;
    border-radius: 0 20px 20px 20px;
    -webkit-border-radius: 0 20px 20px 20px;
}

.nextup .title {
    padding-left: 20px;
}

.nextup .title span {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: #45B3E3;
}

.nextup .title p, .nextup .text {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.nextup .title h2 {

    font-size: 38px;
    font-weight: normal;
    line-height: 38px;
    color: #3DB7E9;
    margin: 0;
}

.nextup .link {
    padding-right: 20px;
}

.nextup .link .btn {
    width: 150px;
    padding: 16px 25px;
    float: right;
}

.nextup .nextup-img {
    position: absolute;
    right: 50px;
    top: -191px;
}

.nextup .text p {
    margin-bottom: 0;
}

/* Zoho form styling */

.zoho-form {
    display: none;
    width: 564px;
    background: #ffffff;
    border-radius: 20px 0 20px 20px;
    -webkit-border-radius: 20px 0 20px 20px;
    padding: 40px 30px;
    margin-left: -282px;
}

.zoho-form h2 {
    margin-top: 0;
}

.zoho-form .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: url('../images/close.png') no-repeat;
    opacity: 0.8;
}

.zoho-form .close:hover {
    opacity: 1;
}

.zoho-form input, .zoho-form select, .zoho-form textarea {
    width: 550px;
    display: block;
    margin-bottom: 5px;
}

.zoho-form input[type="submit"] {
    width: auto;
}

.zoho-form .intro {
    margin-bottom: 20px;
}

.zoho-form .btn {
    height: auto;
}

.zoho-form .checkbox input {
    width: auto;
    display: inline;
    margin-bottom: 0;
}

/* resource overview page */
#resourceoverviewpage #blogs, #resourceoverviewpage #whitepapers, #resourceoverviewpage #videos {
    border-bottom: 1px solid #D6DDE4;
    padding-top: 20px;
}

#resourceoverviewpage #blogs .result, #resourceoverviewpage #whitepapers .result, #resourceoverviewpage #videos .result {
    border-bottom: none;
    margin-bottom: 0;
}

.resourceoverview .date {
    float: left;
}

.resourceoverview .calendarDate {
    min-width: 100px;
    float: left;
    margin-right: 20px;
}

.resourceoverview .calendarDate .header {
    padding: 0 5px;
    text-align: center;
}

.resourceoverview .calendarDate .days {
    color: #9E9E9E;
    background: #ffffff;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    border-radius: 5px;
    padding: 15px 10px;
}

.resourceoverview .top {
    padding-bottom: 5px;
    border-bottom: 1px solid #D6DDE4;
    margin-bottom: 30px;
}

.resourceoverview .toresources {
    text-transform: uppercase;
    font-weight: bold;
    float: right;
}

.resourceoverview .sectionheader {
    margin-top: 0;
    float: left;
}

#blogs .top {
    border-bottom: none;
    padding: 20px;
    background: #ffffff;
    border-radius: 0 20px 20px 20px;
    -webkit-border-radius: 0 20px 20px 20px;
}

#blogs .top h1 {
    margin-top: 0;
}

#blogs .top img, .resourcedetail .top img {
    float: left;
}

#blogs .top .intro, .resourcedetail .top .intro {
    /*padding-left: 190px;*/
    /* temporary, HIPCON-488 */
}

.result {
    margin-bottom: 30px;
    cursor: pointer;
}

#whitepapers .result {
    cursor: auto;
}

.result.last {
    margin-bottom: 0;
}

#whitepapers .result img {
    margin-right: 15px;
    float: left;
}

#whitepapers .result > a {
    color: #4f5e67;
    text-decoration: none;
}

#whitepapers .result .link {
    font-weight: bold;
    color: #4f5e67;
    float: left;
}

#blogs .result, #events .result, #news .result {
    padding-bottom: 20px;
    border-bottom: 1px solid #D6DDE4;
}

#whitepapers .result {
    padding-bottom: 20px;
}

#blogs .result h2, #news .result h2, #whitepapers .result h2 {
    margin-top: 0;
}

#events .result h2 {
    margin-top: 20px;
}

#blogs .result p, #events .result p, #news .result p {
    margin-bottom: 0;
}

#blogs .result .calendarDate {
    margin-bottom: 10px;
}

#blogs .result p {
    float: left;
    clear: left;
}



#blogs .result .btn, #events .result .btn, #news .result .btn, #whitepapers .result .btn {
    background: #ffffff;
    color: #45B3E3;
    padding-top: 0;
    padding-bottom: 0;
    float: right;
}

#blogs .bloggerspicture {
    margin-right: 25px;
    float: left;
}

#facetedsearch {
    background: #E0E0DF;
    padding: 25px 15px 0;
}

#blogs #facetedsearch {
    margin-top: 0;
}

#facetedsearch h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.faceted-textinput {
    width: 100%;
}

.faceted-textinput .search-input {
    width: 114px;
    font-size: 12px;
}

.faceted-textinput .search-submit {
    background: #FFFFFF;
}

.facets, .facets ul {
    padding: 0;
    list-style: none outside none;
}

.facets ul {
    padding-top: 5px;
    padding-bottom: 25px;
}

.facets ul li {
    margin-bottom: 2px;
    padding-left: 35px;
    background: url('../images/faceted-arrow.png') no-repeat left 5px transparent;
}

.facets ul li a span {
    color: #4f5e67;
}

.facets ul li:hover {
    background: url('../images/faceted-arrow-hover.png') no-repeat left 5px transparent;
    text-decoration: none;
}

.facets ul li.selected {
    background: url('../images/facetedclose.png') no-repeat left center;
}

.pagination {
    background: #F5F5F5;
    margin: 0 0 30px 0;
    padding: 7px 15px;
    border-radius: 0 20px 0 20px;
    -webkit-border-radius: 0 20px 0 20px;
    float: right;
    height: auto;
    color: #4f5e67;
}

.pagination span {
    float: left;
}

.pagination .next {
    display: block;
    background: url('../images/next-arrow.png') no-repeat center center transparent;
    width: 8px;
    height: 20px;
    float: left;
    margin-left: 50px;
}

.pagination .next.inactive {
    background: url('../images/next-arrow-inactive.png') no-repeat center center transparent;
}

.pagination .prev {
    display: block;
    background: url('../images/prev-arrow.png') no-repeat center center transparent;
    width: 8px;
    height: 20px;
    float: left;
    margin-right: 50px;
}

.pagination .prev.inactive {
    background: url('../images/prev-arrow-inactive.png') no-repeat center center transparent;
}

.pagination span {
    display: inline-block;
}

/* news page */
.newspicture {
    float: left;
    margin: 0 10px 10px 0;
}

/* download page */
.downloads {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 0 20px 20px 20px;
    -webkit-border-radius: 0 20px 20px 20px;
}

.downloads .text {
    float: left;
    width: 370px;
    padding-right: 30px;
}

.windows, .mac, .linux {
    padding-left: 50px;
    min-height: 42px;
    margin-bottom: 20px;
}

.windows {
    background: url('../images/windows.png') no-repeat left top transparent;
}

.mac {
    background: url('../images/mac.png') no-repeat left top transparent;
}

.linux {
    background: url('../images/linux.png') no-repeat left top transparent;
}

.downloadlinks {
    float: right;
    width: 260px;
}

.downloadlinks a {
    display: block;
    text-transform: uppercase;
}

#downloads .trybuttons {
    width: 230px;
    float: right;
}

#downloads .trybuttons .btn-group {
    display: block;
}

#downloads .trybuttons a {
    height: auto;
    margin-bottom: 20px;
}

#downloads .text {
    float: left;
    width: 410px;
}

#downloads .top .text {
    width: auto;
}

#downloads .downloads .text {
    width: 370px;
}

/* Try page */
.try-content .top-lines {
    padding: 10px 0;
    height: 65px;
    background: url("../images/top-lines.png") no-repeat center center transparent;
}

.try-content .bottom-lines {
    padding: 10px 0;
    height: 65px;
    background: url("../images/bottom-lines.png") no-repeat center center transparent;
}

.try-content .top img {
    float: left;
    max-width: 175px;
}

.try-content .top .text {
    margin-left: 175px;
}

.try-content .middle-left {
    float: left;
    width: 260px;
}

.try-content .middle-right {
    float: right;
    width: 260px;
}

.try-content .video {
    margin: 20px 0;
}

.try-content .video iframe {
    border-radius: 20px 20px 0 20px;
    -webkit-border-radius: 20px 20px 0 20px;
}

/* IE styling fixes */
#ie8 #header-search {
    border: 1px solid #bbbbbb;
}

/* quick fixes for go live untill the is implemented further */

table.htmtableborders {
    width: 940px;
    padding: 20px;
}

div.htmtableborders {
    width: 900px;
    padding: 20px;
}

/* channel manager fix */
.nextup .hst-container-item {
    position: static;
}

.nextup a.hst-cmseditlink {
    z-index: 100;
}

.compact-plugin {
    cursor: hand; cursor: pointer;
}