// Copyright 2021 Bloomreach. All rights reserved. (https://www.bloomreach.com/)

@import 'variables';

.max-values-hint {
  clear: left;
  padding: 5px 0 0 16px;

  &--align-left {
    padding-left: 0;
  }
}