<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document PUBLIC
  "-//Apache Software Foundation//DTD XDOC 1.0//EN"
  "http://maven.apache.org/dtd/xdoc_1_0.dtd">
<!--
  Copyright 2008 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<document>
 <properties>
  <title>Your Own Quickstart</title>
 </properties>

<body>
<section name="Your own Quickstart">
 <span class='shortdesc'>Quickstart in your own servlet container.</span>

 <div><span class='worse'>This text contains much that is also described as
                    administrator information and is therefor mostly redundant.
                    This document is to be largely merged with the administrator guide.
 </span></div>
 <span class='rewrite'>
                        and leave the new version very small,
                        mainly refering to the necessary administrator documents.
 </span>

<subsection name='Download'>
<p>
   download either the WAR or EAR package, whichever type you prefer:
</p>
<ul>
   <li><a href="${quickstart_war_url}">quickstart war package</a></li>
   <li><a href="${quickstart_ear_url}">quickstart ear package</a></li>
</ul>
<p>
  Note that other application containers and Linux packages of the mentioned application containers 
  should in principle also work, but have not yet been tested.
</p>
<p>
 try out Hippo CMS with example content having predefined structure, 
</p>
<p>
 to see possible features `in action',  before designing your own content structure. 
</p>
 <p>
, download a quickstart Hippo CMS package. After you studied
 the example content, your system adminstrator can configure the package for actual use in your company. 
</p>
</subsection>

<subsection name="Deploy, run and access">

<p>
Below you find how to deploy the application in Tomcat, GlassFish or other
application contains.  Once the application has been deployed and started, you
can access your Hippo CMS under the URL:
</p>

  <source>
http://localhost:8080/cms/
  </source>
<p>
The port number may change if you configured you application or servlet
container to run with a different port.  When deploy the application on a
machine other than your local machine you need to change &quot;localhost&quot;
to the correct machine name.
</p>

            <h3>Deploying in Tomcat 6.0</h3>
                <ol>
                    <li>Download Tomcat 6.0 from the <a href="http://tomcat.apache.org/download-60.cgi">Apache Tomcat</a> website</li>
                    <li>Unpack the zip</li>
                    <li>Download the <a href="http://repo1.maven.org/maven/geronimo-spec/jars/geronimo-spec-jta-1.0-M1.jar">geronimo-spec-jta</a> to pache-tomcat-6.0.16\lib</li>
                    <li>Copy the WAR from the link above to apache-tomcat-6.0.16\webapps\cms.war</li>
                    <li>Start Tomcat with one of the startup scripts in apache-tomcat-6.0.16\bin</li>
                    <li>Open your browser and surf to http://localhost:8080/cms/</li>
                </ol>

            <h3>Deploying in Glassfish or other application servers</h3>
                <p>
                  Once your have obtained the sample EAR and have started and configured your application
                  server, you can proceed with deploying the EAR in the application server.  This procedure
                  depends on the application server.  Hippo ECM does not require any special application
                  dependent deployment procedure, nor does it dictate which application server environment
                  is required.  As example we provide the procedure for
                  <a href="http://glassfish.dev.java.net/">GlassFish</a>. Although the procedure
                  is similar for other application servers, it does differ, so check the
                  documentation of your application server.
                </p>
                <p>
                  Go to the administration console of your GlassFish installation, once glassfish is running
                  by accessing the following URL in your browser on the machine that runs the GlassFish
                  instance:
                </p>
<source>
http://localhost:4848/
</source>
                <p>
                  Login using the username and password of the administrator you had selected during
                  installation (default username is <code>admin</code> and default password is
                  <code>adminadmin</code> or <code>admin</code>.
                </p>
                <p>
                  Select in the left pane &quot;Enterprise applications&quot;
                </p>
                <img src="../images/glassfish1.gif" alt=""/>
                <p>
                  Then in the main pane select the button &quot;Deploy&quot;
                </p>
                <p>
                  When the page has loaded make sure the &quot;Packaged file to be uploaded to the
                  server&quot; is checked and use the browse button to select the build or downloaded EAR file
                  of Hippo ECM.  Then just choose &quot;Ok&quot; to perform the deployment.
                </p>
                <img src="../images/glassfish2.gif" alt=""/>
                <p>
                  Once the server has finished, the application is now available on your server on the
                  configured hostname and portname, which is by default:
                </p>
<source>
http://localhost:8080/
</source>
                <p>
                  Note that the deployed location does not end with <code>/cms</code>
                </p>
            
 </subsection>
 <subsection name="Deploy the binary distribution">
          <p>
          Start either the <code>startup.sh</code> (when running on
          a Unix-like environment) or the <code>startup.bat</code>
          (when running on Microsoft Windows XP or better) script
          from your command line.
          </p>
        </subsection>
 </section>

    </body>
</document>


<!--
The quickest way to get started is to obtain one of the pre-built packages.
Don't worry about special functionalities you require:
more functionality can be added easily to a pre-built package, at any time.
This is done by simply adding the JARs containing the add-ons to the already 
packaged product, or uploading them into the running packaged product. 
-->
<!-- There is no need to rebuild from all the sources, contrary to other 
content management systems. :::CONFIRM this claim or remove completely.
[BvH] the original statement was not that this was contrary to other CMSes;
that statement is too dangerous to made.  The original statement that there
is no need to rebuild to add functionality.  This is a very important
statement because it is a huge improvement over CMS6, and is an important
feature that people want.  So, yes this statement can be confirmed, however
not how it was rewritten.  The reason is was uncommented until now is that
there is no easy way yet (we don't have an upload functionality button, you
have to copy manually).  When this is there, we should make bigger claims.
--> 
<!--
<p>
The quickstart packages contain all the core packaged products, but have been
pre-configured with a number of modules and settings, to give you a quick
overview of the product without having the laborious tasks to first enter
content, create users, etcetera.
</p>
<p>
Hippo ECM is a web-based application, and therefor is intended to run inside a
servlet or application container.  These containers accept pre-built
applications in the form of a WAR or EAR archive package, and provide basic
functions to Hippo ECM and management of your application.
<br/>
To get you started quickly, first determine the application container platform
you wish to use to run Hippo ECM.  Then;
</p>
<subsection name="Download">
<p>
</p>
-->
