body {
    padding-top: 144px;
    text-align: center;
    width: 100%;
    
}

div#login-input tr td {
  padding: 4px;
  }

div#login-submit {
  margin-top: 5px;
  padding-left: 104px;
}

div#loginWrapper{text-align: center}

div#loginWrapper input[type="submit"]{padding: 3px;}
div#loginWrapper input[type="text"], div#loginWrapper input[type="password"] {padding: 2px}


div#loginWrapper h2{
background: url("images/icons/permissions-48.png") no-repeat;
margin-bottom: 48px; padding-left: 59px; font-size: 18px; font-weight: normal; color: #666666;
height: 49px;
padding-top: 7px;
}
div#loginWrapper h2 span{font-size: 12px; }
div#loginWrapper h2 span{display: block}


div#loginWrapper form {
background:transparent url(images/loginback.png) no-repeat scroll left top;
height:199px;
margin:0px auto;
position:relative;
text-align:left;
width:227px;
padding:35px 60px 44px 60px;
}

div#loginWrapper form label {margin-right: 15px;}
div#loginWrapper form label.label-right { float: right; width: 180px; margin-right:0px;}

div#login-input{width: 234px;}

div#loginWrapper form select { 
  margin-bottom: 5px;
  border:1px solid #999999;
}
