/* Defaults */
* { margin : 0; padding : 0;}
/* Normalizes font-size for headers */
h1,h2,h3,h4,h5,h6 { font-size : 100%; }
/* Removes list-style from lists */
ol,ul { list-style : none; }
/* no underlined links by default */
a {text-decoration: none}
/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, th, var
{ font-style : normal; font-weight : normal; }
table { border-collapse : collapse; border-spacing : 0; }
/* Removes border from fieldset and img */
fieldset,img { border : 0; }
/* Left-aligns text in caption and th */
caption,th { text-align : left; }
/* used as a fast fix if you want something to float left */
/* to clear */
div.clearer {clear: both;}
.floatleft{float: left}
 /* firefox fix for left right movement when scrollbar is enabled */
html { min-height: 100%; margin-bottom: 0.01em; }
/* ======================================== */
  
body {
  font-family: tahoma, arial,sans-serif,helvetica;
  font-size: 11px;
  background: #223f5e url('images/back.gif') repeat-x;
  padding: 2px;
 /* maximum viewspace for IE 7 users running a screen resolution of 1024x768 with file menu, one extra toolbar and status bar enabled */
  width: 1020px;
  height: 586px;
}

html, body{
margin: 0;
padding: 0;
border: 0;
height: 100%;
overflow: hidden;
position: relative;	
}

/* temp */
.versioning{
 
}

.Menu {padding: 10px}

/* zouten met de breadcrumbs */
span.Breadcrumb{display: none}

/* logout plugin */
div.logout { margin-bottom: 0px; text-align: left; text-transform: capitalize; color: white; padding: 5px; padding-bottom: 0px; padding-top: 0px}
div.logout span.name{font-size: 22px}
div.logout div a { color: white; font-weight: bold }

#header{
height: 85px;
padding: 10px;
}

div div ul li.icolistsmall{background-position: center left; background-repeat: no-repeat; padding: 3px; margin-bottom: 1px;}
div div ul li.icolistsmall a{display: block; padding-left: 15px; color: #666666}
div.groupsico div ul li.icolistsmall { background-image: url("images/groups_ico_small.gif")}
div.usersico div ul li.icolistsmall {background-image: url("images/users_ico_small.gif")}
div.domainsico div ul li.icolistsmall { background-image: url("images/domain_ico_small.gif")}

.panelcontainer{border: 1px solid white; background: white;}
.panel h2{background: white url("images/pluginheaderback.gif") repeat-x;}
.panelcontainer h2{display: block; margin-top: 0px; background-position: center right; background-repeat: repeat-x;  height: 29px; margin-bottom: 0px; background: white url("images/pluginheaderback.gif") repeat-x;}
.panel{padding-top: 5px; position: relative;}
.nopadding{padding: 0px}


#left{width: 222px; float: left; min-height: 506px; max-height: 506px; }
#lefthalf{width: 504px; float: left; min-height: 506px; max-height: 506px; overflow: auto;}
#righthalf{width: 504px; float: right; min-height: 506px; max-height: 506px; overflow: auto}

#right{width: 222px; float: right; min-height: 506px; max-height: 506px; overflow: auto}
#center{margin-left: 228px; margin-right: 228px; min-height: 506px; position: relative;}
#wideright{width: 787px; height: 351px; float: right; min-height: 506px; background: #f2f2f2;}
#wideleft{width: 787px; height: 351px; float: left; min-height: 506px; background: #f2f2f2;}

.fauxbutton span{background: url("images/fauxbutton.gif") center center; display: block; width: 100px; height: 18px; text-align: center; padding-top: 3px; color: black; margin-bottom: 5px; margin-left: 5px;
cursor:pointer;
cursor:hand;
 }
.fauxbutton a{background: url("images/fauxbutton.gif") center center; display: block; width: 100px; height: 18px; text-align: center; padding-top: 3px; color: black; margin-bottom: 5px; margin-left: 5px;}
span.fauxbutton input {width: 140px; border:1px solid #000; margin: 5px; margin-top:3px;}
.scrolllist{overflow: auto; height: 80px; padding: 2px; background-color: white}

.panelhead{background: #f2f2f2; width: 100%; height: 70px;}
.panelhead td{padding: 5px;}

div.slidercontrol a {background: url("images/sliderback.gif") repeat-x; height: 6px; width: 100%; text-align: center; display: block}
div.slidercontrol a:hover{cursor: s-resize}



h3.documentlabel{font-size: 18px; font-weight: normal; color: #666666; margin-right: 15px;}
h4{font-weight: normal; color: #a2a2a2; float: left; margin-right: 5px;}
.preview {padding: 15px; height: 156px; overflow: scroll}

.gray{color: #666666} 
.panelgray{background: #f2f2f2}

.taglist li{display: inline; ccolor: #a2a2a2;}
.versionlabel {font-size: 12px; color: #666666; padding: 5px; padding-left: 15px;}

a.previous{background: url("images/arrowleft.gif") no-repeat center left; padding: 8px; padding-right: 0px;}
a.next{background: url("images/arrowright.gif") no-repeat center right; padding: 8px; padding-left: 0px}

input[type="submit"] {
 font-size: 11px;
 padding: 3px;
}
table.versiondetails{margin-top: -2px}
table tr td table.versiondetails tr td{padding: 0px; color: #a2a2a2}

table tr td.docico{background: url("images/document_ico_big.gif") no-repeat center center; width: 40px}


.yui-layout-unit #left{width: auto; float: none; min-height: auto;}
.yui-layout-unit #right{width: auto; float: none; min-height: auto;}
.yui-layout-unit #center{margin-left: auto; margin-right: auto; min-height: auto; max-height: auto;}
.yui-layout-unit .panelcontainer h2{display: none}
#center .panelcontainer h2{display: none}

.tabsplugin {position: absolute; top: 50px; left: 5px; padding-top: 30px;}
#refresh{z-index: 10}
.yui-layout-hd h2 span, .panelcontainer h2 span{display: block; width: 100%; height: 29px; background-position: center right; background-repeat: no-repeat; text-indent: -9999px; font-size: 11px;}

.yui-layout-hd h2 span.actions, .panelcontainer h2 span.actions{background-image: url("images/boxheadingactions.gif")}
.yui-layout-hd h2 span.search, .panelcontainer h2 span.search{background-image: url("images/boxheadingsearch.gif")}
.yui-layout-hd h2 span.history, .panelcontainer h2 span.history{background-image: url("images/boxheadinghistory.gif")}
.yui-layout-hd h2 span.documents, .panelcontainer h2 span.documents{background-image: url("images/boxheadingdocuments.gif")}
.yui-layout-hd h2 span.edit, .panelcontainer h2 span.edit{background-image: url("images/boxheadingedit.gif")}
.yui-layout-hd h2 span.task, .panelcontainer h2 span.task{background-image: url("images/boxheadingtask.gif")}
.yui-layout-hd h2 span.edititem, .panelcontainer h2 span.edititem{background-image: url("images/edititem.gif")}
.yui-layout-hd h2 span.previewlabel, .panelcontainer h2 span.previewlabel{background-image: url("images/preview.gif")}
.yui-layout-hd h2 span.userman, .panelcontainer h2 span.userman{background-image: url("images/userman.gif")}


a { color: #18a4e2 }

div.Tree {
margin:0px;
border: none;
}


div.Tree div.wicket-tree{margin: 0px; height: 477px; width: 222px; overflow: auto;} 
div.Tree div.wicket-tree div{overflow: visible}

div.Tree .wicket-tree .row a {color: black}
div.wicket-tree div.a_{width: auto;}
div.Tree .wicket-tree .row a:hover{color: #4b82c6; text-decoration: underline}
div.Tree .wicket-tree .row-selected a {}
div.Tree .wicket-tree .row-selected { background: #f2f2f2; }
div.Tree div.wicket-tree{border: none;}


div.Tree div.wicket-tree div.row-selected a span {font-weight: normal; color: black;}




/* common */
table tr td{font-size: 11px}
table.displaytable tr td{padding: 15px}
/* selected variant */
.selected {
 /* background-color:#4b82c6; */
}
.selected a {
  color:#ffffff;
}

/* selected document in list */
table tr.selected {
  background-color:#4b82c6;
}
table tr.selected td span, table tr.selected td span a{color: white}

/* plugin boxes */
.yui-layout-wrap .yui-layout-wrap{border: none}
.yui-layout-unit-center .yui-layout-wrap, .yui-layout-unit-left .yui-layout-hd, .yui-layout-unit-right .yui-layout-hd, div.plugintitle {background: white url("images/pluginheaderback.gif") repeat-x; vertical-align: top; height: 29px; border: 1px solid white}
.yui-layout .yui-layout-scroll div.yui-layout-bd {background-color:white}


div div div div b{display: none; color: white;}

/* dialog window */
body.dialog{background: none; font-size: 14px; padding: 10px; text-align: right;}
body.dialog table.dialogbuttons{height: 100%; width: 100%}
body.dialog table.dialogbuttons tr td{vertical-align: top; text-align: right; }
body.dialog table.dialogbuttons tr td{padding: 15px;}
body.dialog table.dialogbuttons tr td.okbutton a{padding: 5px;border: 1px solid #333333; display: block; text-align: center; width: 100px;}
body.dialog table.dialogbuttons tr td.cancelbutton a{padding: 5px;border: 1px solid #333333; display: block; text-align: center; width: 100px;}
body.dialog table.dialogbuttons tr td.okbutton a:hover{background: #f1f1f1; color: #666666; width: 100px}
body.dialog table.dialogbuttons tr td.cancelbutton a:hover{background: #f1f1f1; color: #666666; width: 100px;}

/* template editor */
div#templateitemedit{background: red}
div.fields table{width: 100%}
div.fields table tr td table{width: auto}
table.htmlarea tr td{padding: 0px; border: 1px solid #f1f1f1}

span.templateactions{
background:none repeat scroll 0%;
display:block;
float:right;
position:absolute;
float:right;
right:0px;
top:117px;
width: 212px;
}
span.templateactions ul{padding: 12px;}
div.templateeditor h3{font-size: 14px;}

div.fields div div div div div div{border-bottom: 1px dotted #f1f1f1}
.templateeditor{
margin:5px;
overflow:auto;
max-height: 475px;
background: #d2d2d2;
}
table.htmlarea tr td{border: 1px solid #d7d7d7}
table.htmlarea tr td table tr td{border: none}
table.htmlarea tr td select{margin-top: 4px;}

div#templateitemedit{
background: none;
position: absolute;
right: -284px;
top: 227px;
width: 20%;
}




div#templateitemedit h3{margin-top: 5px; font-size: 12px;}
div#templateitemedit input{width: 140px;}

a.editbutton{
display: block; float: right; width: 10px; height: 10px; margin-right: 3px; padding: 4px;
text-indent: -9999px;
background: url("images/edit_ico.png") no-repeat;
position: top
}
a.upbutton{display: block; float: right; width: 10px; height: 10px; margin-right: 3px; padding: 4px;
background: url("images/up_ico.png") no-repeat}

a.downbutton{display: block; float: right; width: 10px; height: 10px;clear: right; margin-right: 3px; padding: 4px;
background: url("images/down_ico.png") no-repeat; margin-top: 30px;}


td.itemmovehandle{vertical-align: top; background: #f8f8f9; width: 43px; position: relative;}
table.grid tr td.itemmovehandle {padding-top: 4px; padding-right: 0px;}

a.addbutton{float: left: margin-left: 10px}

/* editor stying */
.editor table tr td{border-bottom: 1px dotted #999999}
.editor table tr td .fields h3{margin-bottom: 5px;}
.editor div.panel{max-height: 700px; background: white;}
.editor h2{display: none}

div.editor{
height:416px;
max-height:500px;
overflow:auto;
padding:7px;
width:772px;
}
div.editor div.fields{background: #e2e2e2; margin-bottom: 6px; padding: 4px;}
div.fields{margin-bottom: 6px; padding: 4px}
div.fields h3{background: #9D9D9D; padding: 4px; color: white; font-weight: bold; font-size: 11px; margin-bottom: 5px;}

div.fields a.templateRemove{background: url("images/remove_ico.png") no-repeat center center; display: block; width: 17px; height: 17px; text-indent: -9999px;}
div.fields a.templateAdd{background: url("images/add_ico.png") no-repeat center center; display: block; width: 17px; height: 17px; text-indent: -9999px;}
div.fields a.templateUp{background: url("images/up_ico.png") no-repeat center center; display: block; width: 17px; height: 17px; text-indent: -9999px;}
div.fields a.templateUp{background: url("images/edit_ico.png") no-repeat center center; display: block; width: 17px; height: 17px; text-indent: -9999px;}
div.fields input[type="text"]{width: 100px;}
div.fields table tr td{border-bottom: none; padding: 2px;}

/* list views */
table th, table td{font-size: 11px}

th {
  text-align:left;
  background: url('images/filelistHeaderback.gif') repeat-x; 
  padding: 4px;
  padding-top: 2px;
}
tr.even td, tr.odd td { padding: 5px; }
tr.even {background-color: #f7f7f7}
tr.even td { }
tr.odd td { padding: 5px; }

.Doclist table tr td a{color: black}
.Doclist{ height: 215px; overflow: auto}

.dataview{width: 100%}
.dataview thead tr.navigation td { padding: 5px; }

.dataListPaging td{padding: 10px; text-align: center; font-weight: bold;}
.dataListPaging td div{margin-bottom: 5px}
.dataListPaging td a{padding: 5px;}
.dataListPaging td a:hover{background: #f2f2f2}
.dataListPaging td span em, .dataListPaging td a em{font-style: normal}

.navigator, .navigator a { color: green; font-size: 18px; margin-left: 10px; }
.navigator { color: grey }
.navigator a { color: #18a4e2 }

/* Main Tab Navigation */
ul.tabs{display: block; position: absolute; top: 0px; left: 15px; width: 800px}

ul.tabs li {
  display:block;
  float:left;
  background:url('images/tabinactive.gif') no-repeat bottom left; 
  margin-right: 2px;
  width: 156px;
  height: 30px;
  position: relative;
}

ul.tabs a {
  text-decoration:none;
  font-weight:bold;
  white-space:nowrap;
  color: black;
  display: block;
  float: left; 
 }

ul.tabs li a{background-position: 6px 4px; background-repeat: no-repeat; font-size: 11px; padding: 8px 5px 8px 34px; background-image: url('images/edit.gif')}
ul.tabs li.selected { background:url('images/tabactive.gif') no-repeat bottom left}
ul.tabs li.tab0 a { background-image: url('images/home.gif')}
ul.tabs li.tab1 a { background-image: url('images/browse.gif')}

ul.tabs li a.close {position: absolute; right: 40px; top: 1px; background: url('images/closetab.gif') no-repeat center center; padding: 7px; height: 14px; text-indent: -9999px}
ul.tabs li.tab0 a.close, ul.tabs li.tab1 a.close{background-image: none}

.addNodeWidget {
  margin-bottom: 4px;
}
.addNodeWidget span{
  cursor:pointer;
  cursor:hand;
  text-decoration: underline;
}
.addNodeWidget input{
  border: 1px solid #18A4E2;
  border: 1px solid #000;
}

ul.highlight li {
  background: #4A84C8;
}
ul.highlight li a span{color: white}

.userGroupsList{
height: 158px;
overflow:auto;
border: 1px solid #4A84C8;
background: white;
margin-top: 10px;
} 



.templatedetails{
padding: 10px;
height: 410px;
overflow: auto;
}

.userGroupsList h3{display: none}

.templatedetails div.fields table tr td ul li h3{font-size: 11px; font-weight: bold; padding-top: 2px; padding-bottom: 2px; background: #9d9d9d; display: block; color: white; padding-left:3px;}
.templatedetails div.fields table tr td ul li{padding: 3px; background: #CCCCCC; margin-bottom: 6px;}
.templatedetails div.fields table tr td{vertical-align: top}

.templatedetails div.fields table tr td ul li ul li span a{display: none}

.templatedetails .htmlarea td{padding: 0px;}
.templatedetails div.fields table.htmlarea div{padding: 0px; margin: 0px}
.templatedetails .htmlarea width{100%}

div.templatetitle, div.usertitle{
background:#CCCCCC url(images/user_ico_big.png) no-repeat scroll 3px 1px;
height:48px;
margin:5px;
padding:13px 5px 5px 60px;
}
div.templatetitle{background:#CCCCCC url(images/document_ico_big.gif) no-repeat scroll 9px 15px;}

div.templatetitle h3, div.usertitle h3{font-size: 20px; color: #666666; font-weight: normal}
div.templatetitle h4, div.usertitle h4{font-size: 12px; color: #666666; font-weight: normal; padding-left:2px;}

.templatedetails div.fields div div div {margin-bottom: 5px;}
.templatedetails div.fields div div div div div div{border-bottom: none}
.templatedetails div.fields input{width: 120px;} 


.templatedetails div.templateactions {
position: absolute;
right:26px;
top:58px;
}

div.templateactions {
  width:240px;
}

.templatedetails .templateactions a {
background: transparent url("images/fauxbutton.gif") no-repeat scroll 0%;
color:black;
display:block;
float:left;
height:18px;
margin-left:10px;
padding-top:4px;
text-align:center;
width:100px;
}

.templateactions a:hover {
  cursor:pointer;
  cursor:hand;
}

.inactiveNode {
  opacity: 0.6;
}

.target {
  border: 1px solid #62C621 ! important;
  background: white url("images/dropback.gif") no-repeat center 100px;
}




