/* Defaults */
* { margin : 0; padding : 0;}
/* Normalizes font-size for headers */
h1,h2,h3,h4,h5,h6 { font-size : 100%; }
/* Removes list-style from lists */
ol,ul { list-style : none; }
/* no underlined links by default */
a {text-decoration: none}
/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, th, var
{ font-style : normal; font-weight : normal; }
table { border-collapse : collapse; border-spacing : 0; }
/* Removes border from fieldset and img */
fieldset,img { border : 0; }
/* Left-aligns text in caption and th */
caption,th { text-align : left; }
/* used as a fast fix if you want something to float left */
/* to clear */
div.clearer {clear: both;}
.hideme {display:none;}
.floatleft{float: left}
 /* firefox fix for left right movement when scrollbar is enabled */
 html { min-height: 100%; margin-bottom: 0.01em; } 
/* ======================================== */
  

/* Global elements styles */
/* ================================================ */

body {background: url("images/bodyback.png") repeat-x}

/* default font settings */
body, table tr td, table tr th{
font-family: tahoma, arial,sans-serif,helvetica;
font-size: 11px;
vertical-align: top;
overflow: hidden;
}

a {color: #00A2E3;}

/* default buttons */
button, input[type="button"], input[type="submit"] {
 font-size: 12px;
 padding: 4px;
margin: 2px;
}


ul.highlight li,
ul.highlight li a span,
ul.hightlight li, 
table tr.selected td, 
table tr.selected td span,
table tr.selected td a,
.hightlight a { background: #00A2E3; color: white;}
/* Tabsplugin */
/* ================================================ */
.tabsplugin {position: absolute; top: 0px; left: 0px; padding-top: 75px; height: 100%}

ul.tabs{width: 100%;display: block; position: absolute; top: 0px; left: 0px; 
background: url("images/hippocms7.gif") no-repeat 177px 0px;
}

ul.tabs li {
  display:block;
  float:left;
  margin-right: 10px;
  position: relative;
  text-align: center;
}

ul.tabs a {
  font-weight: normal;
  white-space:nowrap;
  display: block;
  float: left;
  padding: 6px; 
  text-decoration: underline;
  text-align: center;
  
 }

ul.tabs li.tab0{}
ul.tabs li.selected a{font-weight: bold; text-decoration: none; color: black }

ul.tabs li a.close {position: absolute; right: 40px; top: 1px; background: url('images/close.png') no-repeat center center; padding: 6px; padding-right: 11px; height: 14px; text-indent: -9999px}
ul.tabs li.tab0 a.close, ul.tabs li.tab1 a.close{background-image: none}

ul.tabs li {background: url("images/editTabInactive.gif") no-repeat}
ul.tabs li.tab0{background: none;}
ul.tabs li.tab1{background: none;}
ul.tabs li.tab2{background: none;}

ul.tabs li.selected {background: url("images/editTabActive.gif") no-repeat}
body ul.tabs li.tab0, body ul.tabs li.tab1, body ul.tabs li.tab2{background: none}

body ul.tabs li.tab3{margin-left: 300px;}
body ul.tabs li.tab3, body ul.tabs li.tab4, body ul.tabs li.tab5,
body ul.tabs li.tab6, body ul.tabs li.tab7, body ul.tabs li.tab8
body ul.tabs li.tab9, body ul.tabs li.tab11, body ul.tabs li.tab10{
margin-top: 46px;
padding-top: 0px;
padding-left: 20px;
padding-bottom: 5px;
width: 177px;
}
body ul.tabs li.tab3 a, body ul.tabs li.tab4 a, body ul.tabs li.tab5 a, 
body ul.tabs li.tab6 a, body ul.tabs li.tab7 a, body ul.tabs li.tab8 a,
body ul.tabs li.tab9 a, body ul.tabs li.tab11 a, body ul.tabs li.tab10{
padding-top: 5px}


/* Preview panel */
/* ================================================ */
.preview {padding: 4px; height: 38%; overflow: auto; margin: 11px;}
.preview .renderItem{padding: 8px; margin-bottom: 4px; position: relative;}
.preview .renderItem div span{font-family: arial, helvetica, sans-serif; font-size: 18px; background: white; padding: 2px; display: block}

.preview .renderItem h3 span{font-size: 11px; font-weight: normal; color: #b2b2b2; margin-bottom: 8px; font-family: tahoma, arial, helvetica, sans-serif}

div.preview span.iconsSmall, div.preview td.iconsSmall{display: none}
div.previewMessage{background: url("images/icons/message-preview-128.png") no-repeat center center; height: 400px; text-indent: -9999px}

/* Wicket Ajax indicator */
/* ================================================ */
span.wicket-ajax-indicator{position: absolute; top: 6px; left: 442px; display: block; visiblity: visible}

/* Logout */
/* ================================================ */
ul.logout {position: absolute; right: 0px; top: 0px; z-index: 10; padding: 6px; width: 400px;}
ul.logout li{float: right; margin-left: 15px;}
ul.logout li span.name{color: black; font-weight: bold;}
ul.logout a:hover{text-decoration: underline}
ul.logout li div a { }


/* Main Positioning and Panels */
/* ================================================ */
.headerplugin{
text-align: right; border-bottom: 1px solid #cccccc;
background: url("images/hippocms7.gif") no-repeat top left; 
}

.panelcontainer{border: 1px solid #cccccc; background: white url("images/panelBack.png") repeat-x 0px 29px;}
.panel{padding-top: 5px; position: relative;}
.panelcontainer h2{margin-top: 0px; background-position: center right; background-repeat: repeat-x;  height: 29px; margin-bottom: 0px; background: white url("images/inactiveView.gif") repeat-x;}
.nopadding{padding: 0px}

#editor-perspective-wrapper,
#management-perspective-wrapper,
#dashboard-perspective-wrapper, 
#browse-perspective-wrapper{
}
.scrolllist{overflow: auto; height: 90px; padding: 2px; background-color: white}

div.slidercontrol a {background: url("images/sliderback.gif") repeat-x; height: 6px; width: 100%; text-align: center; display: block}
div.slidercontrol a:hover{cursor: s-resize}

/* Main Positioning and Panels */
/* ================================================ */
.panelcontainer h2 span{font-family: arial, helvetica, sans-serif; display: block; padding: 4px; background-position: left right; background-repeat: no-repeat; font-size: 18px; color: #666666; font-weight: normal}

.panelHead{background: url("images/inactiveView.gif") repeat-x top left; height: 30px;}
body div.actionspanel{
padding: 6px;
}

/* Actions buttons */
/* ================================================ */ 
div.iconactions{padding: 0px;}
div.iconactions div.renderItem{float: left; background: url("images/devider.png") no-repeat center right; height: 29px; margin-right: 8px;}

/* action titles and documentInfo */
div.iconactions h3{color: white; display: none;}
div.iconactions h3.documentInfo{display: block; float: left; color: #666666; padding-top: 2px; margin-right: 15px; background: url("images/devider.png") no-repeat center right; padding-right: 15px;}
div.iconactions h3.documentInfo span.documentLocked{color: black; display: block; float: left; background-repeat: no-repeat; background-position: center center; margin-right: 10px; height: 16px; width: 16px;}
div.iconactions h3.documentInfo span.documentStatus{padding-left: 5px; display; block;}
div.iconactions h3.documentInfo span.documentCaption{display; block}


div.actionspanel ul{float: left}
div.actionspanel ul li{margin-right: 15px; float: left;}
.actionspanel ul li span, .actionspanel ul li a{display: block; padding: 2px; padding-left: 24px; background-repeat: no-repeat; color: #666666}
.actionspanel ul li a span, .actionspanel ul li span a, .actionspanel ul li span span{display: inline; padding: 0px;}

.actionspanel ul li a:hover{text-decoration: underline; color: black;}

/* Welcome Panel */
/* ================================================ */
#welcomepanel{
margin-bottom: 8px;
}
#welcomepanel div.padding{padding: 15px;}
#welcomepanel table{width: 100%; margin-bottom: 15px}
#welcomepanel table tr td{display: none; width: 33%; height: 70px; padding-left: 78px; padding-top: 28px; background-position: 15px 15px; background-repeat: no-repeat}
#welcomepanel table tr td a{font-size: 18px; color: #999999}
#welcomepanel table tr td a:hover{text-decoration: underline}

/* Global Icon Management */
/* ================================================ */
div div ul li.icolistsmall{background-position: center left; background-repeat: no-repeat; padding: 3px; margin-bottom: 1px;}
div div ul li.icolistsmall a{display: block; padding-left: 15px; color: #666666;}
div.groupsico div ul li.icolistsmall { background-image: url("images/icons/groups_ico_small.png")}
div.usersico div ul li.icolistsmall {background-image: url("images/icons/users_ico_small.png")}
div.domainsico div ul li.icolistsmall { background-image: url("images/ic/domain_ico_small.png")}

table.users_ico_table tr td{background-image: url("images/icons/users_ico_small.gif")}

.iconsSmall a{display: block; padding: 2px; background-repeat: no-repeat; text-indent: -9999px; width: 16px; height: 16px; margin-top: 2px;}
.iconsBig a{display: block; padding: 2px; background-repeat: no-repeat;}

.icons-48 a{background-repeat: no-repeat;}
.icons-24 a{background-repeat: no-repeat;}
.icon-16 span a span{background-repeat: no-repeat; 5px; background-position: center left; padding: 0px;}
.icon-16 {background-repeat: no-repeat; 5px; background-position: center left; padding-left: 22px; padding-top:4px; padding-bottom: 4px;s }

/* filetype icons */
table tr.selected .document-16, .document-16{background-image:url("images/icons/document-16.png")}
table tr.selected .folder-16, .folder-16{background-image:url("images/icons/folder-16.png")}

.document_big_ico{background-image:url("images/icons/document-48.png")}
.users_big_ico{background-image:url("images/icons/groups-48.png")}
.groups_big_ico{background-image:url("images/icons/groups-48.png")}

.document-new-48{background-image:url("images/icons/document-48.png")}
.user-48{background-image:url("images/icons/groups-48.png")}
.folder-48{background-image:url("images/icons/emblem-documents-48.png")}

.image-add-48{background-image:url("images/icons/image-add-48.png")}
.image-add{background-image:url("images/icons/image-add-16.png");}

.document-lock-16{background-image:url("images/icons/document-lock-16.png")}

.dialog-information-48{background-image:url("images/icons/dialog-information-48.png")}
.dialog-question-48{background-image:url("images/icons/dialog-question-48.png")}

.panel-toggle-version-16{background-image:url("images/icons/panel-toggle-version-16.png");}
.panel-toggle-version-16 a:hover{cursor: pointer}

.edit_ico{background-image:url("images/icons/edit-16.png")}
.delete_ico{background-image:url("images/icons/edit-delete-16.png")}
.add_ico{background-image:url("images/icons/list-add-16.png")}
.remove_ico{background-image:url("images/icons/edit-delete-16.png")}

.up_ico{background-image:url("images/icons/go-up-16.png")}
.down_ico{background-image:url("images/icons/go-down-16.png")}

.revert_ico{background-image:url("images/icons/document-revert-16.png")}
.save_ico{background-image:url("images/icons/document-save-16.png")}

.templateitemup_ico{background-image:url("images/icons/go-up.png")}
.templateitemdown_ico{background-image:url("images/icons/go-down.png")}

.reqdelete_ico{background-image:url("images/icons/workflow-requestdelete-16.png")}
.reqpublish_ico{background-image:url("images/icons/workflow-requestpublish-16.png")}
.reqdepublish_ico{background-image:url("images/icons/workflow-requestunpublish-16.png")}
.publish_ico{background-image:url("images/icons/publish-16.png")}
.depublish_ico{background-image:url("images/icons/unplublish-16.png")}

.reqcancel_ico{background-image:url("images/icons/unplublish-16.png")}
.reqaccept_ico{background-image:url("images/icons/workflow-accept-16.png")}
.reqreject_ico{background-image:url("images/icons/workflow-requestunpublish-16.png")}

.adddocument_ico{background-image:url("images/icons/document-new-16.png")}
.addfolder_ico{background-image:url("images/icons/folder-new-16.png")}
.addextended_ico{background-image:url("images/icons/folder-extended-new-16.png")}

.copymodelrequest_ico{background-image:url("images/icons/document-copy-16.png")}
.editmodel_ico{background-image:url("images/icons/edit-16.png")}
.createnamespace_ico{background-image:url("images/icons/document-new-16.png")}
.modelreq_ico{background-image:url("images/icons/refresh-16.png")}
.createtyperequest_ico{background-image:url("images/icons/document-new-16.png")}

/* Global control buttons */
/* ================================================ */
.up-control{background-image:url("images/controls/up-control.gif")}
.down-control{background-image:url("images/controls/down-control.gif")}
.edit-control{background-image:url("images/controls/edit-control.gif")}
.close-control{background-image:url("images/controls/close-control.gif")}
.back-control{background-image:url("images/controls/back-control.gif"); background-repeat: no-repeat; display: block; width:45px; height: 45px; text-indent: -9999px; position: absolute; top: 0px; left: 12px; z-index:100;}

/* Wicket standard Dialog overwrite */
/* ================================================ */
body div.wicket-modal div.w_blue div.w_top, body div.wicket-modal div.w_blue div.w_bottom, body div.wicket-modal div.w_blue div.w_topLeft, body div.wicket-modal div.w_blue div.w_topRight, body div.wicket-modal div.w_blue div.w_bottomRight, body div.wicket-modal div.w_blue div.w_bottomLeft, body div.wicket-modal div.w_blue a.w_close{
background-image: url(images/wicketframe-hippo.png); 
}
body div.wicket-modal div.w_blue div.w_left, body div.wicket-modal div.w_blue div.w_right {
background-image:url(images/wicketframe2-hippo.png); 
}

body div.wicket-modal div.w_caption{background: #fafbfb}
body div.wicket-modal div.w_content {background: #fafbfb url("images/dialogBack.gif") repeat-x bottom left} 
body div.wicket-modal div.w_content_3{border: none}
body div.wicket-modal div.w_content_2 {padding-top: 0px}
body.dialog{background-position: 40px 38px; padding: 50px; padding-left: 122px; padding-top: 43px; background-repeat: no-repeat; background-color: none;}
div.dialog{background-position: 40px 38px; padding: 50px; padding-left: 122px; padding-top: 43px; background-repeat: no-repeat; background: transparent url("images/icons/dialog-question-48.png") no-repeat 40px 38px;}
body div.wicket-modal div.w_content_1{margin-right: 5px;}
body div.wicket-modal div.w_right_1 {margin-left:5px;}

/* element get's shown even when there is no message, uncomment this line when the issue is fixed 
body.dialog div.dialogException{border: 1px solid red; padding: 5px; color: red; background: green}
*/



div.dialog div.dialogButtons, body.dialog div.dialogButtons{text-align: right; position: absolute; right: 50px; bottom:50px;}

body div.dialog table tr td, body.dialog table tr td{padding-top: 5px; padding-bottom: 5px;}
body div.dialog h1, body.dialog h1{margin-bottom: 10px; font-size: 16px;}

div.dialog table.imagePicker tr td{padding: 5px;}
div.dialog table.imagePicker{margin-bottom: 15px}

/* Image gallery Popup */
/* ================================================ */
div.thumbnailScroll{width: 400px; overflow: auto; white-space: nowrap; border:1px solid #CCCCCC; background: url("images/panelBack.png") repeat-x; border-top: none;}

/* Breadcrumbs */
/* ================================================ */
.Breadcrumb{
left:370px;
position:absolute;
top:39px;
z-index:100;
color: #f2f2f2;
}

/* Paging */
/* ================================================ */
a.previous{background: url("images/icons/go-previous-16.png") no-repeat center left; padding: 8px; padding-left: 20px;}
a.next{background: url("images/icons/go-next-16.png") no-repeat center right; padding: 8px; padding-right: 20px}


/* Versioning */
/* ================================================ */
table.versiondetails{margin-top: -2px}
table tr td table.versiondetails tr td{padding: 0px; color: #a2a2a2}

.taglist li{display: inline; ccolor: #a2a2a2;}
.versionlabel {font-size: 12px; color: #666666; padding: 5px; padding-left: 15px;}

table.panelhead tr td{vertical-align: middle}
table.panelhead tr td.document_big_ico {background-repeat: no-repeat; background-position: center center; width: 40px}
div.versioning .panelHead{height: auto; background: #f2f2f2; width: 100%;}
div.versioning .panelHead td{padding: 5px;}


#versioningWidget {
    display:none;
}

/* Tree */
/* ================================================ */
div.Tree {
margin:0px;
border: none;
margin-top: 2px;
}
div.Tree *{white-space: nowrap;}

div.Tree div.wicket-tree{margin: 0px; overflow: hidden; width: auto;}

div.Tree .wicket-tree .row a {color: black}
div.wicket-tree div.a_{width: auto; display:block;}
div.Tree .wicket-tree .row {width:auto;}
div.Tree .wicket-tree .row a:hover{color: #4b82c6; text-decoration: underline}
div.Tree .wicket-tree .row-selected a {}
div.Tree .wicket-tree .row-selected { background: #f2f2f2; overflow:hidden; }
div.Tree div.wicket-tree{border: none;}
div.Tree div.wicket-tree div.row-selected a span {font-weight: normal; color: black;}

/* Template Editor */
/* ================================================ */

#editor-perspective-wrapper div.panelcontainer{border-top: none; background: white;}

div.editor{
padding:4px;
background: url("images/panelBack.png") repeat-x;
}

div.templatetitle{
background: url("images/inactiveView.gif") repeat-x;
height: 30px;
}

.editor table tr td{vertical-align: top;}
 
span.templateactions ul li a span{padding-left: 0px}
div.fields div span.templateactions ul li{padding: 0px} 

.templatedetails{
padding: 4px;
}

.required{
color: red;
font-size: 14px;
margin-right: 2px;
}

/* temp icon hack */
ul.fieldtypes li {background-image:url("images/icons/workflow-16.png"); background-repeat: no-repeat; margin-bottom: 2px;}

/* edit template item */
div#templateitemedit{background: none;width: 200px;}
div#templateitemedit h3{font-size: 12px; margin-bottom: 10px;}
body div#templateitemedit .renderItem h3{color: #666666}
div.fieldedit table{margin-top: 4px;}
div.fieldedit table tr td{padding:3px;}

div#templateitemedit h3.name {color: black; margin-bottom: 4px;}
div#templateitemedit input{width: 140px;}

/* template model edit */
.templatedetails div.templateItem,
.editor div.renderItem div, .editor div.templateItem{padding: 8px; margin-bottom: 4px; position: relative;}

.editor div.renderItem div div{padding: 0px; margin: 0px;}
.editor div.renderItem div.renderItem{margin-bottom: 5px; background: none}

.editor table.templateItemTable{width: 100%; background: #f2f2f2}
.templatedetails div.templateItem {background: #f2f2f2}

.templatedetails div.templateItem h3,
.editor div.renderItem div h3, 
.editor table.templateItemTable h3{font-size: 11px; font-weight: normal; color: #b2b2b2; margin-bottom: 8px; text-decoration: underline}
.templatedetails div.templateItem h3{color: #666666; text-decoration: none;}

.editor table.templateItemTable td.controls{width: 15px; background: white; padding: 0px;}
.editor table.templateItemTable td.removeItem{width: 15px; background: white; padding: 0px}
.editor table.templateItemTable td{padding: 8px}
.editor table.templateItemTable table td{padding: 0px}


.editor table.templateItemTable a.up-control, .editor table.templateItemTable a.down-control{display: block; width: 10px; height: 10px; background-repeat: no-repeat; background-position: center center; margin-bottom: 4px;}
.editor table.templateItemTable a.edit-control{
display:block;
height:6px;
left:0px;
padding:5px;
position:absolute;
text-indent:-9999px;
top:0px;
width:317px;
z-index: 5;
}

.editor table.templateItemTable a.close-control{display: block; background-repeat: no-repeat; background-position: center center; padding: 0px 8px 3px 8px; margin-left: 2px;}  

/* input element styling */
.templatedetails div.templateItem input,
.templatedetails div.templateItem select,
.templatedetails div.templateItem textarea,
.editor div.renderItem div input,
.editor div.renderItem div select,
.editor div.renderItem div textarea,
.editor table.templateItemTable input,
.editor table.templateItemTable select,
.editor table.templateItemTable textarea
{font-family: arial, helvetica, sans-serif; font-size: 18px; background: white; border: 1px solid #666666; padding: 2px;}

.templatedetails div.templateItem input,
.editor div.renderItem div input, .editor table.templateItemTable input{width: 100%;}
.editor div.renderItem div select, .editor table.templateItemTable select{}
.templatedetails div.templateItem textarea, .editor div.renderItem div textarea, .editor table.templateItemTable textarea{width: 100%; height: 300px}
 

.editor div.renderItem div.datePicker input{width: 80px;}



/* Xinha */
/* ================================================ */
table.htmlarea tr td{border: none}
table.htmlarea tr td table tr td{border: none}
body div.renderItem div table.htmlarea tr td select{margin-top: 0px; font-size: 11px;}
table.htmlarea tr td{padding: 0px; vertical-align: top;}

div.fields div.toolbar div, div.toolbar div {
margin-bottom:0px;
padding:0px;
margin: 0px;
}

body .htmlarea .toolbar select, body .htmlarea .toolbar select:hover, body .htmlarea .toolbar select:active{
top: 1px;
}

body .htmlarea .toolbar {
  background-color: #fefefe;
}
.htmlarea table.toolbarRow {
  margin-top:2px;
  margin-bottom:2px;
  background-image:url(button-background.png);
  height:22px;
}
.htmlarea .toolbar .button {
  width:20px;
  height:20px;
  padding:1px;
  border:none;
  background-image:url(button-background.png);
}
.buttonImageContainer {
  position:relative;
  left:1px;
  top:1px;
}
.htmlarea .toolbar .separator {
  margin:0;
  background-image:url(separator.png);
  width:7px;
  height:20px;
  padding:0;
}
.separator {
  border:none;
}
.htmlarea .toolbar a.button:hover {
  border:1px solid #335500;
  padding:0;
  background-image:url(hover.png);
}
.htmlarea .toolbar .button.buttonPressed
{
  border:1px solid #335500;
  padding:0;
  background-image:url(selected.png);
}
.htmlarea .statusBar {
  padding:0;
  height:20px;
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#f2f0e4;
  color:ButtonText;
  font:11px helvetica,arial,sans-serif;
}
.htmlarea .statusBar .statusBarTree {
  display:block;
  margin:3px;
}
.htmlarea .statusBar .statusBarTree a {
  padding:2px 5px;
  color:#00f;
  text-decoration:none;
}
.htmlarea .panel h1 {
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#f2f0e4;
}

/* keep xinha from taking over the wrong styles */
div.fields table.htmlarea tr td, .htmlarea div.toolbar {
padding:0px;
}


/* Table datalists */
/* ================================================ */

.dataview{width: 100%; background: white}
table.dataview th a {color: #666666;}
.dataview tr td{padding: 5px;}
.dataview th {
  text-align:left;
  background: url('images/filelistHeaderback.gif') repeat-x; 
  padding: 4px;
  padding-top: 2px;
}

tr.even td{background-color: #f7f7f7}
tr.odd td { padding: 5px; }

.Doclist table tr td a{color: black}
.Doclist{ height: 45%; overflow: auto}


table tr td.icon-16{width: 15px}
table tr td.icon-16 span a span{display: block; height: 16px;}

.dataListPaging td{padding: 10px; text-align: center; font-weight: bold;}
.dataListPaging td div{margin-bottom: 5px}
.dataListPaging td a{padding: 5px;}
.dataListPaging td a:hover{background: #f2f2f2}
.dataListPaging td span em, .dataListPaging td a em{font-style: normal}

.navigator, .navigator a { color: green; font-size: 18px; margin-left: 10px; }
.navigator { color: grey }


/* User Management */
/* ================================================ */

.iconListSmall li{margin-bottom: 3px;}
.iconListSmall li a{background-repeat: no-repeat; background-position: left center; display: block; padding: 4px; padding-left: 20px; color: #666666}

.users_list_ico li a{background-image:url("images/icons/user-16.png")}
.groups_list_ico li a{background-image:url("images/icons/groups-16.png")}
.domains_list_ico li a{background-image:url("images/icons/domain-16.png")}
.roles_list_ico li a{background-image:url("images/icons/permissions-16.png")}

.userGroupsList h3{display: none;}

.userGroupsList{
height: 188px;
overflow:auto;
border: 1px solid #4A84C8;
background: url("images/icons/message-dropitem-128.png") no-repeat center 70px;
margin-top: 10px;
} 

.addNodeWidget {
  margin-bottom: 4px;
}
.addNodeWidget span{
  cursor:pointer;
  cursor:hand;
  text-decoration: underline;
}
.addNodeWidget input{
  border: 1px solid #18A4E2;
  border: 1px solid #000;
}

.templatedetails div.templateactions {
position: absolute;
left: 167px;
top: 0px;
}

div.templateactions div {display: inline}


div.templateactions {
  width:240px;
}

div.templateactions div{margin-bottom: 0px; padding: 0px} 

.templateactions a:hover {
  cursor:pointer;
  cursor:hand;
}

.inactiveNode {
  opacity: 0.6;
}

.target {
  border: 1px solid #62C621 ! important;
  background: white url("images/dropback.gif") no-repeat center 40px;
}

.xinha-modal {
  height: auto;
  margin: 10px;
}