/* Defaults */
* { margin : 0; padding : 0;}
div.clearer {clear: both;}
/* ======================================== */

/* Global elements styles */
/* ================================================ */
body {background-color: white;}

/* default font settings */
body, table tr td, table tr th{
font-family: tahoma, arial,sans-serif,helvetica;
font-size: 11px;
vertical-align: top;
background: transparent;
padding: 15px;
}
ol, ul{list-style-position: inside}



