@import '../../../../../../styles/variables';

hippo-create-content-step-2 {
  .editable-title-toolbar {
    background-color: $grey-100;
    box-shadow: 1px 0 8px $overlay-link-shadow-color;
    height: 56px;
    margin-bottom: 15px;
    min-height: 54px;
    h6 {
      margin: 0;
    }

    md-icon {
      color: $grey-600;
    }
  }
}
