@import '../../../../../../styles/variables';

hippo-create-content-step-2 {
  .editable-title-toolbar {
    background-color: $grey-100;
    box-shadow: 0 3px 8px $overlay-link-shadow-color;
    height: 56px;
    min-height: 54px;
    z-index: 3;
    h6 {
      margin: 0;
    }

    md-icon {
      color: $grey-600;
    }
  }
}

.name-url-fields-dialog {
  mat-input-container {
    width: 100%;
  }
}
