/* Defaults */
* { margin : 0; padding : 0;}
/* Normalizes font-size for headers */
h1,h2,h3,h4,h5,h6 { font-size : 100%; }
/* Removes list-style from lists */
ol,ul { list-style : none; }
/* no underlined links by default */
a {text-decoration: none}
/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, th, var
{ font-style : normal; font-weight : normal; }
table { border-collapse : collapse; border-spacing : 0; }
/* Removes border from fieldset and img */
fieldset,img { border : 0; }
/* Left-aligns text in caption and th */
caption,th { text-align : left; }
/* used as a fast fix if you want something to float left */
/* to clear */
div.clearer {clear: both;}
.hideme {display:none;}
.floatleft{float: left}
/* firefox fix for left right movement when scrollbar is enabled */
html { min-height: 100%; margin-bottom: 0.01em; } 
/* ======================================== */
  
/* Global elements styles */
/* ================================================ */

body {background-color: white;}

/* default font settings */
body, table tr td, table tr th{
font-family: tahoma, arial,sans-serif,helvetica;
font-size: 11px;
vertical-align: top;
/*overflow: hidden;*/
}

a {color: #333333;} 

/* default buttons */
button, input[type="button"], input[type="submit"] {
 font-size: 12px;
 padding: 4px;
margin: 2px;
}

ul.highlight li,
ul.highlight li a span,
ul.hightlight li, 
table tr.selected td, 
table tr.selected td,
table tr.selected td a,
.hightlight a { background: #c3d1de; border-bottom: 1px solid #286088}

/* Tabsplugin */
/* ================================================ */
ul.tabs li.selected a{font-weight: bold; text-decoration: none; color: black }

.vertical ul.tabs {position: absolute; top: 50px; width: 35px; left: 2px}
.vertical ul.tabs li {height: 40px;}

ul.tabs li a.close {position: absolute; right: 40px; top: 1px; background: url('images/close.png') no-repeat center center; padding: 6px; padding-right: 11px; height: 14px; text-indent: -9999px}

.vertical ul.tabs li.selected {background-image:url("images/maintabselected.png")}
.vertical ul.tabs li span{display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; text-indent: -9999px;}

.vertical ul.tabs li.tab0 span{background-image: url(images/icons/home-24.png);}
.vertical ul.tabs li.tab1 span{background-image: url(images/icons/emblem-documents-24.png);}
.vertical ul.tabs li.tab2 span{background-image: url(images/icons/groups-24.png);}

ul.tabs li.tab0 a.close, ul.tabs li.tab1 a.close{background-image: none}

/* Document view panel */
.documenttabtop{background: url("images/documenttabsback.png") repeat-x bottom}
ul.documenttabs {
  background: none;
  width: auto;
  position: relative;
}

ul.documenttabs li.tab0,
ul.documenttabs li.tab1,
ul.documenttabs li.tab2,
ul.documenttabs li.tab3,
ul.documenttabs li.tab4,
ul.documenttabs li.tab5
 {
  display:block;
  float:left;
  margin-right: 10px;
  position: relative;
  background: url("images/tabinactive.gif") no-repeat;
  width: 147px;
}

ul.documenttabs a {
  font-weight: normal;
  white-space:nowrap;
  display: block;
  float: left;
  padding: 4px;
  padding-bottom: 5px;
  padding-left: 25px; 
  text-decoration: none;
  text-align: center;
  color: #333333;

}
ul.documenttabs a.edit_ico{
background-repeat: no-repeat;
background-position: 5px 2px;
}

ul.documenttabs li.selected{background: url("images/tabactive.gif") no-repeat}

/* Preview panel */
/* ================================================ */
.preview {padding: 4px; height: 38%; overflow: auto; margin: 11px;}
.preview .renderItem{padding: 8px; margin-bottom: 4px; position: relative;}
.preview .renderItem div span{font-family: arial, helvetica, sans-serif; font-size: 18px; background: white; padding: 2px; display: block}

.preview .renderItem h3 span{font-size: 11px; font-weight: normal; color: #b2b2b2; margin-bottom: 8px; font-family: tahoma, arial, helvetica, sans-serif}

div.preview span.iconsSmall, div.preview td.iconsSmall{display: none}
div.previewMessage{background: url("images/icons/message-preview-128.png") no-repeat center center; height: 400px; text-indent: -9999px}

/* Wicket Ajax indicator */
/* ================================================ */
span.wicket-ajax-indicator{position: absolute; top: 18px; left: 212px; display: block; visiblity: visible}

/* Logout */
/* ================================================ */
ul.logout {position: absolute; right: 0px; top: 4px; z-index: 10; padding: 6px; width: 400px; color: white;
background: url("images/headingback-right.png") no-repeat top right;
text-align: right;
padding-right: 17px;
padding-top: 24px;
}
ul.logout li{display: inline}
ul.logout li span.name{color: white; font-weight: bold; text-transform: capitalize}
ul.logout a:hover{text-decoration: underline}
ul.logout li a { color: white;}


/* Main Positioning and Panels */
/* ================================================ */


.header{background: url("images/headingback.png") repeat-x; height: 45px; margin-top: 4px;}
.header a.home{background: url("images/headingback-left.png") no-repeat; height: 43px; width: 220px; display: block; float: left; text-indent: -300px;}

.scrolllist{overflow: auto; height: 94px; padding: 2px; border: 1px solid #286088; border-top: none; border-right: none}

/* Dashboard */
/* ================================================ */
.dashboard{background: #286088}
.dashboard .dashboardpanel{background: #D7E1EA}
.dashboard .dashboardpanel h2{color: white; padding: 4px; background: #286088}
.dashboard .dataview {width: 100%;}
.dashboard .dataview tr td{padding: 6px; color: #666666;}
.dashboard .dataview tr.even td{background: #e5ebf0}
.dashboard .dataview tr td a{color: black; display: block; background: url("images/icons/document-16.png") no-repeat center left; padding: 2px; padding-left: 22px; }
.dashboard .dataview tr td a:hover{text-decoration: underline}

/* Shortcuts */
/* ================================================ */
.shortcuts {margin-left: 35px; padding: 6px}
.shortcuts div div{float: left; margin-right: 8px;}
.shortcuts div div a{color: #333333}
.shortcuts div div a.image-add{background: none}
.shortcuts div div a.icon-16{padding-left: 0px;}

div.iconshortcuts{padding: 0px;}
div.iconshortcuts h3{color: white; display: none;}

/* Boxes */
/* ================================================ */


/* Toolbar */
/* ================================================ */ 
div.editor .toolbar .toolbarSection {display: block; float: left; color: #666666; padding-top: 0px; margin-right: 15px; background: url("images/devider.png") no-repeat center right;}
div.editor .toolbar .toolbarSection li{margin-right: 15px; float: left;}
div.editor .toolbar .toolbarSection li a:hover{text-decoration: underline; color: black;}
div.editor .toolbar .toolbarSection li span, .toolbarSection li a{display: block; padding: 2px; padding-left: 24px; background-repeat: no-repeat; color: #666666}
div.editor .toolbar .toolbarSection li a span, 
div.editor .toolbar .toolbarSection li span a, 
div.editor .toolbar .toolbarSection li span span{display: inline; padding: 0px;}
div.editor .toolbar div.renderItem,
div.editor .toolbar div.renderItem div.renderItem{margin: 0px; padding: 0px;}


div.editor .toolbar .toolbarSection select{float: right;  background: #286088; color: white; margin: 2px; border: 1px solid white;}
div.editor .toolbar .toolbarSection select option{color: #666666; background: white; color: #666666; }

div.editor .toolbar .toolbarSection li.documentLocked{height: 16px; width: 16px; margin-right: 0px;}
div.editor .toolbar .toolbarSection li.documentCaption{margin-right: 2px;}
div.editor .toolbar .toolbarSection li.documentCaption span,
div.editor .toolbar .toolbarSection li.documentStatus span{padding-left: 5px; color: black}

/* Welcome Panel */
/* ================================================ */
.welcomepanel{margin-bottom: 8px;}
.welcomepanel div.padding{padding: 15px;}
.welcomepanel table{width: 100%; margin-bottom: 15px}
.welcomepanel table tr td{display: none; width: 33%; height: 70px; padding-left: 78px; padding-top: 28px; background-position: 15px 15px; background-repeat: no-repeat}
.welcomepanel table tr td a{font-size: 18px; color: #999999}
.welcomepanel table tr td a:hover{text-decoration: underline}

/* Global Icon Management */
/* ================================================ */
div div ul li.icolistsmall{background-position: center left; background-repeat: no-repeat; padding: 3px; margin-bottom: 1px;}
div div ul li.icolistsmall a{display: block; padding-left: 15px; color: #666666;}
div.groupsico div ul li.icolistsmall { background-image: url("images/icons/groups_ico_small.png")}
div.usersico div ul li.icolistsmall {background-image: url("images/icons/users_ico_small.png")}
div.domainsico div ul li.icolistsmall { background-image: url("images/ic/domain_ico_small.png")}

table.users_ico_table tr td{background-image: url("images/icons/users_ico_small.gif")}

.iconsSmall a{display: block; padding: 2px; background-repeat: no-repeat; text-indent: -9999px; width: 16px; height: 16px; margin-top: 2px;}
.iconsBig a{display: block; padding: 2px; background-repeat: no-repeat;}

.icon-48 a{background-repeat: no-repeat;}
.icon-24 a{background-repeat: no-repeat;}
.icon-16 {background-repeat: no-repeat; background-position: center left; padding-left: 22px; padding-top:4px; padding-bottom: 4px; }

/* mimetypes icons */
table tr.selected span.document-16, .document-16{background-image:url("images/icons/document-16.png")}
table tr.selected span.folder-16, .folder-16{background-image:url("images/icons/folder-16.png")}

.document_big_ico{background-image:url("images/icons/document-48.png")}
.users_big_ico{background-image:url("images/icons/groups-48.png")}
.groups_big_ico{background-image:url("images/icons/groups-48.png")}

.state-review-16{background-image:url("images/icons/state-review-16.png")}
.state-changed-16{background-image:url("images/icons/state-changed-16.png")}
.state-new-16{background-image:url("images/icons/state-new-16.png")}
.state-live-16{background-image:url("images/icons/state-live-16.png")}

.arrow-sort-down-16{background-image:url("images/icons/arrow-sort-down-16.png")}
.arrow-sort-up-16{background-image:url("images/icons/arrow-sort-up-16.png")}
.remove-field-16{background-image:url("images/controls/close-control.gif")}

.arrow-paging-previous-16{background-image:url("images/icons/arrow-paging-previous-16.png")}
.arrow-paging-next-16{background-image:url("images/icons/arrow-paging-next-16.png")}

.document-new-48{background-image:url("images/icons/document-48.png")}
.user-48{background-image:url("images/icons/groups-48.png")}
.folder-48{background-image:url("images/icons/emblem-documents-48.png")}

.image-add-48{background-image:url("images/icons/image-add-48.png")}
.image-add{background-image:url("images/icons/image-add-16.png");}

.document-lock-16{background-image:url("images/icons/document-lock-16.png")}

.dialog-information-48{background-image:url("images/icons/dialog-information-48.png")}
.dialog-question-48{background-image:url("images/icons/dialog-question-48.png")}

.panel-toggle-version-16{background-image:url("images/icons/panel-toggle-version-16.png");}
.panel-toggle-version-16 a:hover{cursor: pointer}

.edit_ico{background-image:url("images/icons/edit-16.png")}
.delete_ico{background-image:url("images/icons/edit-delete-16.png")}
.add_ico{background-image:url("images/icons/list-add-16.png")}
.remove_ico{background-image:url("images/icons/edit-delete-16.png")}

.up_ico{background-image:url("images/icons/go-up-16.png")}
.down_ico{background-image:url("images/icons/go-down-16.png")}

.revert_ico{background-image:url("images/icons/document-revert-16.png")}
.save_ico{background-image:url("images/icons/document-save-16.png")}

.templateitemup_ico{background-image:url("images/icons/go-up.png")}
.templateitemdown_ico{background-image:url("images/icons/go-down.png")}

.reqdelete_ico{background-image:url("images/icons/workflow-requestdelete-16.png")}
.reqpublish_ico{background-image:url("images/icons/workflow-requestpublish-16.png")}
.reqdepublish_ico{background-image:url("images/icons/workflow-requestunpublish-16.png")}
.publish_ico{background-image:url("images/icons/publish-16.png")}
.depublish_ico{background-image:url("images/icons/unplublish-16.png")}

.reqcancel_ico{background-image:url("images/icons/unplublish-16.png")}
.reqaccept_ico{background-image:url("images/icons/workflow-accept-16.png")}
.reqreject_ico{background-image:url("images/icons/workflow-requestunpublish-16.png")}

.adddocument_ico{background-image:url("images/icons/document-new-16.png")}
.addfolder_ico{background-image:url("images/icons/folder-new-16.png")}
.addextended_ico{background-image:url("images/icons/folder-extended-new-16.png")}

.copymodelrequest_ico{background-image:url("images/icons/document-copy-16.png")}
.editmodel_ico{background-image:url("images/icons/edit-16.png")}
.createnamespace_ico{background-image:url("images/icons/document-new-16.png")}
.modelreq_ico{background-image:url("images/icons/refresh-16.png")}
.createtyperequest_ico{background-image:url("images/icons/document-new-16.png")}


/* Boxes */
/* ================================================ */
.box-top,
.box-left,
.box-right,
.box-topleft,
.box-topright,
.box-bottomleft,
.box-bottomright{background-image: url(images/boxes/box-blue.png);}

/* Wicket standard Dialog overwrite */
/* ================================================ */
body div.wicket-modal div.w_blue div.w_top, body div.wicket-modal div.w_blue div.w_bottom, body div.wicket-modal div.w_blue div.w_topLeft, body div.wicket-modal div.w_blue div.w_topRight, body div.wicket-modal div.w_blue div.w_bottomRight, body div.wicket-modal div.w_blue div.w_bottomLeft, body div.wicket-modal div.w_blue a.w_close{
background-image: url(images/boxes/box-blue.png); 
}
body div.wicket-modal div.w_blue div.w_left, body div.wicket-modal div.w_blue div.w_right {
background-image:url(images/boxes/box-blue2.png); 
}

body div.wicket-modal div.w_caption{background: url("images/boxes/box-blue-caption.png") repeat-x; height: 20px;}

body div.wicket-modal div.w_caption span{color: white; font-size: 12px; padding-left: 5px;}
body div.w_blue a.w_close{width: 44px; height: 18px; background-position: -154px -48px;}
body div.w_blue a.w_close:hover{background-position: -154px -66px; width: 44px; height: 18px;}
body div.wicket-modal div.w_content {background: white url("images/boxes/box-blue-back.png") repeat-x bottom left} 
body div.wicket-modal div.w_content_3{border: none}
body div.wicket-modal div.w_content_2 {padding-top: 0px}
body div.wicket-modal div.w_content_1{margin-right: 5px;}
body div.wicket-modal div.w_right_1 {margin-left:5px;}


body.dialog{padding: 40px;}

/* Reorder Dialog */
/* ================================================ */
div.reorder table {width: 377px; margin-right: 40px;}
div.reorderborder{border: 1px solid #286088; padding: 5px;}
div.reorderbuttons{float: right; width: 40px;}

div.reorder .folderlist h3{font-weight: normal; padding: 2px; padding-left: 6px; padding-bottom: 5px;}
div.reorder table tr td {padding: 0px;}
div.reorder table tr td {border-bottom: 1px solid #D7E1EA }
div.reorder table tr.selected td {border-bottom: 1px solid #286088 }
div.reorder table * {cursor: pointer}

div.reorder table tr td.icon-16 {height: 16px; width: 16px; padding: 0px;}
div.reorder table tr td.icon-16 span{display:block; height: 16px; width: 16px; margin-left: 2px;}
div.reorder table tr td.icon-16 span{background-repeat: no-repeat; background-position: center center;}

div.reorder table {border-collapse: separate}
div.reorder table tr th{padding: 2px; padding-left: 4px; padding-bottom: 6px;}
div.reorder table tr td{padding: 2px; padding-left: 4px; padding-bottom: 4px;}



/* element get's shown even when there is no message, uncomment this line when the issue is fixed 
body.dialog div.dialogException{border: 1px solid red; padding: 5px; color: red; background: green}
*/

div.dialog div.dialogButtons, body.dialog div.dialogButtons{text-align: right; position: absolute; right: 15px; bottom:15px;}

body div.dialog h1, body.dialog h1{margin-bottom: 10px; font-size: 16px;}

div.dialog table.imagePicker tr td{padding: 5px;}
div.dialog table.imagePicker{margin-bottom: 15px}

/* Image gallery Popup */
/* ================================================ */
div.thumbnailScroll{width: 250px; overflow: auto; white-space: nowrap; border:1px solid #CCCCCC; background: url("images/panelBack.png") repeat-x; border-top: none;}

/* Breadcrumbs */
/* ================================================ */
.Breadcrumb{
left:370px;
position:absolute;
top:39px;
z-index:100;
color: #f2f2f2;
}

/* Paging */
/* ================================================ */
a.previous{background: url("images/icons/go-previous-16.png") no-repeat center left; padding: 8px; padding-left: 20px;}
a.next{background: url("images/icons/go-next-16.png") no-repeat center right; padding: 8px; padding-right: 20px}


/* Versioning */
/* ================================================ */
table.versiondetails{margin-top: -2px}
table tr td table.versiondetails tr td{padding: 0px; color: #a2a2a2}

.taglist li{display: inline; ccolor: #a2a2a2;}
.versionlabel {font-size: 12px; color: #666666; padding: 5px; padding-left: 15px;}

table.panelhead tr td{vertical-align: middle}
table.panelhead tr td.document_big_ico {background-repeat: no-repeat; background-position: center center; width: 40px}
div.versioning .panelHead{height: auto; background: #f2f2f2; width: 100%;}
div.versioning .panelHead td{padding: 5px;}


#versioningWidget {
    display:none;
}

/* Navigator */
/* ================================================ */
.navigator .perspectiveTitle{color: white; padding: 2px; padding-left: 4px;}
.navigator{background: #286088}
.navigator .folderlist h3{background: transparent url(images/filelistHeaderback.png) repeat-x; font-weight: normal; padding: 2px; padding-left: 6px; padding-bottom: 5px;}
.navigator .documentlist, 
.navigator .folderlist{background: #D7E1EA}
.navigator table.dataview {background: url('images/filelistHeaderback.png') repeat-x;}

.navigator .toolbar .toolbarSection li.alignright{float: right}
.navigator .toolbar{padding:2px}

.documentlist table tr td.icon-16 {height: 16px; width: 16px; padding: 0px;}
.documentlist table tr td.icon-16 span{display:block; height: 16px; width: 16px; margin-left: 2px;}
.documentlist table tr td.icon-16 span{background-repeat: no-repeat; background-position: center center;}



/* Document list */
.documentlist table {border-collapse: separate}
.documentlist table tr th{padding: 2px; padding-left: 4px; padding-bottom: 6px;}
.documentlist table tr td{padding: 2px; padding-left: 4px; padding-bottom: 4px;}


/* Tree */
div.Tree {
margin:0px;
border: none;
background: #D7E1EA;
}
div.Tree *{white-space: nowrap;}

div.Tree div.wicket-tree{margin: 0px; overflow: hidden; width: auto;}

div.Tree .wicket-tree .row a {color: #333333}
div.Tree div.wicket-tree div.a_{width: auto; display:block; margin-left: 0px; padding-left: 0px;}
div.Tree .wicket-tree .row {width:auto;}
div.Tree .wicket-tree .row a:hover{color: #4b82c6; text-decoration: underline}
div.Tree .wicket-tree .row-selected a {}
div.Tree .wicket-tree .row-selected { background: #c3d1de; overflow:hidden; border-bottom: 1px solid #286088}
div.Tree div.wicket-tree{border: none;}
div.Tree div.wicket-tree div.row-selected a span {font-weight: normal; color: black;}

div.Tree .wicket-tree span.plus{background: url("images/tree-icons.png") no-repeat scroll 0px center} 
div.Tree .wicket-tree span.minus{background: url("images/tree-icons.png") no-repeat scroll -18px center} 
div.Tree .wicket-tree span.corner{background: url("images/tree-icons.png") no-repeat scroll -54px center}
div.Tree .wicket-tree span.junction{background: url("images/tree-icons.png") no-repeat scroll -36px center} 
div.Tree .wicket-tree span.junction-last{background: url("images/tree-icons.png") no-repeat scroll -36px center} 
div.Tree .wicket-tree span.indent-line {background: url("images/tree-icons.png") no-repeat scroll -36px center}

/* Template Editor */
/* ================================================ */

div.editor{
padding:0px;
background: white;
border: 1px solid #286088;
border-top: none;
}
body .documentPreview ol {list-style-type: decimal; list-style-position: inside}
body .documentPreview ul {list-style-type: disc; list-style-position: inside}

.editor-top{background: url("images/editortoolbarback.png") repeat-x}}

div.templatetitle{
background: url("images/inactiveView.gif") repeat-x;
height: 30px;
}

.editor table tr td{vertical-align: top;}
 
span.templateactions ul li a span{padding-left: 0px}
div.fields div span.templateactions ul li{padding: 0px} 

.templatedetails{
padding: 4px;
}

.required{
color: red;
font-size: 14px;
margin-right: 2px;
}

/* temp icon hack */
ul.fieldtypes{background: #f2f2f2;}
ul.fieldtypes li {background-image:url("images/icons/workflow-16.png"); background-repeat: no-repeat; padding-top: 4px; padding-bottom: 2px; padding-left: 20px; list-style-type: none}

/* edit template item */
div#templateitemedit{background: none;/*width: 200px;*/}
div#templateitemedit .renderItem{height: auto; background: transparent;}
div#templateitemedit .actionspanel{margin: 5px; padding-left:4px;padding-right:4px;}
div#templateitemedit .actionspanel h3{font-size: 14px; margin-top: 10px; margin-bottom: 6px; display: block; color: #666666;}
div#templateitemedit .actionspanel div {width: auto;}
div#templateitemedit .actionspanel div div h3{font-size: 12px; margin-top: 6px; margin-bottom: 4px;}
div.fieldedit table{margin-top: 4px;}
div.fieldedit table tr td{padding:3px;}

div#templateitemedit h3.name {color: black; margin-bottom: 4px;}
div#templateitemedit input{width: 100%;}

/* template model edit */
.templatedetails div.templateItem,
.editor div.renderItem > div, .editor div.templateItem{padding: 8px; margin-bottom: 4px; position: relative;}

.editor div.renderItem div div{padding: 0px; margin: 0px;}
.editor div.renderItem div.renderItem{margin-bottom: 5px; background: none}

.editor table.templateItemTable{width: 100%;}
.templatedetails div.templateItem {background: #f2f2f2}

.templatedetails div.templateItem h3,
.editor div.renderItem div h3, 
.editor table.templateItemTable h3{font-size: 11px; font-weight: normal; color: #b2b2b2; margin-bottom: 8px;}
.templatedetails div.templateItem h3{color: #666666; text-decoration: none;}

.editor ul.fieldcontrols{background: white; padding: 0px; float: right;}
.editor ul.fieldcontrols li{display: block; float: left;}
.editor ul.fieldcontrols li a{display: block; height: 16px; width: 16px; background-position: center center; background-repeat: no-repeat}
 

/* input element styling */
.templatedetails div.templateItem input,
.templatedetails div.templateItem select,
.templatedetails div.templateItem textarea,
.editor div.renderItem div input,
.editor div.renderItem div select,
.editor div.renderItem div textarea,
.editor table.templateItemTable input,
.editor table.templateItemTable select,
.editor table.templateItemTable textarea
{font-size: 11px; background: #f6fbfe; border: none; padding: 4px; color: #333333}

.templatedetails div.templateItem input,
.editor div.renderItem div input, .editor table.templateItemTable input{width: 100%;}
.editor div.renderItem div select, .editor table.templateItemTable select{}
.templatedetails div.templateItem textarea, .editor div.renderItem div textarea, .editor table.templateItemTable textarea{width: 100%; height: 200px; border: none;}
 
.editor div.renderItem div.textArea textarea{border: none} 
.editor div.renderItem div.datePicker input{width: 80px;}

.editor table.htmlarea {border: none}

/* Xinha */
/* ================================================ */
table.htmlarea tr td{border: none}
table.htmlarea tr td table tr td{border: none}
body div.renderItem div table.htmlarea tr td select{margin-top: 0px; font-size: 11px;}
table.htmlarea tr td{padding: 0px; vertical-align: top;}

body .htmlarea .toolbar {background: none; border: none; border-bottom: 1px solid #B2B2B2;}
body .htmlarea .toolbar .button{background: none; border: none}
body table.htmlarea{background: #f6fbfe; border: 5px solid #f6fbfe}
table.htmlarea .statusBar{display: none}

body .htmlarea .toolbar select{background: transparent}
body .htmlarea .toolbar select option{padding: 1px; background: transparent}


div.fields div.toolbar div, div.toolbar div {
margin-bottom:0px;
padding:0px;
margin: 0px;
}

.htmlarea table.toolbarRow {
  margin-top:2px;
  margin-bottom:2px;
  background-image:url(button-background.png);
  height:22px;
}
.htmlarea .toolbar .button {
  width:20px;
  height:20px;
  padding:1px;
  border:none;
  background-image:url(button-background.png);
}
.buttonImageContainer {
  position:relative;
  left:1px;
  top:1px;
}
.htmlarea .toolbar .separator {
  margin:0;
  background-image:url(separator.png);
  width:7px;
  height:20px;
  padding:0;
}
.separator {
  border:none;
}
.htmlarea .toolbar a.button:hover {
  border:1px solid #335500;
  padding:0;
  background-image:url(hover.png);
}
.htmlarea .toolbar .button.buttonPressed
{
  border:1px solid #335500;
  padding:0;
  background-image:url(selected.png);
}
.htmlarea .statusBar {
  padding:0;
  height:20px;
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#f2f0e4;
  color:ButtonText;
  font:11px helvetica,arial,sans-serif;
}
.htmlarea .statusBar .statusBarTree {
  display:block;
  margin:3px;
}
.htmlarea .statusBar .statusBarTree a {
  padding:2px 5px;
  color:#00f;
  text-decoration:none;
}
.htmlarea .panel h1 {
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#f2f0e4;
}

/* keep xinha from taking over the wrong styles */
div.fields table.htmlarea tr td, .htmlarea div.toolbar {
padding:0px;
}

/* Table datalists */
/* ================================================ */
.dataview{background: #D7E1EA;}
table.dataview th a {color: #666666;}
tr.headers th.orderAscending {
  background-image: url('images/icons/arrow-sort-down-16.png');
  background-position:center; 
  background-repeat: no-repeat;
  padding-right: 20px;
}
tr.headers th.orderDescending {
  background-image: url('images/icons/arrow-sort-up-16.png');
  background-position:center; 
  background-repeat: no-repeat;
  padding-right: 20px;
}
tr.headers th.orderNone {}

.dataListPaging{position: absolute; bottom: 0px; left: 18px;}
.dataListPaging td{padding: 10px; text-align: center; }
.dataListPaging td div{margin-bottom: 5px; color: #286088 }
.dataListPaging td a{padding: 5px; color: #286088 }
.dataListPaging td a:hover{background: #f2f2f2}
.dataListPaging td span em, .dataListPaging td a em{font-style: normal}

/* Management Perspective */
/* ================================================ */
.management{background:#286088 }

.managementleft{background: #D7E1EA}
.management h2{color: white; padding: 4px; background: #286088}

.managementcenter{background: white; border: 1px solid #286088;} 
.templatedetails div.templateactions {
position: absolute;
left: 167px;
top: 0px;
}
templateactions a:hover {
  cursor:pointer;
  cursor:hand;
}



.iconListSmall li{margin-bottom: 3px;}
.iconListSmall li a{background-repeat: no-repeat; background-position: left center; display: block; padding: 4px; padding-left: 20px; color: #666666}

.users_list_ico li a{background-image:url("images/icons/user-16.png")}
.groups_list_ico li a{background-image:url("images/icons/groups-16.png")}
.domains_list_ico li a{background-image:url("images/icons/domain-16.png")}
.roles_list_ico li a{background-image:url("images/icons/permissions-16.png")}

.userGroupsList h3{display: none;}

.userGroupsList{
height: 188px;
overflow:auto;
border: 1px solid #4A84C8;
background: url("images/icons/message-dropitem-128.png") no-repeat center 70px;
margin-top: 10px;
} 

.addNodeWidget {
  margin-bottom: 4px;
}
.addNodeWidget span{
  cursor:pointer;
  cursor:hand;
  text-decoration: underline;
}
.addNodeWidget input{
  border: 1px solid #18A4E2;
  border: 1px solid #000;
}

.target {
  border: 1px solid #62C621 ! important;
  background: white url("images/dropback.gif") no-repeat center 40px;
}

.xinha-modal {
  height: auto;
  margin: 10px;
}

.wicket-ajax-indicator-dialog {
  bottom: 55px;
  position:absolute;
  right: 26px;
}

