/**
 * IE-win has problems with calculating the correct size for scrollbars in our editor,
 * resulting in the CPU going nuts (seems like an infinite-loop, props for Redmond). 
 * See more: http://www.positioniseverything.net/explorer/unscrollable.html 
 */
/* Start hide from IE-Mac \*/
div.template-type-center-body, div.editor-perspective-center-body {
   height: 1%;
}
/* End Hide from IE-Mac */

.simple-values input[type="file"] { width: 300px; border: 1px solid #666; float:left;}
.simple-values input[type="submit"] { float:left; clear:left; }
.resource-upload { height: 60px;}