/* Defaults */
* { margin : 0; padding : 0;}
/* Normalizes font-size for headers */
h1,h2,h3,h4,h5,h6 { font-size : 100%; }
/* Removes list-style from lists */
ol,ul { list-style : none; }
/* no underlined links by default */
a {text-decoration: none}
/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, th, var
{ font-style : normal; font-weight : normal; }
table { border-collapse : collapse; border-spacing : 0; }
/* Removes border from fieldset and img */
fieldset,img { border : 0; }
/* Left-aligns text in caption and th */
caption,th { text-align : left; }
/* used as a fast fix if you want something to float left */
/* to clear */
div.clearer {clear: both;}
.floatleft{float: left}
 /* firefox fix for left right movement when scrollbar is enabled */
 html { min-height: 100%; margin-bottom: 0.01em; } 
/* ======================================== */
  

/* Global elements styles */
/* ================================================ */

body {background: #4a84c8 url('images/back.gif') repeat-x; padding: 2px;}

/* default font settings */
body, table tr td, table tr th{
font-family: tahoma, arial,sans-serif,helvetica;
font-size: 11px;
vertical-align: top;
}

a { color: #18a4e2 }

input[type="submit"] {
 font-size: 11px;
 padding: 3px;
}

h3.documentlabel{font-size: 18px; font-weight: normal; color: #666666; margin-right: 15px;}
h4{font-weight: normal; color: #a2a2a2; float: left; margin-right: 5px;}

ul.highlight li,
ul.highlight li a span,
ul.hightlight li, 
table tr.selected td, 
.hightlight a { background: #c0d1ea; color: white;}

/* temp fake input submit button */
.fauxbutton span, .fauxbutton a{
background: url("images/fauxbutton.gif") center center; 
display: block; 
width: 100px; 
height: 18px; 
text-align: center; 
padding-top: 3px; 
color: black; 
margin-bottom: 5px; 
margin-left: 5px;
cursor: pointer;
}

span.fauxbutton input {width: 140px; border:1px solid #000; margin: 5px; margin-top:3px;}

/* General page head */
div.pageTitle, div.templatetitle, div.usertitle{
background-color: #e2e2e2;
background-repeat: no-repeat;
background-position: 7px center;
height:48px;
margin:5px;
padding: 10px;
padding-left: 60px;
}

div.templatetitle h3, div.usertitle h3{font-size: 20px; color: #666666; font-weight: normal}
div.templatetitle h4, div.usertitle h4{font-size: 12px; color: #666666; font-weight: normal; padding-left:2px;}



/* Tabsplugin */
/* ================================================ */
.tabsplugin {position: absolute; top: 50px; left: 5px; padding-top: 30px; height: 85%; width: 98%;}

ul.tabs{display: block; position: absolute; top: 0px; left: 15px; width: 800px}

ul.tabs li {
  display:block;
  float:left;
  background:url('images/tabinactive.gif') no-repeat bottom left; 
  margin-right: 2px;
  width: 156px;
  height: 30px;
  position: relative;
}

ul.tabs a {
  text-decoration:none;
  font-weight:bold;
  white-space:nowrap;
  color: black;
  display: block;
  float: left; 
 }

ul.tabs li a{background-position: 7px 3px; background-repeat: no-repeat; font-size: 11px; padding: 8px 5px 8px 34px; background-image: url('images/icons/edit-24.png')}
ul.tabs li.selected { background:url('images/tabactive.gif') no-repeat bottom left}
ul.tabs li.tab0 a { background-image: url('images/icons/home-24.png')}
ul.tabs li.tab1 a { background-image: url('images/icons/emblem-documents-24.png')}
ul.tabs li.tab2 a { background-image: url('images/icons/groups-24.png')}
ul.tabs li.tab3{margin-left: 50px}
ul.tabs li a.close {position: absolute; right: 40px; top: 1px; background: url('images/close.png') no-repeat center center; padding: 6px; padding-right: 11px; height: 14px; text-indent: -9999px}
ul.tabs li.tab0 a.close, ul.tabs li.tab1 a.close{background-image: none}


/* Preview panel */
/* ================================================ */
.preview {padding: 4px; height: 44%; overflow: auto; border: 1px solid black; margin: 11px;}
.preview div.fields div{background: #f2f2f2;}
div.preview div.fields h3{background: #d2d2d2;} 
div.preview span.iconsSmall, div.preview td.iconsSmall{display: none}
div.previewMessage{background: url("images/icons/message-preview-128.png") no-repeat center center; height: 400px; text-indent: -9999px}

/* Wicket Ajax indicator */
/* ================================================ */
span.wicket-ajax-indicator{position: absolute; top: 18px; left: 4px; display: block; visiblity: visible}

/* Logout */
/* ================================================ */
div.logout {margin-bottom: 0px; text-align: left; text-transform: capitalize; color: white; padding: 5px; padding-bottom: 0px; padding-top: 0px; padding-left: 13px;}
div.logout span.name{font-size: 22px;}
div.logout div a { color: white; font-weight: bold; float: right;}


/* Main Positioning and Panels */
/* ================================================ */
#header{
height: 85px;
padding: 10px;
width: 98%;
}

.panelcontainer{border: 1px solid white; background: white url("images/panelBack.png") repeat-x 0px 29px;}
.panel{padding-top: 5px; position: relative;}
.panelcontainer h2{display: block; margin-top: 0px; background-position: center right; background-repeat: repeat-x;  height: 29px; margin-bottom: 0px; background: white url("images/panelHeadBack.png") repeat-x;}
.nopadding{padding: 0px}

#left{width: 222px; float: left; height: 100%;}
#lefthalf{width: 50%; float: left; height: 100%; overflow: auto;}
#righthalf{width: 49%; float: right; height: 100%; overflow: auto}

#right{width: 222px; float: right; height: 100%; overflow: auto}
#center{margin-left: 228px; margin-right: 228px; height: 100%; position: relative;}
#wideright{width: 787px; width: 75%; float: left; height: 100%; margin-left: 5px; background: white;}
#wideleft{width: 787px; width: 75%; float: left; height: 100%; margin-right: 5px; background: white}

.scrolllist{overflow: auto; height: 90px; padding: 2px; background-color: white}

.panelhead{background: #f2f2f2; width: 100%; height: 70px;}
.panelhead td{padding: 5px;}

div.slidercontrol a {background: url("images/sliderback.gif") repeat-x; height: 6px; width: 100%; text-align: center; display: block}
div.slidercontrol a:hover{cursor: s-resize}

/* windows explorer like actions panels */
.actionspanel{
background: url("images/actionspanelback.gif") no-repeat top left;
padding: 10px;
padding-top: 7px;
padding-bottom: 2px;
margin-bottom: 15px;
}

div.iconactions{padding: 10px;}
div.iconactions h3{margin-bottom: 16px; color: white}
.actionspanel ul li{margin-bottom: 10px}
.actionspanel ul li span, .actionspanel ul li a{display: block; padding: 2px; padding-left: 24px; background-repeat: no-repeat; color: #333333}
.actionspanel ul li span span{display: inline; padding: 0px;}
.actionspanel ul li span a{display: inline; padding: 0px;}
.actionspanel ul li a:hover{text-decoration: underline; color: #666666;}


/* Panel Headings */
/* ================================================ */
.panelcontainer h2 span{display: block; width: 100%; height: 29px; background-position: left right; background-repeat: no-repeat; text-indent: -9999px; font-size: 11px;}

.panelcontainer h2 span.actions{background-image: url("images/headings/actions.png")}
.panelcontainer h2 span.search{background-image: url("images/headings/browse.png")}
.panelcontainer h2 span.history{background-image: url("images/headings/history.png")}
.panelcontainer h2 span.documents{background-image: url("images/headings/documents.png")}
.panelcontainer h2 span.edit{background-image: url("images/headings/edit.png")}
.panelcontainer h2 span.task{background-image: url("images/headings/tasks.png")}
.panelcontainer h2 span.edititem{background-image: url("images/headings/edittempateitem.png")}
.panelcontainer h2 span.previewlabel{background-image: url("images/headings/preview.png")}
.panelcontainer h2 span.userman{background-image: url("images/headings/usermanagement.png")}
.panelcontainer h2 span.welcome{background-image: url("images/headings/welcome.png")}


/* Welcome Panel */
/* ================================================ */
#welcomepanel{
margin-bottom: 8px;
height: 200px;
}
#welcomepanel table{width: 100%; margin-bottom: 15px}
#welcomepanel table tr td{display: none; width: 33%; height: 70px; padding-left: 78px; padding-top: 28px; background-position: 15px 15px; background-repeat: no-repeat}
#welcomepanel table tr td a{font-size: 18px; color: #999999}
#welcomepanel table tr td a:hover{text-decoration: underline}
/* Global Icon Management */
/* ================================================ */
div div ul li.icolistsmall{background-position: center left; background-repeat: no-repeat; padding: 3px; margin-bottom: 1px;}
div div ul li.icolistsmall a{display: block; padding-left: 15px; color: #666666;}
div.groupsico div ul li.icolistsmall { background-image: url("images/icons/groups_ico_small.png")}
div.usersico div ul li.icolistsmall {background-image: url("images/icons/users_ico_small.png")}
div.domainsico div ul li.icolistsmall { background-image: url("images/ic/domain_ico_small.png")}

table.users_ico_table tr td{background-image: url("images/icons/users_ico_small.gif")}

.iconsSmall a{display: block; padding: 2px; background-repeat: no-repeat; text-indent: -9999px; width: 16px; height: 16px; margin-top: 2px;}
.iconsBig a{display: block; padding: 2px; background-repeat: no-repeat;}

.document_big_ico{background-image:url("images/icons/document-48.png")}
.users_big_ico{background-image:url("images/icons/groups-48.png")}
.groups_big_ico{background-image:url("images/icons/groups-48.png")}

.document-new-48{background-image:url("images/icons/document-48.png")}
.user-48{background-image:url("images/icons/groups-48.png")}
.folder-48{background-image:url("images/icons/emblem-documents-48.png")}


.edit_ico{background-image:url("images/icons/edit-16.png")}
.delete_ico{background-image:url("images/icons/edit-delete-16.png")}
.add_ico{background-image:url("images/icons/list-add-16.png")}
.remove_ico{background-image:url("images/icons/edit-delete-16.png")}

.up_ico{background-image:url("images/icons/go-up-16.png")}
.down_ico{background-image:url("images/icons/go-down-16.png")}

.revert_ico{background-image:url("images/icons/document-revert-16.png")}
.save_ico{background-image:url("images/icons/document-save-16.png")}

.templateitemup_ico{background-image:url("images/icons/go-up.png")}
.templateitemdown_ico{background-image:url("images/icons/go-down.png")}

.reqdelete_ico{background-image:url("images/icons/workflow-requestdelete-16.png")}
.reqpublish_ico{background-image:url("images/icons/workflow-requestpublish-16.png")}
.reqdepublish_ico{background-image:url("images/icons/workflow-requestunpublish-16.png")}
.publish_ico{background-image:url("images/icons/publish-16.png")}
.depublish_ico{background-image:url("images/icons/unplublish-16.png")}

.reqcancel_ico{background-image:url("images/icons/unplublish-16.png")}
.reqaccept_ico{background-image:url("images/icons/workflow-accept-16.png")}
.reqreject_ico{background-image:url("images/icons/workflow-requestunpublish-16.png")}

.adddocument_ico{background-image:url("images/icons/document-new-16.png")}
.addfolder_ico{background-image:url("images/icons/folder-new-16.png")}
.addextended_ico{background-image:url("images/icons/folder-extended-new-16.png")}

.copymodelrequest_ico{background-image:url("images/icons/document-copy-16.png")}
.editmodel_ico{background-image:url("images/icons/edit-16.png")}
.createnamespace_ico{background-image:url("images/icons/document-new-16.png")}
.modelreq_ico{background-image:url("images/icons/refresh-16.png")}
.createtyperequest_ico{background-image:url("images/icons/document-new-16.png")}


/* Wicket standard Dialog overwrite */
/* ================================================ */
body div.wicket-modal div.w_blue div.w_top, body div.wicket-modal div.w_blue div.w_bottom, body div.wicket-modal div.w_blue div.w_topLeft, body div.wicket-modal div.w_blue div.w_topRight, body div.wicket-modal div.w_blue div.w_bottomRight, body div.wicket-modal div.w_blue div.w_bottomLeft, body div.wicket-modal div.w_blue a.w_close{
background-image: url(images/wicketframe-hippo.png);
}
body div.wicket-modal div.w_blue div.w_left, body div.wicket-modal div.w_blue div.w_right {
background-image:url(images/wicketframe2-hippo.png);
}
body div.wicket-modal div.w_blue div.w_left, body div.wicket-modal div.w_blue div.w_right {
background: white;
}
body div.wicket-modal div.w_caption{
background: white url("images/panelHeadBack.png") repeat-x;
padding: 7px;
height: 15px;
}
body div.wicket-modal div.w_right_1{margin-left: 0px;}
body div.wicket-modal div.w_content_1{margin-right: 0px;}
body div.wicket-modal div.w_content_3{border: none} 

body.dialog .fauxbutton a{float: right; margin-left: 15px;} 
body div.wicket-modal span.w_captionText{
display: block;
height: 15px;
width:350px;
color: white;
}
body.dialog{background: white; text-align: right; padding: 15px;}
body.dialog div.dialogButtons{padding-top: 50px}

/* Breadcrumbs */
/* ================================================ */
.Breadcrumb{
left:370px;
position:absolute;
top:39px;
z-index:100;
color: #f2f2f2;
}

/* Workflow */
/* ================================================ */
span.documentStatus{font-weight: normal; padding-left: 3px;}



/* Paging */
/* ================================================ */
a.previous{background: url("images/icons/go-previous-16.png") no-repeat center left; padding: 8px; padding-left: 20px;}
a.next{background: url("images/icons/go-next-16.png") no-repeat center right; padding: 8px; padding-right: 20px}


/* Versioning */
/* ================================================ */
table.versiondetails{margin-top: -2px}
table tr td table.versiondetails tr td{padding: 0px; color: #a2a2a2}

.taglist li{display: inline; ccolor: #a2a2a2;}
.versionlabel {font-size: 12px; color: #666666; padding: 5px; padding-left: 15px;}

table.panelhead tr td{vertical-align: middle}
table.panelhead tr td.document_big_ico {background-repeat: no-repeat; background-position: center center; width: 40px}


/* Tree */
/* ================================================ */
div.Tree {
margin:0px;
border: none;
margin-top: 2px;
}

div.Tree div.wicket-tree{margin: 0px; height: 477px; width: 222px; overflow: auto;} 
div.Tree div.wicket-tree div{overflow: visible}

div.Tree .wicket-tree .row a {color: black}
div.wicket-tree div.a_{width: auto;}
div.Tree .wicket-tree .row a:hover{color: #4b82c6; text-decoration: underline}
div.Tree .wicket-tree .row-selected a {}
div.Tree .wicket-tree .row-selected { background: #f2f2f2; }
div.Tree div.wicket-tree{border: none;}
div.Tree div.wicket-tree div.row-selected a span {font-weight: normal; color: black;}


/* Template Editor */
/* ================================================ */

div.editor{
height: 85%;
max-height:500px;
overflow:auto;
padding:7px;
}

span.templateactions{
display:block;
width: 181px;
padding-top: 35px;
}
span.templateactions ul li a span{padding-left: 0px}
div.fields div span.templateactions ul li{padding: 0px} 


.templatedetails{
padding: 4px;
height: 410px;
height: 80%;
overflow: auto;
}

/* temp icon hack */
li.string a{background-image:url("images/icons/workflow-16.png")}
li.html a{background-image:url("images/icons/workflow-16.png")}
li.boolean a{background-image:url("images/icons/workflow-16.png")}
li.date a{background-image:url("images/icons/workflow-16.png")}
li.hippo_image a{background-image:url("images/icons/workflow-16.png")}
li.hippo_query a{background-image:url("images/icons/workflow-16.png")}
li.hippo_facetselect a{background-image:url("images/icons/workflow-16.png")}

/* edit template item */
div#templateitemedit{background: none;width: 200px;}
div#templateitemedit h3{margin-top: 5px; font-size: 12px;}
div#templateitemedit input{width: 140px;}

/* template model edit */
td.itemmovehandle{vertical-align: top; background: #f8f8f9; width: 43px; position: relative;}

.editor table tr td{vertical-align: top;}

div.fields h3{
background: #666666; 
padding: 4px;
color: white;
font-weight: bold;
font-size: 11px;
margin-bottom: 5px;
}

div.fields input[type="text"]{width: 100px;}
span.actionspanel ul li{background: none}
div.fields table{width: 100%}
div.fields div {padding: 2px}
div.fields div ul li ul li{padding:4px}
/* Xinha */
/* ================================================ */
table.htmlarea tr td{border: none}
table.htmlarea tr td table tr td{border: none}
table.htmlarea tr td select{margin-top: 0px;}
table.htmlarea tr td{padding: 0px; vertical-align: top;}

div.fields div.toolbar div, div.toolbar div {
margin-bottom:0px;
padding:0px;
margin: 0px;
}

body .htmlarea .toolbar select, body .htmlarea .toolbar select:hover, body .htmlarea .toolbar select:active{
top: 1px;
}

body .htmlarea .toolbar {
  background: gray;
  background-image:url(back.png);
  background-repeat:repeat-y;
}
.htmlarea table.toolbarRow {
  margin-top:2px;
  margin-bottom:2px;
  background-image:url(button-background.png);
  height:22px;
}
.htmlarea .toolbar .button {
  width:20px;
  height:20px;
  padding:1px;
  border:none;
  background-image:url(button-background.png);
}
.buttonImageContainer {
  position:relative;
  left:1px;
  top:1px;
}
.htmlarea .toolbar .separator {
  margin:0;
  background-image:url(separator.png);
  width:7px;
  height:20px;
  padding:0;
}
.separator {
  border:none;
}
.htmlarea .toolbar a.button:hover {
  border:1px solid #335500;
  padding:0;
  background-image:url(hover.png);
}
.htmlarea .toolbar .button.buttonPressed
{
  border:1px solid #335500;
  padding:0;
  background-image:url(selected.png);
}
.htmlarea .statusBar {
  padding:0;
  height:20px;
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#f2f0e4;
  color:ButtonText;
  font:11px helvetica,arial,sans-serif;
}
.htmlarea .statusBar .statusBarTree {
  display:block;
  margin:3px;
}
.htmlarea .statusBar .statusBarTree a {
  padding:2px 5px;
  color:#00f;
  text-decoration:none;
}
.htmlarea .panel h1 {
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#f2f0e4;
}
.dialog {
  background-color:#f2f0e4;
}
.dialog .title {
  background-image: url(button-background.png);
}  
.dialog button{
  background-image: url(button-background.png);
}
/* keep xinha from taking over the wrong styles */
div.fields table.htmlarea tr td, .htmlarea div.toolbar {
padding:0px;
}


/* Table datalists */
/* ================================================ */

.dataview{width: 100%; background: white}
table.dataview th a {color: #666666;}
.dataview tr td{padding: 5px;}
.dataview th {
  text-align:left;
  background: url('images/filelistHeaderback.gif') repeat-x; 
  padding: 4px;
  padding-top: 2px;
}

tr.even td{background-color: #f7f7f7}
tr.odd td { padding: 5px; }

.Doclist table tr td a{color: black}
.Doclist{ height: 45%; overflow: auto}


.dataListPaging td{padding: 10px; text-align: center; font-weight: bold;}
.dataListPaging td div{margin-bottom: 5px}
.dataListPaging td a{padding: 5px;}
.dataListPaging td a:hover{background: #f2f2f2}
.dataListPaging td span em, .dataListPaging td a em{font-style: normal}

.navigator, .navigator a { color: green; font-size: 18px; margin-left: 10px; }
.navigator { color: grey }


/* User Management */
/* ================================================ */

.iconListSmall li{margin-bottom: 3px;}
.iconListSmall li a{background-repeat: no-repeat; background-position: left center; display: block; padding: 4px; padding-left: 20px; color: #666666}

.users_list_ico li a{background-image:url("images/icons/user-16.png")}
.groups_list_ico li a{background-image:url("images/icons/groups-16.png")}
.domains_list_ico li a{background-image:url("images/icons/domain-16.png")}
.roles_list_ico li a{background-image:url("images/icons/permissions-16.png")}

.userGroupsList h3{display: none;}

.userGroupsList{
height: 188px;
overflow:auto;
border: 1px solid #4A84C8;
background: url("images/icons/message-dropitem-128.png") no-repeat center 70px;
margin-top: 10px;
} 

.addNodeWidget {
  margin-bottom: 4px;
}
.addNodeWidget span{
  cursor:pointer;
  cursor:hand;
  text-decoration: underline;
}
.addNodeWidget input{
  border: 1px solid #18A4E2;
  border: 1px solid #000;
}


.templatedetails div.fields input{width: 100px;} 

.templatedetails div.templateactions {
position: absolute;
left: 520px;
top:58px;
}

div.templateactions {
  width:240px;
}

.templatedetails .templateactions a {
background: transparent url("images/fauxbutton.gif") no-repeat scroll 0%;
color:black;
display:block;
float:left;
height:18px;
margin-left:10px;
padding-top:4px;
text-align:center;
width:100px;
}

div.templateactions div{margin-bottom: 0px; padding: 0px} 

.templateactions a:hover {
  cursor:pointer;
  cursor:hand;
}

.inactiveNode {
  opacity: 0.6;
}

.target {
  border: 1px solid #62C621 ! important;
  background: white url("images/dropback.gif") no-repeat center 40px;
}