/* Defaults */
* { margin : 0; padding : 0;}
div.clearer {clear: both;}
/* ======================================== */

/* default font settings */
body, table tr td, table tr th{
font-family: arial,sans-serif,helvetica;
font-size: 12px;
line-height: 20px;
vertical-align: top;
background: white;
padding-top: 5px;
}
ol, ul{list-style-position: inside}

html, body { border: none; }

body {padding: 4px;}


