/* Defaults */
* { margin : 0; padding : 0;}

html, body { border: none; }
body {padding: 4px;}

/* default font settings */
body, table tr td, table tr th{
font-family: arial,sans-serif,helvetica;
font-size: 12px;
line-height: 20px;
vertical-align: top;
background: white;
padding-top: 5px;
}

ol, ul{list-style-position: inside}

/* default margin for lists, quotes, blockquotes and def lists */
ol, ul, dl {margin-left: 2.5em;} 
blockquote {margin: 0 2.5em 0 2.5em;}

