* text=auto !eol
/LICENSE -text
/NOTICE -text
/pom.xml svneol=native#text/plain
src/main/resources/hippoecm-extension.xml svneol=native#text/plain
src/main/resources/hippofacnav_facetsubnavigation.xml svneol=native#text/plain
src/main/resources/navigator.xml svneol=native#text/plain
src/main/resources/tagcloud.xml svneol=native#text/plain
src/main/resources/tagging-clusterloader.xml svneol=native#text/plain
src/main/resources/tagging-cms-translations.xml svneol=native#text/plain
src/main/resources/tagging-tree-view.xml svneol=native#text/plain
src/main/resources/tagproviders.xml svneol=native#text/plain
