* text=auto !eol
/LICENSE -text
/NOTICE -text
/pom.xml svneol=native#text/plain
src/main/resources/hippoecm-extension.xml svneol=native#text/plain
src/main/resources/hippofacnav_facetsubnavigation.xml svneol=native#text/plain
src/main/resources/navigator.xml svneol=native#text/plain
src/main/resources/tagcloud.xml svneol=native#text/plain
src/main/resources/tagging-clusterloader.xml svneol=native#text/plain
src/main/resources/tagging-cms-translations.xml svneol=native#text/plain
src/main/resources/tagging-tree-view.xml svneol=native#text/plain
src/main/resources/tagproviders.xml svneol=native#text/plain
src/site/resources/images/Tagging-add-tag-thumb.png -text svneol=unset#image/png
src/site/resources/images/Tagging-add-tag.png -text svneol=unset#image/png
src/site/resources/images/Tagging-tagcloud-thumb.png -text svneol=unset#image/png
src/site/resources/images/Tagging-tagcloud.png -text svneol=unset#image/png
src/site/site.xml svneol=native#text/plain
src/site/xdoc/build-from-source.xml svneol=native#text/plain
src/site/xdoc/configuration.xml svneol=native#text/plain
src/site/xdoc/developer-config.xml svneol=native#text/plain
src/site/xdoc/developer-provider.xml svneol=native#text/plain
src/site/xdoc/developer.xml svneol=native#text/plain
src/site/xdoc/index.xml svneol=native#text/plain
src/site/xdoc/install.xml svneol=native#text/plain
src/site/xdoc/release-notes.xml svneol=native#text/plain
src/site/xdoc/screenshots.xml svneol=native#text/plain
src/site/xdoc/usage.xml svneol=native#text/plain
