* text=auto !eol
src/main/java/org/onehippo/cms7/services/autoreload/AutoReloadServiceModule.java -text
src/main/resources/autoreload-service-module.xml -text
src/main/resources/hippoecm-extension.xml -text
