* text=auto !eol
/LICENSE -text
/NOTICE -text
addon-cms/pom.xml svneol=native#text/plain
addon-repository/pom.xml svneol=native#text/plain
addon-repository/src/main/resources/documentvaluelistprovider.xml svneol=native#text/plain
addon-repository/src/main/resources/hide-selection-namespace.xml svneol=native#text/plain
addon-repository/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace-BooleanRadioGroup.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace-RadioGroup.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace-listitem.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace-valuelist.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-types.cnd -text
addon-repository/src/main/resources/system-DynamicDropdown.xml svneol=native#text/plain
addon-repository/src/main/resources/system-StaticDropdown.xml svneol=native#text/plain
hst/pom.xml svneol=native#text/plain
/pom.xml svneol=native#text/plain
src/site/resources/images/cmsdocument.jpg -text svneol=unset#image/jpeg
src/site/resources/images/cmsvaluelist.jpg -text svneol=unset#image/jpeg
src/site/resources/images/site.jpg -text svneol=unset#image/jpeg
src/site/resources/images/thm_cmsdocument.jpg -text svneol=unset#image/jpeg
src/site/resources/images/thm_site.jpg -text svneol=unset#image/jpeg
src/site/site.xml svneol=native#text/plain
src/site/xdoc/build-demo.xml svneol=native#text/plain
src/site/xdoc/configuration.xml svneol=native#text/plain
src/site/xdoc/configuration/dynamicdropdown.xml svneol=native#text/plain
src/site/xdoc/configuration/dynamicmultiselect.xml svneol=native#text/plain
src/site/xdoc/configuration/staticdropdown.xml svneol=native#text/plain
src/site/xdoc/index.xml svneol=native#text/plain
src/site/xdoc/install.xml svneol=native#text/plain
src/site/xdoc/install_7_8.xml svneol=native#text/plain
src/site/xdoc/release-notes.xml svneol=native#text/plain
src/site/xdoc/screenshots.xml svneol=native#text/plain
