* text=auto !eol
/LICENSE -text
/NOTICE -text
addon-cms/pom.xml svneol=native#text/plain
addon-repository/pom.xml svneol=native#text/plain
addon-repository/src/main/resources/documentvaluelistprovider.xml svneol=native#text/plain
addon-repository/src/main/resources/hide-selection-namespace.xml svneol=native#text/plain
addon-repository/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace-BooleanRadioGroup.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace-RadioGroup.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace-listitem.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace-valuelist.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-namespace.xml svneol=native#text/plain
addon-repository/src/main/resources/selection-types.cnd -text
addon-repository/src/main/resources/system-DynamicDropdown.xml svneol=native#text/plain
addon-repository/src/main/resources/system-StaticDropdown.xml svneol=native#text/plain
hst/pom.xml svneol=native#text/plain
/pom.xml svneol=native#text/plain
