<div class="widget-box span6">
	<div class="widget-header header-color-blue2">
		<h4 class="lighter smaller">Choose Categories</h4>
	</div>

	<div class="widget-body">
	 <div class="widget-main padding-8">
		<div id="tree1" class="tree"></div>
	 </div>
	</div>
</div>



<div class="widget-box span6">
	<div class="widget-header header-color-green2">
		<h4 class="lighter smaller">Browse Files</h4>
	</div>
	
	<div class="widget-body">
	<div class="widget-main padding-8">
		<div id="tree2" class="tree"></div>
	</div>
	</div>
</div>


<script type="text/javascript">
var $assets = "{{{path.assets}}}";//this will be used in fuelux.tree-sampledata.js
</script>