@import 'variables';

:host {
  background-color: $menu-drawer-bg;
  bottom: 0;
  color: $menu-text-color;
  display: block;
  height: 20%;
  left: 100%;
  min-width: $menu-drawer-width;
  position: absolute;
  z-index: -1;
}

.header {
  color: $white;
  font-size: 20px;
  font-weight: $font-weight-semibold;
  margin: 0;
  padding: 16px 16px 8px 0;
}

.content-wrapper {
  height: 100%;
  padding-left: 16px;
}

.window-content-cover {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.logout-link {
  color: white;
  text-decoration: none;
}
