body {
  font-family:arial,sans-serif,helvetica;
  font-size:0.8em;
  background: url('images/back.gif') repeat-x;
}
body.intro {
  background: url('images/introback.gif') repeat-x; padding-top: 50px;
  text-align: center;
}

/* Login page styles */
body.login {
  background: url('images/introback.gif') repeat-x; 
  padding-top: 50px;
  text-align: center;
}

div#login-logo {
  position: absolute;
  top: 15px;
  right:5px;
  width:172px;
  padding: 0px;
  margin: 0px;
  background: url('images/hippoecm.gif') no-repeat;
}

div#login-header {
  background: url('images/home_small.gif') no-repeat;
  background-position: 3px;
  height: 20px;
  padding-left: 25px;
  padding-top: 2px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 5px;
}

div#login-input {
  margin: 5px;
  border-bottom: 1px dotted #888888;
}

div#login-submit {
  margin-top: 5px;
  padding-left: 104px;
}

body.login form {
  text-align: left;
  position: relative;
  margin: 0px auto;
  margin-top: 20px;
  background: url('images/blue_gradient.gif') repeat-y right;
  width:300px;
  height: auto;
  border:1px solid black;
}

body.login form label { float: left; width: 90px; margin-right: 10px; }
body.login form label.label-right { float: right; width: 180px; margin-right:0px;}

body.login form input { margin-bottom: 5px; 
  border:1px solid #999999;
}
body.login form select { margin-bottom: 5px; }

body.login form input.blue_button {
  background-color: #4A84C8;
  border:1px solid #e3e3e3;
  color:#FFFFFF;
  padding:3px 7px;
  text-decoration:none;
}

body.login form input.blue_button:hover {
  background-color:#ffffff;
  color:#000000;
  cursor:pointer;
}
/* End login page styles */

a { color: #18a4e2 }

h1#logo {
  position: absolute;
  top: 5px;
  left:5px;
  padding: 0px;
  margin: 0px;
}
h1#logointro {
  position: absolute;
  top: 5px;
  right:5px;
  padding: 0px;
  margin: 0px;
}
body.intro form {
  text-align: left;
  position: relative;
  margin: 0px auto;
  padding-top: 40px;
  background: url('images/logincms.gif') no-repeat;
  width:300px;
  height: 182px;
  padding-left: 46px;
}
body.intro form label { float: left; font-weight: bold; width: 30px; margin-right: 10px; }
body.intro form br { clear: both; }
body.intro form input.text { display: block; margin-bottom: 12px; width: 120px; margin-left: 80px; }
body.intro form input.submit { }
body.intro form select { margin-top: 20px; }

table {
  font-size:1em;
}

table.grey {
  background:#eeeeee;
}

.Breadcrumb {
  position: absolute;
  top: 86px;
  left: 5px;
  font-weight: bold;
  color: #353535;
  margin:2px;
  font-size: 11px;
}

.Tree {
   margin:0px;
   margin-top: -8px;
}
.tree .wicket-tree .row a { color: #18a4e2 }
.tree .wicket-tree .row-selected a { color: white; }
.tree .wicket-tree .row-selected { background: #4b82c6; }

.Documents {
  border:1px solid lightgrey;
  margin:2px;
  background:#ffffff;
}

.Menu {
  border:1px solid #334455;
  margin:2px;
  background: url('images/folderactionsback.gif') no-repeat top right;
  padding: 15px;
  padding-top: 3px;
  margin-bottom: 10px;
}

.menu div { margin-top: 5px; }
.Workflow {
  border:1px solid lightgrey;
  margin:2px;
  background:#ffffff;
}

.Editor {
  border:1px solid lightgrey;
  margin:2px;
  background:#ffffff;
}

th {
  text-align:left;
  background: url('images/tablehead.gif') repeat-x;
  padding: 4px;
  padding-top: 2px;
}

tr.even { background-color:#eef3fa; }
tr.even td, tr.odd td { padding: 5px; }
tr.odd { background-color:#ffffff; }
.tabpanel table tr td { border: none }
.tabpanel table tr th { border: none }

.dataview thead tr.navigation td { padding: 5px; }
.navigatorLabel { font-size: 18px; color: #4a81c3 }
.navigator, .navigator a { color: green; font-size: 18px; margin-left: 10px; }
.navigator { color: grey }
.navigator a { color: #18a4e2 }

p.logout { margin-bottom: 0px; text-align: right; text-transform: capitalize; color: white; }
p.logout a { color: white }

/* TAB PANEL STYLES */

div.tabpanel div.tab-row {
  padding-top: 0px;
  float:left;
  width:100%;
  line-height:normal;
  margin-bottom: 40px;
}

div.tabpanel div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
}

div.tabpanel div.tab-row li {
  display:block;
  float:left;
  background:url('images/tabback.gif') repeat-x bottom right;
  height: 15px;
  margin-right: 2px;
  padding:10px 10px 10px 10px;
}

div.tabpanel div.tab-row a {
  text-decoration:none;
  font-weight:bold;
  white-space:nowrap;
  color: black;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 11px;
}

div.tabpanel div.tab-row li a { background: url('images/edit.gif') no-repeat 0px 10px; }
div.tabpanel div.tab-row li.tab0 a { background: url('images/home.gif') no-repeat 0px 10px; }
div.tabpanel div.tab-row li.tab1 a { background: url('images/browse.gif') no-repeat 0px 10px; }
div.tabpanel div.tab-row li.tab2 a { background: url('images/search.gif') no-repeat 0px 10px; }

div.tabpanel div.tab-row li.selected { background:url('images/tabbackactive.gif') repeat-x bottom right; }

div.tabpanel div.tab-row li.selected a { }

div.tabpanel div.tab-row li a.close { background: none; }


/* selected variant */
.selected {
  background-color:#4b82c6;
}
.selected a {
  color:#ffffff;
}

/* selected document in list */
tr.selected {
  background-color:#4b82c6;
}