* text=auto !eol
/LICENSE -text
/NOTICE -text
cms/pom.xml svneol=native#text/plain
cms/src/main/resources/log4j.xml svneol=native#text/plain
cms/src/main/resources/org/hippoecm/frontend/translation/icons/flags/flag-16_gb_cy.png -text svneol=unset#image/png
cms/src/main/resources/org/hippoecm/frontend/translation/icons/folder_closed/folder-closed-16_gb_cy.png -text svneol=unset#image/png
cms/src/main/resources/org/hippoecm/frontend/translation/icons/folder_open/folder-open-16_gb_cy.png -text svneol=unset#image/png
cms/src/main/webapp/WEB-INF/web.xml svneol=native#text/plain
conf/context.xml svneol=native#text/plain
conf/log4j-dev.xml svneol=native#text/plain
content/pom.xml svneol=native#text/plain
content/src/main/resources/channels.xml svneol=native#text/plain
content/src/main/resources/cms-services/alternateClassificationDaoService.xml svneol=native#text/plain
content/src/main/resources/configuration/modules/autoexport-module.xml svneol=native#text/plain
content/src/main/resources/default-ecm-content.xml svneol=native#text/plain
content/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
content/src/main/resources/hst-configurations.xml svneol=native#text/plain
content/src/main/resources/hst-sites.xml svneol=native#text/plain
content/src/main/resources/hst-virtualhosts.xml svneol=native#text/plain
content/src/main/resources/hstconfiguration/components.xml svneol=native#text/plain
content/src/main/resources/hstconfiguration/pages.xml svneol=native#text/plain
content/src/main/resources/hstconfiguration/sitemap-en.xml svneol=native#text/plain
content/src/main/resources/hstconfiguration/sitemap-fr.xml svneol=native#text/plain
content/src/main/resources/hstconfiguration/sitemap-nl.xml svneol=native#text/plain
content/src/main/resources/hstconfiguration/sitemenus-en.xml svneol=native#text/plain
content/src/main/resources/hstconfiguration/sitemenus-fr.xml svneol=native#text/plain
content/src/main/resources/hstconfiguration/sitemenus-nl.xml svneol=native#text/plain
content/src/main/resources/hstconfiguration/templates.xml svneol=native#text/plain
content/src/main/resources/localeproviderservice.xml svneol=native#text/plain
content/src/main/resources/security/configuser-read-everywhere.xml svneol=native#text/plain
content/src/main/resources/security/group-liveusers.xml svneol=native#text/plain
content/src/main/resources/security/group-previewusers.xml svneol=native#text/plain
content/src/main/resources/security/group-sitewriters.xml svneol=native#text/plain
content/src/main/resources/security/user-author.xml svneol=native#text/plain
content/src/main/resources/security/user-configuser.xml svneol=native#text/plain
content/src/main/resources/security/user-editor.xml svneol=native#text/plain
content/src/main/resources/security/user-liveuser.xml svneol=native#text/plain
content/src/main/resources/security/user-previewuser.xml svneol=native#text/plain
content/src/main/resources/security/user-sitewriter.xml svneol=native#text/plain
content/src/main/resources/taxonomies.xml svneol=native#text/plain
content/src/main/resources/taxonomy-allow-editor.xml svneol=native#text/plain
content/src/main/resources/taxonomy-demo-common-en.xml svneol=native#text/plain
content/src/main/resources/taxonomy-demo-common-fr.xml svneol=native#text/plain
content/src/main/resources/taxonomy-demo-common-nl.xml svneol=native#text/plain
content/src/main/resources/taxonomy-demo-namespace.xml svneol=native#text/plain
content/src/main/resources/taxonomy-demo-root-en.xml svneol=native#text/plain
content/src/main/resources/taxonomy-demo-root-fr.xml svneol=native#text/plain
content/src/main/resources/taxonomy-demo-root-nl.xml svneol=native#text/plain
content/src/main/resources/taxonomy-demo-types.cnd -text
plugin/pom.xml svneol=native#text/plain
plugin/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
plugin/src/main/resources/textpage-custom-taxonomy-field.xml svneol=native#text/plain
/pom.xml svneol=native#text/plain
site/pom.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/hst-cms-rest.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/taxonomy.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/template-composer-rest.xml svneol=native#text/plain
site/src/main/webapp/META-INF/context.xml svneol=native#text/plain
site/src/main/webapp/WEB-INF/web.xml svneol=native#text/plain
site/src/main/webapp/images/hippo.gif -text
site/src/main/webapp/images/onehippo.gif -text
