<!-- (C) Copyright 2019 Bloomreach. All rights reserved. (https://www.bloomreach.com) -->

<h2 class="header" (click)="toggle()">
  {{ config?.caption }}
  <mat-icon svgIcon="baseline-expand_more" class="icon" [class.hidden]="isOpened"></mat-icon>
  <mat-icon svgIcon="baseline-expand_less" class="icon" [class.hidden]="!isOpened"></mat-icon>
</h2>
<div [class.opened]="isOpened" [@slideInOut]="isOpened" class="items-wrapper">
  <brna-menu-item-link *ngFor="let item of config.children"
                       [config]="item"
                       [active]="isChildMenuItemActive(item)"
                       class="item"
                       [ngClass]="getQaClass(item)">
  </brna-menu-item-link>
</div>
