@import 'variables';

:host {
  display: block;
  overflow: hidden;

  &.active .header {
    color: $menu-active-text-color;
  }
}

.header {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: $menu-sub-menu-font-size;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
  padding: 0 10px 5px 0;
  position: relative;
}

// Height for closed and opened state is set even though its also set in the
// angular animation for this component. This is because angular removes styles
// set by animations and then the closed .item-wrappers will be shown while
// the close drawer animation runs.
.items-wrapper {
  background-color: $menu-sub-sub-item-bg;
  height: 0;
  overflow: hidden;
  padding: 0 10px;

  &.opened {
    height: auto;
  }

  > .item {
    font-size: $menu-sub-sub-menu-font-size;
  }

  .item:first-child {
    padding-top: 10px;
  }

  .item:last-child {
    padding-bottom: 10px;
  }
}
