/*
//############################################
// HIPPO SPECIFIC  CSS
//############################################
*/
.footer {
  border-top: 1px solid #eeeeee;
  margin-top: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #35363a;
  text-align: center;
  color: #c6c6c6;
  font-size: 13px;
  min-height: 600px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
.masthead {
  margin-bottom: 30px;
  text-align: center;
  min-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold-webfont.eot');
  src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-bold-webfont.woff') format('woff'), url('../fonts/raleway-bold-webfont.ttf') format('truetype'), url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaymedium';
  src: url('../fonts/raleway-medium-webfont.eot');
  src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-medium-webfont.woff') format('woff'), url('../fonts/raleway-medium-webfont.ttf') format('truetype'), url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular-webfont.eot');
  src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular-webfont.woff') format('woff'), url('../fonts/raleway-regular-webfont.ttf') format('truetype'), url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
//############################################
// WIZARD STEPS
//############################################

*/
/* wizard */
.wizard-steps {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 12px 0 0;
  position: relative;
}
.wizard-steps li {
  display: block;
  text-align: center;
  float: left;
}
.wizard-steps li .step {
  text-align: center;
  border: 5px solid #CED1D6;
  color: #546474;
  font-size: 15px;
  border-radius: 32px;
  line-height: 12px;
  padding: 5px 10px;
  background-color: #FFF;
  position: relative;
  z-index: 2;
  display: inline;
}
.wizard-steps li:before {
  /* the line running through each step*/
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  font-size: 0;
  overflow: hidden;
  border-top: 4px solid #CED1D6;
  position: relative;
  top: 12px;
  z-index: 1;
}
.wizard-steps li:last-child:before {
  max-width: 50%;
  width: 50%;
}
.wizard-steps li:first-child:before {
  max-width: 50%;
  left: 50%;
}
.wizard-steps li.active:before,
.wizard-steps li.complete:before,
.wizard-steps li.active .step,
.wizard-steps li.complete .step {
  border-color: #428bca;
}
.wizard-steps li.complete .step:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 8px 0px;
  border-radius: 32px;
  content: "\2713";
  background-color: #FFF;
  z-index: 103;
  font-size: 20px;
  color: #5cb85c;
}
.wizard-steps li .title {
  display: block;
  margin-top: 12px;
  max-width: 100%;
  color: #4f5e67;
  font-size: 14px;
  z-index: 104;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
  min-width: 200px;
}
.wizard-steps li.complete .title,
.wizard-steps li.active .title {
  color: #4f5e67;
}
.step-content .step-pane {
  display: none;
  min-height: 200px;
  padding: 4px 8px 12px;
}
.step-content .active {
  display: block;
}
.wizard-actions {
  text-align: right;
}
.hippo-header {
  width: 100%;
  height: 80px;
  /*background-color: #C84A4B;*/
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
  font-size: 20px;
  font-weight: bold;
  /*background: url("../images/top-back.png") repeat;*/
  color: #4f5e67;
}
.hippo-header-logo,
.hippo-header-text {
  display: inline;
  text-align: center;
  vertical-align: middle;
  height: 80px;
}
.hippo-header-logo {
  float: left;
  padding: 5px;
  padding-left: 20px;
}
.hippo-header-text {
  padding-top: 30px;
}
body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: 'ralewaymedium', sans-serif;
}
form {
  width: 100%;
  max-width: 100%;
}
/* menu stuff*/
.nav-stacked li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.plugin-introduction {
  padding: 20px;
}
.busy-loader {
  position: absolute;
  z-index: 100;
  margin: 0 0 0 -12px;
  left: 50%;
}
.tabs li {
  min-width: 120px;
  width: 160px;
}
.tabs {
  width: 160px;
}
.essentials-group-item {
  padding-top: 6px;
  padding-bottom: 6px;
}
