/.classpath
/.idea
/.project
/.settings
api/*.iml
api/*.tmp
api/.classpath
api/.project
api/.settings
api/datanucleus.log
api/local.properties
api/nbproject
api/repository
api/target
api/tm.epoch
api/tm.out
api/tm.out.1
api/tm.out.lck
api/tmlog.lck
api/version
api/wdbp-error-log.txt
api/workspaces
builtin/.classpath
builtin/.project
builtin/.settings
builtin/hippo-repository-builtin.iml
builtin/target
config/.classpath
config/.project
config/.settings
config/hippo-repository-config.iml
config/target
connector/*.iml
connector/*.tmp
connector/.classpath
connector/.project
connector/.settings
connector/local.properties
connector/nbproject
connector/target
connector/tm.epoch
connector/tm.out
connector/tm.out.1
connector/tm.out.lck
connector/tmlog.lck
connector/wdbp-error-log.txt
/datanucleus.log
/debuglog
dependencies/*.iml
dependencies/.project
dependencies/.settings
dependencies/target
deprecated/*.iml
deprecated/.project
deprecated/.settings
deprecated/facetsearch/*.iml
deprecated/facetsearch/.classpath
deprecated/facetsearch/.project
deprecated/facetsearch/.settings
deprecated/facetsearch/target
deprecated/facetselectmirror/.classpath
deprecated/facetselectmirror/.project
deprecated/facetselectmirror/.settings
deprecated/facetselectmirror/hippo-repository-deprecated-facetselectmirror.iml
deprecated/facetselectmirror/target
deprecated/target
deprecated/translation/.classpath
deprecated/translation/.project
deprecated/translation/.settings
deprecated/translation/hippo-repository-deprecated-translation.iml
deprecated/translation/target
deprecated/updater/.classpath
deprecated/updater/.project
deprecated/updater/.settings
deprecated/updater/hippo-repository-deprecated-updater-module.iml
deprecated/updater/target
engine/*.tmp
engine/.classpath
engine/.pom.xml.swp
engine/.project
engine/.settings
engine/derby.log
engine/hippo-repository-engine.iml
engine/jpox.log
engine/local.properties
engine/log4j.log
engine/nbproject
engine/repository
engine/src/main/java/org/hippoecm/repository/standardworkflow/.VersionWorkflowImpl.java.swp
engine/src/test/java/org/hippoecm/repository/.ConfigurationTest.java.swp
engine/target
engine/tm.epoch
engine/tm.out
engine/tm.out.1
engine/tm.out.lck
engine/tmlog.lck
engine/version
engine/wdbp-error-log.txt
engine/workspaces
/hippo-repository.iml
/jpox.log
ldap/*.iml
ldap/.classpath
ldap/.project
ldap/.settings
ldap/target
/log4j.log
modules/*.iml
modules/*.tmp
modules/.classpath
modules/.project
modules/.settings
modules/local.properties
modules/nbproject
modules/target
modules/tm.epoch
modules/tm.out
modules/tm.out.1
modules/tm.out.lck
modules/tmlog.lck
modules/wdbp-error-log.txt
provider/*.iml
provider/*.tmp
provider/.classpath
provider/.pom.xml.swp
provider/.project
provider/.settings
provider/jpox.log
provider/local.properties
provider/nbproject
provider/target
provider/tm.epoch
provider/tm.out
provider/tm.out.1
provider/tm.out.lck
provider/tmlog.lck
provider/wdbp-error-log.txt
resources/*.iml
resources/.classpath
resources/.project
resources/.settings
resources/target
servlets/*.iml
servlets/*.tmp
servlets/.classpath
servlets/.pom.xml.swp
servlets/.project
servlets/.settings
servlets/jpox.log
servlets/local.properties
servlets/nbproject
servlets/target
servlets/tm.epoch
servlets/tm.out
servlets/tm.out.1
servlets/tm.out.lck
servlets/tmlog.lck
servlets/wdbp-error-log.txt
/target
test/*.tmp
test/.classpath
test/.project
test/.settings
test/datanucleus.log
test/derby.log
test/hippo-repository-test.iml
test/jpox.log
test/local.properties
test/log4j.log
test/nbproject
test/repository
test/src/test/java/org/hippoecm/repository/decorating/.MirrorTest.java.swp
test/target
test/tm.epoch
test/tm.out
test/tm.out.1
test/tm.out.lck
test/tmlog.lck
test/version
test/wdbp-error-log.txt
test/workspaces
testcontent/.classpath
testcontent/.project
testcontent/.settings
testcontent/hippo-repository-testcontent.iml
testcontent/target
testutils/*.tmp
testutils/.classpath
testutils/.project
testutils/.settings
testutils/hippo-repository-testutils.iml
testutils/local.properties
testutils/nbproject
testutils/repository
testutils/target
testutils/tm.epoch
testutils/tm.out
testutils/tm.out.1
testutils/tm.out.lck
testutils/tmlog.lck
testutils/version
testutils/wdbp-error-log.txt
testutils/workspaces
upgrade/*.iml
upgrade/*.tmp
upgrade/.classpath
upgrade/.project
upgrade/.settings
upgrade/handlemigration/.classpath
upgrade/handlemigration/.project
upgrade/handlemigration/.settings
upgrade/handlemigration/hippo-repository-handle-migration.iml
upgrade/handlemigration/target
upgrade/local.properties
upgrade/nbproject
upgrade/target
upgrade/tm.epoch
upgrade/tm.out
upgrade/tm.out.1
upgrade/tm.out.lck
upgrade/tmlog.lck
upgrade/wdbp-error-log.txt
upgrade/xml-upgrade/*.iml
upgrade/xml-upgrade/.classpath
upgrade/xml-upgrade/.project
upgrade/xml-upgrade/.settings
upgrade/xml-upgrade/target
utilities/*.iml
utilities/*.tmp
utilities/.classpath
utilities/.project
utilities/.settings
utilities/local.properties
utilities/nbproject
utilities/target
utilities/tm.epoch
utilities/tm.out
utilities/tm.out.1
utilities/tm.out.lck
utilities/tmlog.lck
utilities/wdbp-error-log.txt
workflow/*.iml
workflow/*.log
workflow/.classpath
workflow/.project
workflow/.settings
workflow/src/main/java/org/hippoecm/repository/reviewedactions/.FullReviewedActionsWorkflowImpl.java.swp
workflow/target
/workspaces
