/.classpath
/.idea
/.project
/.settings
api/*.iml
api/*.tmp
api/.classpath
api/.project
api/.settings
api/local.properties
api/nbproject
api/repository
api/target
api/tm.epoch
api/tm.out
api/tm.out.1
api/tm.out.lck
api/tmlog.lck
api/version
api/wdbp-error-log.txt
api/workspaces
application/*.iml
application/*.tmp
application/.classpath
application/.project
application/.settings
application/local.properties
application/nbproject
application/repository
application/src/main/webapp/WEB-INF/storage
application/target
application/tm.epoch
application/tm.out
application/tm.out.1
application/tm.out.lck
application/tmlog.lck
application/version
application/wdbp-error-log.txt
application/workspaces
builtin/.classpath
builtin/.project
builtin/.settings
builtin/hippo-repository-builtin.iml
builtin/target
config/.classpath
config/.project
config/.settings
config/hippo-repository-config.iml
config/target
connector/*.iml
connector/*.tmp
connector/.classpath
connector/.project
connector/.settings
connector/local.properties
connector/nbproject
connector/target
connector/tm.epoch
connector/tm.out
connector/tm.out.1
connector/tm.out.lck
connector/tmlog.lck
connector/wdbp-error-log.txt
dependencies/*.iml
dependencies/.project
dependencies/.settings
dependencies/target
engine/*.tmp
engine/.classpath
engine/.pom.xml.swp
engine/.project
engine/.settings
engine/derby.log
engine/hippo-repository-engine.iml
engine/jpox.log
engine/local.properties
engine/log4j.log
engine/nbproject
engine/repository
engine/src/main/java/org/hippoecm/repository/ocm/.ConnectionFactoryImpl.java.swp
engine/src/main/java/org/hippoecm/repository/standardworkflow/.VersionWorkflowImpl.java.swp
engine/src/test/java/org/hippoecm/repository/.ConfigurationTest.java.swp
engine/target
engine/tm.epoch
engine/tm.out
engine/tm.out.1
engine/tm.out.lck
engine/tmlog.lck
engine/version
engine/wdbp-error-log.txt
engine/workspaces
/hippo-repository.iml
jca/*.iml
jca/*.tmp
jca/.classpath
jca/.project
jca/.settings
jca/local.properties
jca/nbproject
jca/target
jca/tm.epoch
jca/tm.out
jca/tm.out.1
jca/tm.out.lck
jca/tmlog.lck
jca/wdbp-error-log.txt
/jpox.log
ldap/*.iml
ldap/.classpath
ldap/.project
ldap/.settings
ldap/target
modules/*.iml
modules/*.tmp
modules/.classpath
modules/.project
modules/.settings
modules/local.properties
modules/nbproject
modules/target
modules/tm.epoch
modules/tm.out
modules/tm.out.1
modules/tm.out.lck
modules/tmlog.lck
modules/wdbp-error-log.txt
provider/*.iml
provider/*.tmp
provider/.classpath
provider/.pom.xml.swp
provider/.project
provider/.settings
provider/jpox.log
provider/local.properties
provider/nbproject
provider/target
provider/tm.epoch
provider/tm.out
provider/tm.out.1
provider/tm.out.lck
provider/tmlog.lck
provider/wdbp-error-log.txt
resources/*.iml
resources/.classpath
resources/.project
resources/.settings
resources/target
servlets/*.iml
servlets/*.tmp
servlets/.classpath
servlets/.pom.xml.swp
servlets/.project
servlets/.settings
servlets/jpox.log
servlets/local.properties
servlets/nbproject
servlets/target
servlets/tm.epoch
servlets/tm.out
servlets/tm.out.1
servlets/tm.out.lck
servlets/tmlog.lck
servlets/wdbp-error-log.txt
/target
test/*.tmp
test/.classpath
test/.project
test/.settings
test/derby.log
test/hippo-repository-test.iml
test/jpox.log
test/local.properties
test/log4j.log
test/nbproject
test/repository
test/src/test/java/org/hippoecm/repository/decorating/.MirrorTest.java.swp
test/target
test/tm.epoch
test/tm.out
test/tm.out.1
test/tm.out.lck
test/tmlog.lck
test/version
test/wdbp-error-log.txt
test/workspaces
tools/*.iml
tools/.project
tools/.settings
tools/documentation/.classpath
tools/documentation/.project
tools/documentation/.settings
tools/documentation/hippo-repository-tools-documentation.iml
tools/documentation/target
tools/target
tools/testutils/*.tmp
tools/testutils/.classpath
tools/testutils/.project
tools/testutils/.settings
tools/testutils/hippo-repository-tools-testutils.iml
tools/testutils/local.properties
tools/testutils/nbproject
tools/testutils/repository
tools/testutils/target
tools/testutils/tm.epoch
tools/testutils/tm.out
tools/testutils/tm.out.1
tools/testutils/tm.out.lck
tools/testutils/tmlog.lck
tools/testutils/version
tools/testutils/wdbp-error-log.txt
tools/testutils/workspaces
upgrade/*.iml
upgrade/*.tmp
upgrade/.classpath
upgrade/.project
upgrade/.settings
upgrade/local.properties
upgrade/nbproject
upgrade/target
upgrade/tm.epoch
upgrade/tm.out
upgrade/tm.out.1
upgrade/tm.out.lck
upgrade/tmlog.lck
upgrade/wdbp-error-log.txt
utilities/*.iml
utilities/*.tmp
utilities/.classpath
utilities/.project
utilities/.settings
utilities/local.properties
utilities/nbproject
utilities/target
utilities/tm.epoch
utilities/tm.out
utilities/tm.out.1
utilities/tm.out.lck
utilities/tmlog.lck
utilities/wdbp-error-log.txt
wfdropbox/.classpath
wfdropbox/.project
wfdropbox/.settings
wfdropbox/hippo-addon-wfdropbox.iml
wfdropbox/hippo-repository-tools-documentation.iml
wfdropbox/target
