// Copyright 2021 Bloomreach. All rights reserved. (https://www.bloomreach.com/)

@import 'variables';

max-values-hint {
  clear: left;
  color: $text-dim;
  display: block;
  padding: 5px 0 0 16px;
}
