/* TabsPlugin perspective switcher (left buttons) */
/* ================================================ */

.tabbed-panel-layout-left {
  background-color: @main-menu-bgcolor;
}

.hippo-tabs-perspective ul.hippo-tabs-perspective-tabs {
  top: 0;
  left: 0;
  padding-top: 4px;

  li {
    margin-bottom: 20px;
  }
  
  li div a {
    color: @main-menu-text-color;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    span {
      font-size: @font-size-tiny;
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
  
  li:first-child div {
    margin-top: 4px; 
  }

  .selected div a {
    color: @main-menu-selected-text-color;
  }
}
