*.iml
*.log
*.tmp
/.idea/
.classpath
.project
.settings
.DS_Store
target/
/api/node/
/api/node_modules/
/api/repository/
/api/version/
/api/workspaces/
/automatic-export/repository/repository/
/automatic-export/repository/version/
/automatic-export/repository/workspaces/
/console/frontend/node/
/console/frontend/node_modules/
/editor/repository/workspaces/
/engine/node/
/engine/node_modules/
/richtext/frontend/repository/
/richtext/frontend/version/
/richtext/frontend/workspaces/
/test/repository/
/test/version/
/test/workspaces/
/workflow/frontend/repository/
/workflow/frontend/version/
/workflow/frontend/workspaces/
