/*.idea
/*.log
/.classpath
/.project
/.settings
api/*.tmp
api/.classpath
api/.project
api/.settings
api/hippo-cms-api.iml
api/local.properties
api/nbproject
api/repository
api/src/main/java/org/hippoecm/frontend/plugins/standards/list/.AbstractListingPlugin.java.swp
api/target
api/tm.epoch
api/tm.out
api/tm.out.1
api/tm.out.lck
api/tmlog.lck
api/version
api/wdbp-error-log.txt
api/workspaces
automatic-export/*.iml
automatic-export/.idea
automatic-export/.project
automatic-export/.settings
automatic-export/frontend/*.iml
automatic-export/frontend/.classpath
automatic-export/frontend/.idea
automatic-export/frontend/.project
automatic-export/frontend/.settings
automatic-export/frontend/hippo-addon-automatic-export-frontend.iml
automatic-export/frontend/target
automatic-export/hippo-addon-automatic-export.iml
automatic-export/repository/*.iml
automatic-export/repository/.classpath
automatic-export/repository/.idea
automatic-export/repository/.project
automatic-export/repository/.settings
automatic-export/repository/derby.log
automatic-export/repository/hippo-addon-automatic-export-repository.iml
automatic-export/repository/log4j.log
automatic-export/repository/repository
automatic-export/repository/target
automatic-export/repository/version
automatic-export/repository/workspaces
automatic-export/target
brokenlinks/.classpath
brokenlinks/.project
brokenlinks/.settings
brokenlinks/common/.classpath
brokenlinks/common/.project
brokenlinks/common/.settings
brokenlinks/common/hippo-cms-brokenlinks-common.iml
brokenlinks/common/target
brokenlinks/frontend/.classpath
brokenlinks/frontend/.project
brokenlinks/frontend/.settings
brokenlinks/frontend/hippo-cms-brokenlinks-frontend.iml
brokenlinks/frontend/target
brokenlinks/hippo-cms-brokenlinks.iml
brokenlinks/repository/.classpath
brokenlinks/repository/.project
brokenlinks/repository/.settings
brokenlinks/repository/hippo-cms-brokenlinks-repository.iml
brokenlinks/repository/target
brokenlinks/target
brokenlinks/test/.classpath
brokenlinks/test/.project
brokenlinks/test/.settings
brokenlinks/test/hippo-cms-brokenlinks-test.iml
brokenlinks/test/target
builtin/.classpath
builtin/.project
builtin/.settings
builtin/hippo-cms-builtin.iml
builtin/target
config/.classpath
config/.project
config/.settings
config/hippo-cms-config.iml
config/target
console/*.iml
console/.project
console/.settings
console/frontend/*.iml
console/frontend/*.tmp
console/frontend/.classpath
console/frontend/.project
console/frontend/.settings
console/frontend/local.properties
console/frontend/nbproject
console/frontend/repository
console/frontend/target
console/frontend/tm.epoch
console/frontend/tm.out
console/frontend/tm.out.1
console/frontend/tm.out.lck
console/frontend/tmlog.lck
console/frontend/version
console/frontend/wdbp-error-log.txt
console/frontend/workspaces
console/repository/*.iml
console/repository/.classpath
console/repository/.project
console/repository/.settings
console/repository/target
console/target
dependencies/.project
dependencies/.settings
dependencies/hippo-cms-dependencies.iml
dependencies/target
editor/.classpath
editor/.project
editor/.settings
editor/common/*.tmp
editor/common/.classpath
editor/common/.project
editor/common/.settings
editor/common/hippo-cms-editor-common.iml
editor/common/local.properties
editor/common/nbproject
editor/common/target
editor/common/tm.epoch
editor/common/tm.out
editor/common/tm.out.1
editor/common/tm.out.lck
editor/common/tmlog.lck
editor/common/wdbp-error-log.txt
editor/datanucleus.log
editor/frontend/*.tmp
editor/frontend/.classpath
editor/frontend/.project
editor/frontend/.settings
editor/frontend/hippo-cms-editor-frontend.iml
editor/frontend/local.properties
editor/frontend/nbproject
editor/frontend/target
editor/frontend/tm.epoch
editor/frontend/tm.out
editor/frontend/tm.out.1
editor/frontend/tm.out.lck
editor/frontend/tmlog.lck
editor/frontend/wdbp-error-log.txt
editor/hippo-cms-editor.iml
editor/repository/*.log
editor/repository/*.tmp
editor/repository/.classpath
editor/repository/.project
editor/repository/.settings
editor/repository/hippo-cms-editor-repository.iml
editor/repository/local.properties
editor/repository/nbproject
editor/repository/target
editor/repository/tm.epoch
editor/repository/tm.out
editor/repository/tm.out.1
editor/repository/tm.out.lck
editor/repository/tmlog.lck
editor/repository/wdbp-error-log.txt
editor/target
editor/test/*.tmp
editor/test/.classpath
editor/test/.project
editor/test/.settings
editor/test/hippo-cms-editor-test.iml
editor/test/local.properties
editor/test/nbproject
editor/test/target
editor/test/tm.epoch
editor/test/tm.out
editor/test/tm.out.1
editor/test/tm.out.lck
editor/test/tmlog.lck
editor/test/wdbp-error-log.txt
engine/*.tmp
engine/.classpath
engine/.project
engine/.settings
engine/hippo-cms-engine.iml
engine/local.properties
engine/nbproject
engine/repository
engine/src/main/java/org/hippoecm/frontend/.Home.java.swp
engine/src/main/java/org/hippoecm/frontend/.Main.java.swp
engine/src/main/java/org/hippoecm/frontend/model/.JcrNodeModel.java.swp
engine/src/main/java/org/hippoecm/frontend/plugin/config/.IPluginConfig.java.swp
engine/target
engine/tm.epoch
engine/tm.out
engine/tm.out.1
engine/tm.out.lck
engine/tmlog.lck
engine/version
engine/wdbp-error-log.txt
engine/workspaces
gallery/.classpath
gallery/.project
gallery/.settings
gallery/frontend/*.tmp
gallery/frontend/.classpath
gallery/frontend/.project
gallery/frontend/.settings
gallery/frontend/hippo-cms-gallery-frontend.iml
gallery/frontend/local.properties
gallery/frontend/nbproject
gallery/frontend/repository
gallery/frontend/target
gallery/frontend/tm.epoch
gallery/frontend/tm.out
gallery/frontend/tm.out.1
gallery/frontend/tm.out.lck
gallery/frontend/tmlog.lck
gallery/frontend/version
gallery/frontend/wdbp-error-log.txt
gallery/frontend/workspaces
gallery/hippo-cms-gallery.iml
gallery/local.properties
gallery/nbproject
gallery/repository
gallery/repository/*.tmp
gallery/repository/.classpath
gallery/repository/.project
gallery/repository/.settings
gallery/repository/hippo-cms-gallery-repository.iml
gallery/repository/local.properties
gallery/repository/nbproject
gallery/repository/repository
gallery/repository/src/main/resources/.hippogallery.cnd.swp
gallery/repository/target
gallery/repository/tm.epoch
gallery/repository/tm.out
gallery/repository/tm.out.1
gallery/repository/tm.out.lck
gallery/repository/tmlog.lck
gallery/repository/version
gallery/repository/wdbp-error-log.txt
gallery/repository/workspaces
gallery/target
gallery/tm.epoch
gallery/tm.out
gallery/tm.out.1
gallery/tm.out.lck
gallery/tmlog.lck
gallery/version
gallery/wdbp-error-log.txt
gallery/workspaces
google-analytics/.project
google-analytics/.settings
google-analytics/frontend/.classpath
google-analytics/frontend/.project
google-analytics/frontend/.settings
google-analytics/frontend/hippo-cms-google-analytics-frontend.iml
google-analytics/frontend/target
google-analytics/hippo-cms-google-analytics.iml
google-analytics/target
gotolink/.classpath
gotolink/.project
gotolink/.settings
gotolink/hippo-cms-gotolink.iml
gotolink/target
/hippo-cms.iml
jquery/*.iml
jquery/.classpath
jquery/.project
jquery/.settings
jquery/target
perspectives/*.iml
perspectives/.classpath
perspectives/.project
perspectives/.settings
perspectives/target
reporting/.classpath
reporting/.project
reporting/.settings
reporting/frontend/*.iml
reporting/frontend/.classpath
reporting/frontend/.project
reporting/frontend/.settings
reporting/frontend/target
reporting/hippo-cms-reporting.iml
reporting/repository/*.iml
reporting/repository/.classpath
reporting/repository/.project
reporting/repository/.settings
reporting/repository/target
reporting/target
repository-dependencies/*.iml
repository-dependencies/.project
repository-dependencies/.settings
repository-dependencies/target
richtext/*.iml
richtext/.project
richtext/.settings
richtext/ckeditor/*.iml
richtext/ckeditor/frontend/*.iml
richtext/ckeditor/frontend/target
richtext/ckeditor/plugins/*.iml
richtext/ckeditor/plugins/target
richtext/ckeditor/resources/*.iml
richtext/ckeditor/resources/target
richtext/ckeditor/target
richtext/frontend/*.iml
richtext/frontend/.classpath
richtext/frontend/.project
richtext/frontend/.settings
richtext/frontend/repository
richtext/frontend/target
richtext/frontend/version
richtext/frontend/workspaces
richtext/repository/*.iml
richtext/repository/.classpath
richtext/repository/.project
richtext/repository/.settings
richtext/repository/target
richtext/target
search/.classpath
search/.project
search/.settings
search/hippo-cms-search.iml
search/target
shared-dependencies/*.iml
shared-dependencies/.project
shared-dependencies/.settings
shared-dependencies/target
surf/*.iml
surf/.project
surf/.settings
surf/frontend/*.iml
surf/frontend/.classpath
surf/frontend/.project
surf/frontend/.settings
surf/frontend/target
surf/repository/.classpath
surf/repository/.project
surf/repository/.settings
surf/repository/hippo-cms-surf-repository.iml
surf/repository/target
surf/target
/target
test/*.log
test/*.tmp
test/.classpath
test/.project
test/.settings
test/hippo-cms-test.iml
test/local.properties
test/nbproject
test/repository
test/target
test/tm.epoch
test/tm.out
test/tm.out.1
test/tm.out.lck
test/tmlog.lck
test/version
test/wdbp-error-log.txt
test/workspaces
tools/.project
tools/.settings
tools/development-content/.classpath
tools/development-content/.project
tools/development-content/.settings
tools/development-content/hippo-cms-tools-development-content.iml
tools/development-content/target
tools/eclipse/.classpath
tools/eclipse/.project
tools/eclipse/.settings
tools/eclipse/hippo-cms-tools-eclipse.iml
tools/eclipse/target
tools/hippo-cms-tools.iml
tools/target
tools/translation-runner/.classpath
tools/translation-runner/.project
tools/translation-runner/.settings
tools/translation-runner/target
tools/translation-runner/translation-runner.iml
tools/upgrade/*.tmp
tools/upgrade/.classpath
tools/upgrade/.pom.xml.swp
tools/upgrade/.project
tools/upgrade/.settings
tools/upgrade/hippo-cms-tools-upgrade.iml
tools/upgrade/jpox.log
tools/upgrade/local.properties
tools/upgrade/nbproject
tools/upgrade/target
tools/upgrade/tm.epoch
tools/upgrade/tm.out
tools/upgrade/tm.out.1
tools/upgrade/tm.out.lck
tools/upgrade/tmlog.lck
tools/upgrade/wdbp-error-log.txt
translation/.project
translation/.settings
translation/common/*.tmp
translation/common/.classpath
translation/common/.pom.xml.swp
translation/common/.project
translation/common/.settings
translation/common/hippo-cms-translation-common.iml
translation/common/jpox.log
translation/common/local.properties
translation/common/nbproject
translation/common/target
translation/common/tm.epoch
translation/common/tm.out
translation/common/tm.out.1
translation/common/tm.out.lck
translation/common/tmlog.lck
translation/common/wdbp-error-log.txt
translation/frontend/*.tmp
translation/frontend/.classpath
translation/frontend/.pom.xml.swp
translation/frontend/.project
translation/frontend/.settings
translation/frontend/hippo-cms-translation-frontend.iml
translation/frontend/jpox.log
translation/frontend/local.properties
translation/frontend/nbproject
translation/frontend/target
translation/frontend/tm.epoch
translation/frontend/tm.out
translation/frontend/tm.out.1
translation/frontend/tm.out.lck
translation/frontend/tmlog.lck
translation/frontend/wdbp-error-log.txt
translation/hippo-cms-translation.iml
translation/repository/*.tmp
translation/repository/.classpath
translation/repository/.pom.xml.swp
translation/repository/.project
translation/repository/.settings
translation/repository/hippo-cms-translation-repository.iml
translation/repository/jpox.log
translation/repository/local.properties
translation/repository/nbproject
translation/repository/target
translation/repository/tm.epoch
translation/repository/tm.out
translation/repository/tm.out.1
translation/repository/tm.out.lck
translation/repository/tmlog.lck
translation/repository/wdbp-error-log.txt
translation/target
translation/test/*.tmp
translation/test/.classpath
translation/test/.pom.xml.swp
translation/test/.project
translation/test/.settings
translation/test/hippo-cms-translation-test.iml
translation/test/jpox.log
translation/test/local.properties
translation/test/nbproject
translation/test/target
translation/test/tm.epoch
translation/test/tm.out
translation/test/tm.out.1
translation/test/tm.out.lck
translation/test/tmlog.lck
translation/test/wdbp-error-log.txt
types/*.iml
types/.classpath
types/.project
types/.settings
types/target
upgrade/.classpath
upgrade/.project
upgrade/.settings
upgrade/hippo-cms-upgrade.iml
upgrade/target
workflow/.project
workflow/.settings
workflow/frontend/*.tmp
workflow/frontend/.classpath
workflow/frontend/.pom.xml.swp
workflow/frontend/.project
workflow/frontend/.settings
workflow/frontend/hippo-cms-workflow-frontend.iml
workflow/frontend/local.properties
workflow/frontend/nbproject
workflow/frontend/repository
workflow/frontend/src/main/java/org/hippoecm/frontend/plugins/reviewedactions/.BasicReviewedActionsWorkflowPlugin.html.swp
workflow/frontend/src/main/java/org/hippoecm/frontend/plugins/reviewedactions/.FullRequestWorkflowPlugin.java.swp
workflow/frontend/src/main/java/org/hippoecm/frontend/plugins/reviewedactions/.FullReviewedActionsWorkflowPlugin.html.swp
workflow/frontend/target
workflow/frontend/tm.epoch
workflow/frontend/tm.out
workflow/frontend/tm.out.1
workflow/frontend/tm.out.lck
workflow/frontend/tmlog.lck
workflow/frontend/version
workflow/frontend/wdbp-error-log.txt
workflow/frontend/workspaces
workflow/hippo-cms-workflow.iml
workflow/repository/.classpath
workflow/repository/.project
workflow/repository/.settings
workflow/repository/hippo-cms-workflow-repository.iml
workflow/repository/target
workflow/target
workflowmenu/*.tmp
workflowmenu/.classpath
workflowmenu/.project
workflowmenu/.settings
workflowmenu/hippo-cms-workflowmenu.iml
workflowmenu/local.properties
workflowmenu/nbproject
workflowmenu/target
workflowmenu/tm.epoch
workflowmenu/tm.out
workflowmenu/tm.out.1
workflowmenu/tm.out.lck
workflowmenu/tmlog.lck
workflowmenu/wdbp-error-log.txt
