<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<!--
  * Copyright 2008-2013 Hippo B.V. (http://www.onehippo.com)
  *
  * Licensed under the Apache License, Version 2.0 (the  "License");
  * you may not use this file except in compliance with the License.
  * You may obtain a copy of the License at
  *
  * http://www.apache.org/licenses/LICENSE-2.0
  *
  * Unless required by applicable law or agreed to in writing, software
  * distributed under the License is distributed on an "AS IS" BASIS,
  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  * See the License for the specific language governing permissions and
  * limitations under the License.
-->
<web-app id="hst-demosuite-cms">

    <!-- General configuration -->
    <display-name>HST Demosuite CMS</display-name>
    <description>HST Demosuite CMS</description>

    <context-param>
        <param-name>repository-address</param-name>
        <param-value>rmi://localhost:1099/hipporepository</param-value>
        <description>The address of the repository</description>
    </context-param>

    <!--No concurrent logins-->
    <filter>
        <filter-name>ConcurrentLogin</filter-name>
        <filter-class>org.hippoecm.frontend.plugins.login.ConcurrentLoginFilter</filter-class>
    </filter>

    <!--Default application-->
    <filter>
        <filter-name>CMS</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>org.hippoecm.frontend.Main</param-value>
        </init-param>
        <init-param>
            <param-name>filterMappingUrlPattern</param-name>
            <param-value>/*</param-value>
        </init-param>
        <init-param>
            <param-name>configuration</param-name>
            <param-value>deployment</param-value>
        </init-param>
        <init-param>
	        <param-name>repository-address</param-name>
	        <param-value>vm://</param-value>
		    </init-param>
    </filter>

    <!--Builtin console-->
    <filter>
        <filter-name>Console</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>org.hippoecm.frontend.Main</param-value>
        </init-param>
        <init-param>
            <param-name>config</param-name>
            <param-value>console</param-value>
        </init-param>
        <init-param>
            <param-name>configuration</param-name>
            <param-value>deployment</param-value>
        </init-param>
        <init-param>
          <param-name>repository-address</param-name>
          <param-value>vm://</param-value>
        </init-param>      
    </filter>

    <filter-mapping>
        <filter-name>ConcurrentLogin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CMS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Console</filter-name>
        <url-pattern>/console/*</url-pattern>
    </filter-mapping>
    
    <listener>
        <listener-class>org.hippoecm.frontend.plugins.login.ConcurrentLoginListener</listener-class>
    </listener>

  <servlet>
    <servlet-name>AngularResourceServlet</servlet-name>
    <servlet-class>org.onehippo.cms7.utilities.servlet.ResourceServlet</servlet-class>
    <init-param>
      <param-name>jarPathPrefix</param-name>
      <param-value>/angular</param-value>
    </init-param>
    <init-param>
      <param-name>allowedResourcePaths</param-name>
      <param-value>
        ^/.*\..*
      </param-value>
    </init-param>
    <init-param>
      <!--
        Cache timeout in seconds. Make sure to increase it in production environments,
        for example to one day (cacheTimeout = 86400)
      -->
      <param-name>cacheTimeout</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>CKEditorResourceServlet</servlet-name>
    <servlet-class>org.onehippo.cms7.utilities.servlet.ResourceServlet</servlet-class>
    <init-param>
      <param-name>jarPathPrefix</param-name>
      <param-value>/ckeditor</param-value>
    </init-param>
    <init-param>
      <param-name>allowedResourcePaths</param-name>
      <param-value>
        ^/.*\..*
      </param-value>
    </init-param>
    <init-param>
      <param-name>cacheTimeout</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>SkinResourceServlet</servlet-name>
    <servlet-class>org.onehippo.cms7.utilities.servlet.ResourceServlet</servlet-class>
    <init-param>
      <param-name>jarPathPrefix</param-name>
      <param-value>/skin</param-value>
    </init-param>
    <init-param>
      <param-name>allowedResourcePaths</param-name>
      <param-value>
        ^/.*\..*
      </param-value>
    </init-param>
    <init-param>
      <param-name>cacheTimeout</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>

  <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>org.hippoecm.repository.StatusServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LoggingServlet</servlet-name>
        <servlet-class>org.hippoecm.repository.LoggingServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <!-- Repository -->
    <servlet>
        <servlet-name>Repository</servlet-name>
        <servlet-class>org.hippoecm.repository.RepositoryServlet</servlet-class>
        <init-param>
            <param-name>repository-directory</param-name>
            <param-value>WEB-INF/storage</param-value>
            <description>The (relative) location where to store files</description>
        </init-param>
        <init-param>
            <param-name>repository-config</param-name>
            <param-value>repository.xml</param-value>
            <description>The location of the repository configuration file. Unless the location
            starts with file://, the location is retrieved from within the application package as
            resource.</description>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoggingServlet</servlet-name>
        <url-pattern>/logging/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Repository</servlet-name>
        <url-pattern>/repository/*</url-pattern>
    </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AngularResourceServlet</servlet-name>
    <url-pattern>/angular/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CKEditorResourceServlet</servlet-name>
    <url-pattern>/ckeditor/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SkinResourceServlet</servlet-name>
    <url-pattern>/skin/*</url-pattern>
  </servlet-mapping>

  <!-- Timeout in minutes -->
  <session-config>
      <session-timeout>60</session-timeout>
  </session-config>


  <env-entry>
    <env-entry-name>logging/contextName</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>cms</env-entry-value>
  </env-entry>


</web-app>
