<?xml version="1.0" encoding="UTF-8"?><sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" sv:name="events">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hippostd:folder</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
    <sv:value>hippo:harddocument</sv:value>
    <sv:value>hippotranslation:translated</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:uuid" sv:type="String">
    <sv:value>5e81c718-35bd-48f4-b715-34f53acdf8b6</sv:value>
  </sv:property>
  <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
    <sv:value>new-events-folder</sv:value>
    <sv:value>new-events-document</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:locale" sv:type="String">
    <sv:value>en</sv:value>
  </sv:property>
  <!-- NOTE: TEST ONLY-->
  <sv:property sv:multiple="true" sv:name="hippo:paths" sv:type="String">
    <sv:value>cafebabe-cafe-babe-cafe-babecafebabe</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:id" sv:type="String">
    <sv:value>55b3284c-6da8-4249-88f7-49a17870ba90</sv:value>
  </sv:property>
  <sv:node sv:name="hippotranslation:translations">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippotranslation:translations</sv:value>
    </sv:property>
  </sv:node>
</sv:node>
