<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "./log4j.dtd">
<log4j:configuration>

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %-80m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
    </filter>
  </appender>
  
  <logger additivity="false" name="org.onehippo.forge.seo.support">
    <level value="debug"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root>
    <level value="info"/>
    <appender-ref ref="CONSOLE"/>
  </root>
  
</log4j:configuration>
