* text=auto !eol
/LICENSE -text
/NOTICE -text
/pom.xml svneol=native#text/plain
src/main/java/org/onehippo/addon/frontend/gallerypicker/dialog/GalleryPickerDialog.properties -text
src/main/java/org/onehippo/addon/frontend/gallerypicker/dialog/GalleryPickerDialog_de.properties -text
src/main/java/org/onehippo/addon/frontend/gallerypicker/dialog/GalleryPickerDialog_nl.properties -text
src/main/resources/gallerypicker-types.cnd -text
src/main/resources/hide-hippogallerypicker-namespace.xml svneol=native#text/plain
src/main/resources/hippoecm-extension.xml svneol=native#text/plain
src/main/resources/hippogallerypicker-namespace.xml svneol=native#text/plain
src/main/resources/image-validator.xml svneol=native#text/plain
src/main/resources/imagelink-type.xml svneol=native#text/plain
