* text=auto !eol
/LICENSE -text
/NOTICE -text
/pom.xml svneol=native#text/plain
src/main/resources/cms-pickers-image-translation.xml svneol=native#text/plain
src/main/resources/gallerypicker-types.cnd -text
src/main/resources/hide-hippogallerypicker-namespace.xml svneol=native#text/plain
src/main/resources/hippoecm-extension.xml svneol=native#text/plain
src/main/resources/hippogallerypicker-namespace.xml svneol=native#text/plain
src/main/resources/image-validator.xml svneol=native#text/plain
src/main/resources/imagelink-type.xml svneol=native#text/plain
src/site/resources/images/gallery-picker.png -text svneol=unset#image/png
src/site/resources/images/imagelink-properties.png -text svneol=unset#image/png
src/site/resources/images/imagelink.png -text svneol=unset#image/png
src/site/resources/images/imagepicker.png -text svneol=unset#image/png
src/site/resources/images/imagepreview-field.png -text svneol=unset#image/png
src/site/resources/images/imagepreview-selected.png -text svneol=unset#image/png
src/site/site.xml svneol=native#text/plain
src/site/xdoc/index.xml svneol=native#text/plain
src/site/xdoc/install.xml svneol=native#text/plain
src/site/xdoc/release-notes.xml svneol=native#text/plain
src/site/xdoc/usage.xml svneol=native#text/plain
