<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2008 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>skeleton website</display-name>
  <description>empty skeleton site</description>
    
  <!-- General HST configuration -->
  <context-param>
    <description>Comma separated list of configuration files.</description>
    <param-name>configurationFiles</param-name>
    <param-value>/WEB-INF/hst.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.hippoecm.hst.core.HSTConfiguration</listener-class>
  </listener>
  
  <filter>
    <filter-name>ContextBaseFilter</filter-name>
    <filter-class>org.hippoecm.hst.core.filters.URIFragmentContextBaseFilter</filter-class>    
    <init-param>      
      <param-name>levels</param-name>
      <param-value>1</param-value>    
    </init-param>
    <init-param>      
      <param-name>contentBase</param-name>
      <param-value>/</param-value>    
    </init-param>
    <init-param>      
      <param-name>ignorePaths</param-name>
      <param-value>/static,/binaries,/jvmStatus,/resources,/favicon.ico</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>TemplateContext</filter-name>
    <filter-class>org.hippoecm.hst.core.filters.URLMappingTemplateContextFilter</filter-class>    
    <init-param>      
      <param-name>hstConfigurationUrl</param-name>
      <param-value>/hst:configuration/hst:configuration</param-value>    
    </init-param>
    <init-param>      
      <param-name>ignorePaths</param-name>
      <param-value>/static,/binaries,/jvmStatus,/resources,/favicon.ico</param-value>     
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>ContextBaseFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping> 
  <filter-mapping>
    
  <filter-name>TemplateContext</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping> 


  <!-- Installation of a servlet serving binaries from repository. -->
  <servlet>
    <servlet-name>BinariesServlet</servlet-name>
    <servlet-class>org.hippoecm.hst.core.BinariesServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>BinariesServlet</servlet-name>
    <url-pattern>/binaries/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>org.hippoecm.hst.core.StatusServlet</servlet-class>   
  </servlet>
  
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/jvmStatus/*</url-pattern>
  </servlet-mapping>  
  
  <!-- Timeout in minutes -->
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!--<error-page>
    <error-code>404</error-code>
    <location>/jsp/error/notfound.jsp</location>
  </error-page>
-->
 <!-- <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/jsp/error/error.jsp</location>
  </error-page>
  -->
</web-app>

