<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2010-2014 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="jaxrsHstConfigService" class="org.hippoecm.hst.pagecomposer.jaxrs.cxf.CXFJaxrsHstConfigService">
    <constructor-arg value="jaxrsHstConfigService"/>
    <property name="servletPath" value=""/>
    <property name="jaxrsServerFactoryBean" ref="jaxrsHstConfigCxfServerFactoryBean"/>
  </bean>

  <bean class="org.hippoecm.hst.pagecomposer.jaxrs.services.ContainerItemComponentResource" id="containerItemComponentResource">
    <property name="processor">
      <bean class="org.hippoecm.hst.pagecomposer.jaxrs.model.ParametersInfoProcessor" />
    </property>
  </bean>

  <bean id="pageComposerContextService" class="org.hippoecm.hst.pagecomposer.jaxrs.services.PageComposerContextService"/>

  <bean id="siteMenuHelper" class="org.hippoecm.hst.pagecomposer.jaxrs.services.helpers.SiteMenuHelper">
    <property name="pageComposerContextService" ref="pageComposerContextService"/>
  </bean>

  <bean id="siteMapHelper" class="org.hippoecm.hst.pagecomposer.jaxrs.services.helpers.SiteMapHelper">
    <property name="pageComposerContextService" ref="pageComposerContextService"/>
  </bean>

  <bean id="pageHelper" class="org.hippoecm.hst.pagecomposer.jaxrs.services.helpers.PagesHelper">
    <property name="pageComposerContextService" ref="pageComposerContextService"/>
  </bean>

  <bean id="abstractConfigResource" abstract="true">
    <property name="pageComposerContextService" ref="pageComposerContextService"/>
  </bean>
  <!--
    The internal server factory. 
    Each JAX-RS service component is registered by "resourceProvider" property. 
  -->
  <bean id="jaxrsHstConfigCxfServerFactoryBean" class="org.apache.cxf.jaxrs.JAXRSServerFactoryBean">
    <property name="address" value="/"/>
    <property name="providers">
      <list>
        <ref bean="jaxrsRestJsonProvider"/>
      </list>
    </property>
    <property name="resourceProviders">
      <list>
        <bean class="org.apache.cxf.jaxrs.lifecycle.SingletonResourceProvider">
          <constructor-arg>
            <bean class="org.hippoecm.hst.pagecomposer.jaxrs.services.ContainerComponentResource"  parent="abstractConfigResource"/>
          </constructor-arg>
        </bean>
        <bean class="org.apache.cxf.jaxrs.lifecycle.SingletonResourceProvider">
          <constructor-arg>
            <ref bean="containerItemComponentResource"  parent="abstractConfigResource"/>
          </constructor-arg>
        </bean>
        <bean class="org.apache.cxf.jaxrs.lifecycle.SingletonResourceProvider">
          <constructor-arg>
            <bean class="org.hippoecm.hst.pagecomposer.jaxrs.services.SiteMenuResource" parent="abstractConfigResource">
              <property name="siteMenuHelper" ref="siteMenuHelper"/>
              <property name="siteMenuItemHelper">
                <bean class="org.hippoecm.hst.pagecomposer.jaxrs.services.helpers.SiteMenuItemHelper"/>
              </property>
            </bean>
          </constructor-arg>
        </bean>
        <bean class="org.apache.cxf.jaxrs.lifecycle.SingletonResourceProvider">
          <constructor-arg>
            <bean class="org.hippoecm.hst.pagecomposer.jaxrs.services.SiteMapResource"  parent="abstractConfigResource">
              <property name="siteMapHelper" ref="siteMapHelper"/>
            </bean>
          </constructor-arg>
        </bean>
        <bean class="org.apache.cxf.jaxrs.lifecycle.SingletonResourceProvider">
          <constructor-arg>
            <bean class="org.hippoecm.hst.pagecomposer.jaxrs.services.MountResource"  parent="abstractConfigResource">
              <property name="siteMapHelper" ref="siteMapHelper"/>
              <property name="siteMenuHelper" ref="siteMenuHelper"/>
              <property name="pagesHelper" ref="pagesHelper"/>
            </bean>
          </constructor-arg>
        </bean>
        <bean class="org.apache.cxf.jaxrs.lifecycle.SingletonResourceProvider">
          <constructor-arg>
            <bean class="org.hippoecm.hst.pagecomposer.jaxrs.services.RootResource"  parent="abstractConfigResource">
              <property name="rootPath" value="${hst.configuration.rootPath}"/>
            </bean>
          </constructor-arg>
        </bean>
        <bean class="org.apache.cxf.jaxrs.lifecycle.SingletonResourceProvider">
          <constructor-arg>
            <bean class="org.hippoecm.hst.pagecomposer.jaxrs.services.ExceptionResource" parent="abstractConfigResource"/>
          </constructor-arg>
        </bean>
      </list>
    </property>
  </bean>

  <!-- Pipelining -->

  <bean id="jaxrsHstConfigServiceValve" class="org.hippoecm.hst.core.container.JaxrsRestServiceValve">
    <property name="valveName" value="jaxrsHstConfigServiceValve" />
    <constructor-arg ref="jaxrsHstConfigService"/>
  </bean>

  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject">
      <bean class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetObject" ref="org.hippoecm.hst.core.container.Pipelines"/>
        <property name="propertyPath" value="pipelines"/>
      </bean>
    </property>
    <property name="targetMethod" value="put"/>
    <property name="arguments">
      <list>
        <value>ComposerPipeline</value>
        <bean class="org.hippoecm.hst.core.container.HstSitePipeline">
          <property name="initializationValves">
            <list>
              <ref bean="initializationValve"/>
              <ref bean="cmsHostRestRequestContextValve"/>
              <ref bean="cmsSecurityValve"/>
            </list>
          </property>
          <property name="processingValves">
            <list>
              <ref bean="noCacheResponseHeadersValve"/>
              <ref bean="jaxrsHstConfigServiceValve"/>
            </list>
          </property>
          <property name="cleanupValves">
            <list>
              <ref bean="cleanupValve"/>
              <ref bean="diagnosticReportingValve" />
            </list>
          </property>
        </bean>
      </list>
    </property>
  </bean>

  <!-- configure that call to the programmatic creation of the _rp Mount for Host 127.0.0.1 -->
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetObject" ref="org.hippoecm.hst.configuration.model.HstManager"/>
    <property name="targetMethod" value="addHstConfigurationAugmenter"/>
    <property name="arguments">
      <bean class="org.hippoecm.hst.core.hosting.CustomMountAndVirtualCmsHostAugmenter">
        <property name="mountName" value="_rp"/>
        <property name="mountType" value="composer"/>
        <property name="mountNamedPipeline" value="ComposerPipeline"/>
        <property name="springConfiguredCmsLocation" value="${cms.location}"/>
      </bean>
    </property>
  </bean>
 
</beans>

