*.iml
/.idea/
.project
.settings/
target/
/.classpath
/.lock
/api/bin/
/api/src/main/java/org/hippoecm/hst/core/jcr/pool/PoolingRepository.class
/api/src/main/java/org/hippoecm/hst/core/jcr/pool/PoolingRepositoryAware.class
/api/src/main/java/org/hippoecm/hst/core/jcr/pool/SessionDecorator.class
/build.properties
/client/bin/
/client-modules/page-composer/log4j.log
/commons/bin/
/commons/log4j.log
/components/core/.lock
/components/core/workspaces/
/components/tests/workspaces/
/components/restapi/.lock
/components/restapi/log4j.log
/components/restapi/workspaces/
/integration/tests/bin/
/integration/war/bin/
/repository/
/sandbox/ocm/repository/
/sandbox/ocm/version/
/sandbox/ocm/workspaces/
/toolkit-resources/addon/repository/bin/
/toolkit-resources/addon/unittestcontents/bin/
/version/
/workspaces/
