{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier",
    "prettier/vue",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-use-before-define": ["error"],
    "nuxt/no-cjs-in-config": "off",
    "vue/no-v-html": "off",
    "no-undef": "off",
    "no-use-before-define": "off"
  }
}
