.btn-overlay-toggle {
  $color-blue: #4286f4;
  $color-dark: #4f4f4f;

  min-width: 1%;
  margin: 0;

  md-icon {
    color: $color-dark !important;
    user-select: none;

    &.active {
      color: $color-blue !important;
    }

    &:focus {
      border: 0 !important;
      box-shadow: 0 !important;
      outline: none !important;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
