.btn-overlay-toggle {
  $color-blue: #1684e5;
  $color-dark: #4f4f4f;

  margin: 0;
  min-width: 1%;

  md-icon {
    color: $color-dark !important;
    user-select: none;

    &.active {
      color: $color-blue !important;
    }

    &:focus {
      border: 0 !important;
      box-shadow: 0 !important;
      outline: none !important;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
