body { 
    font-family: Verdana; 
}

table.main {
  width:100%;
}

td.leftmenu {
  vertical-align:top;
  width:200px;
}

td.content {
  vertical-align:top;
}

td.rightmenu {
  vertical-align:top;
  width:200px;
}
