<div class="breadcrumbs"></div>
<div matRipple (click)="onSiteSelectorClicked()" class="site-selector-value">
  <ng-container *ngIf="selectedSite; else pleaseSelectSite">
    {{ selectedSite.name }}
    <mat-icon svgIcon="arrow_drop_down"></mat-icon>
  </ng-container>
  <ng-template #pleaseSelectSite>
    Please select a site...
    <mat-icon svgIcon="arrow_drop_down"></mat-icon>
  </ng-template>
</div>
<div *ngIf="isSidePanelOpened" (click)="onBackdropClicked()" class="backdrop"></div>
<brna-site-selection-side-panel *ngIf="isSidePanelOpened"
                                [sites]="sites$ | async"
                                [(selectedSite)]="selectedSite">
</brna-site-selection-side-panel>
