@import 'variables';

:host {
  align-items: center;
  background-color: $top-panel-bg;
  border-bottom: 1px solid $top-panel-border-color;
  display: grid;
  grid-template: 'site-selector-value';
  height: $top-panel-height;
  justify-items: end;
}

.site-selector-value {
  cursor: pointer;
  grid-area: site-selector-value;
  padding-right: 20px;
}

.backdrop {
  background-color: rgba(0, 0, 0, .12);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
