@import 'variables';

:host {
  align-items: stretch;
  background-color: $top-panel-bg;
  border-bottom: 1px solid $top-panel-border-color;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: $top-panel-height;
  justify-items: stretch;
}

.site-selector-value {
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: end;
  padding-right: 20px;
}

.backdrop {
  background-color: rgba(0, 0, 0, .12);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
