@import 'variables';
@import 'mixins';

@mixin showNormalIcon() {
  .icon {
    display: block;
  }

  .icon.active {
    display: none;
  }
}

@mixin showActiveIcon() {
  .icon {
    display: none;
  }

  .icon.active {
    display: block;
  }
}

:host {
  cursor: pointer;
  display: grid;
  height: $menu-root-item-height;
  position: relative;
}

.menu-item {
  @include showNormalIcon;

  align-items: center;
  display: grid;
  grid-template-columns: $menu-collapsed-width 1fr;
  padding-right: (2 * $menu-icon-margin);

  &::before {
    background-color: $menu-active-text-color;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 300ms;
    width: 5px;
  }

  &:hover {
    @include showNormalIcon;

    background-color: $menu-hover-bg;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);

    .mat-icon,
    .caption {
      color: $menu-hover-text-color;
    }
  }

  &.active {
    @include showActiveIcon;

    &::before {
      opacity: 1;
    }

    .mat-icon,
    .caption {
      color: $menu-active-text-color;
      transition: color 300ms;
    }

    &:hover {
      @include showNormalIcon;
    }
  }

  &.pressed:not(:hover) {
    background-color: $menu-sub-item-bg;

    &:hover {
      .mat-icon,
      .caption {
        color: $menu-text-color;
      }
    }
  }

  &.collapsed {
    padding-right: 0;

    &:hover {
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
      height: 100%;
      left: 0;
      padding-right: (2 * $menu-icon-margin);
      position: absolute;
      top: 0;
    }
  }
}

.mat-icon {
  color: $menu-icon-color;
  justify-self: center;
}

.caption {
  color: $menu-text-color;
  white-space: nowrap;
}

// Specific styling for the bloomreach logo in the first item
:host.home {
  .mat-icon,
  .active {
    color: $white;
  }

  .active:hover .mat-icon {
    color: $menu-hover-text-color;
  }
}
