@import '../../../../styles/variables';

:host {
  display: block;
  overflow: hidden;
}

.header {
  cursor: pointer;
  font-size: $menu-sub-menu-font-size;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.items-wrapper {
  background-color: $menu-sub-sub-item-bg;
  padding-left: 10px;

  > .item {
    font-size: $menu-sub-sub-menu-font-size;
  }

  .item:first-child {
    padding-top: 10px;
  }

  .item:last-child {
    padding-bottom: 10px;
  }
}

.item + .item {
  margin-top: 7px;
}
