<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2008 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:lang="http://www.springframework.org/schema/lang" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/lang http://www.springframework.org/schema/beans/spring-lang-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

  <!-- A wrapping LoggerFactory component which can be used as a centralized logging management. -->
  <bean id="org.hippoecm.hst.logging.LoggerFactory" class="org.hippoecm.hst.core.logging.Slf4jLoggerFactory">
    <property name="traceToolLogEventBuffer" ref="hstTraceToolLogEventBuffer" />
  </bean>
  
  <bean id="hstTraceToolLogEventBuffer" class="org.hippoecm.hst.core.logging.CircularFIFOLogEventBuffer">
    <constructor-arg><value>500</value></constructor-arg>
    <property name="levelByName" value="DEBUG" />
  </bean>
  
  <bean id="componentInvokerProfiler" class="org.hippoecm.hst.core.logging.HstComponentInvokerProfiler">
  </bean>  
  
  <aop:config>
    <aop:aspect ref="componentInvokerProfiler">
      <aop:pointcut id="theExecutionOfComponentInvokerMethod"
                    expression="execution(* org.hippoecm.hst.core.container.HstComponentInvoker.*(org.hippoecm.hst.core.container.HstContainerConfig, javax.servlet.ServletRequest, javax.servlet.ServletResponse))" />
      <aop:around pointcut-ref="theExecutionOfComponentInvokerMethod"
                  method="profile" />
    </aop:aspect>
  </aop:config>

</beans>

