<?xml version="1.0" encoding="UTF-8"?>
 <!--
     Copyright 2008-2013 Hippo B.V. (http://www.onehippo.com)
     
     Licensed under the Apache License, Version 2.0 (the  "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
     
     http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS"
     BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="org.hippoecm.hst.core.linking.HstLinkCreator"
    class="org.hippoecm.hst.core.linking.DefaultHstLinkCreator">
    <property name="pageNotFoundPath" value="${linkrewriting.failed.path}"/>
    <property name="binariesPrefix" value="${binaries.prefix.path}"/>
    <property name="binaryLocations">
      <list>
        <value>/content/gallery/</value>
        <value>/content/assets/</value>
      </list>
    </property>

    <property name="linkProcessor" ref="org.hippoecm.hst.core.linking.HstLinkProcessor"/>
    <property name="locationResolvers" ref="org.hippoecm.hst.core.linking.locationResolvers"/>
  </bean>

  <bean id="org.hippoecm.hst.core.linking.locationResolvers"
    class="org.springframework.beans.factory.config.ListFactoryBean">
    <property name="sourceList">
      <bean class="org.hippoecm.hst.core.linking.CompositeList">
        <constructor-arg>
          <list>
          
            <ref bean="customResourceResolvers"/>
            
            <bean class="org.springframework.beans.factory.config.ListFactoryBean">
              <property name="sourceList">
                <list>
                    <bean class="org.hippoecm.hst.core.linking.resolvers.HippoResourceLocationResolver">
                      <property name="binariesPrefix" value="${binaries.prefix.path}"/>
                      <property name="binaryLocations">
                        <list>
                          <value>/content/gallery/</value>
                          <value>/content/assets/</value>
                        </list>
                      </property>
                      <property name="resourceContainers" ref="org.hippoecm.hst.core.linking.ResourceContainer.list"/>
                    </bean>
                </list>
              </property>
            </bean>
          </list>
        </constructor-arg>
      </bean>
    </property>
  </bean>

  <bean id="org.hippoecm.hst.core.linking.ResourceContainer.list" class="org.springframework.beans.factory.config.ListFactoryBean">
    <property name="sourceList">
      <bean class="org.hippoecm.hst.core.linking.CompositeList">
        <constructor-arg>
          <list>
            <ref bean="customResourceContainers"/>
            <bean class="org.springframework.beans.factory.config.ListFactoryBean">
              <property name="sourceList">
                <list>
                   <bean class="org.hippoecm.hst.core.linking.containers.HippoGalleryImageSetContainer">
                      <property name="primaryItem" value="hippogallery:original"/>
                      <property name="mappings">
                        <bean class="org.springframework.beans.factory.config.MapFactoryBean">
                          <property name="sourceMap">
                            <map key-type="java.lang.String" value-type="java.lang.String">
                              <entry key="hippogallery:thumbnail" value="thumbnail"/>
                            </map>
                          </property>
                        </bean>
                      </property>
                   </bean>
                   <bean class="org.hippoecm.hst.core.linking.containers.HippoGalleryExampleImageSetContainer">
                      <property name="primaryItem" value="hippogallery:picture"/>
                      <property name="mappings">
                        <bean class="org.springframework.beans.factory.config.MapFactoryBean">
                          <property name="sourceMap">
                            <map key-type="java.lang.String" value-type="java.lang.String">
                              <entry key="hippogallery:thumbnail" value="thumbnail"/>
                            </map>
                          </property>
                        </bean>
                      </property>
                    </bean>
                    <bean class="org.hippoecm.hst.core.linking.containers.HippoGalleryAssetSet">
                      <property name="primaryItem" value="hippogallery:asset"/>
                      <property name="mappings">
                        <bean class="org.springframework.beans.factory.config.MapFactoryBean">
                          <property name="sourceMap">
                            <map key-type="java.lang.String" value-type="java.lang.String">
                            </map>
                          </property>
                        </bean>
                      </property>
                    </bean>
                    <bean class="org.hippoecm.hst.core.linking.containers.DefaultResourceContainer"/>
                </list>
              </property>
            </bean>
          </list>
        </constructor-arg>
      </bean>
    </property>
  </bean>


  <!-- overridable -->
  <bean id="customResourceResolvers" class="org.springframework.beans.factory.config.ListFactoryBean">
    <property name="sourceList">
      <list>
      </list>
    </property>
  </bean>


  <!-- overridable -->
  <bean id="customResourceContainers" class="org.springframework.beans.factory.config.ListFactoryBean">
    <property name="sourceList">
      <list>
      </list>
    </property>
  </bean>
</beans>
