<?xml version="1.0" encoding="UTF-8"?>
  <!--
    Copyright 2008 Hippo Licensed under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License. You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 Unless required by
    applicable law or agreed to in writing, software distributed under
    the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
    OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and
    limitations under the License.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  
  <bean id="noopCache" class="org.hippoecm.hst.cache.NOOPHstCache">
  </bean>
  
  <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
  </bean>
  
  <bean class="org.hippoecm.hst.cache.ehcache.EhCacheManagerShuttingDownListener" init-method="init" destroy-method="destroy">
    <property name="cacheManager" ref="ehCacheManager" />
  </bean>
  
  <bean id="abstractEhCacheBase" abstract="true">
    <property name="cacheManager" ref="ehCacheManager" />
    <property name="maxElementsInMemory" value="256" />
    <property name="maxElementsOnDisk" value="0" />
    <property name="eternal" value="false" />
    <property name="overflowToDisk" value="false" />
    <!-- time to live in seconds. default 1 day -->
    <property name="timeToLive" value="86400" />
    <!-- time to idle in seconds. default 1 day -->
    <property name="timeToIdle" value="86400" />
    <property name="diskPersistent" value="false" />
    <property name="diskExpiryThreadIntervalSeconds" value="120" />
  </bean>
  
  <bean id="abstractEhCache" abstract="true" parent="abstractEhCacheBase" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
  </bean>
  
  <bean id="abstractBlockingEhCache" abstract="true" parent="abstractEhCacheBase" class="org.hippoecm.hst.site.container.BlockingEhCacheFactoryBean">
    <property name="timeoutMillis" value="${default.blocking.cache.timeout}"/>
  </bean>

  <bean id="defaultBinariesCache" class="org.hippoecm.hst.cache.ehcache.HstCacheEhCacheImpl">
    <constructor-arg>
      <bean parent="abstractBlockingEhCache">
        <property name="cacheName" value="binariesCache" />
        <!-- time to live in seconds. default 1 day -->
        <property name="timeToLive" value="86400" />
      </bean>
    </constructor-arg>
    <property name="statisticsEnabled" value="${default.binaries.cache.statistics.enabled}"/>
  </bean>

  <bean id="pageCache" class="org.hippoecm.hst.cache.ehcache.HstCacheEhCacheImpl">
    <constructor-arg>
      <bean parent="abstractBlockingEhCache">
        <property name="cacheName" value="hstPageBlockingCache" />
        <property name="maxElementsInMemory" value="1000"/>
        <!-- time to live in seconds. default 1 hour -->
        <property name="timeToLive" value="3600" />
      </bean>
    </constructor-arg>
    <property name="statisticsEnabled" value="${default.binaries.cache.statistics.enabled}"/>
  </bean>

</beans>
