<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2008-2013 Hippo B.V. (http://www.onehippo.com)
    
    Licensed under the Apache License, Version 2.0 (the  "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS"
    BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  
  <bean id="org.hippoecm.hst.core.linking.HstLinkProcessor" class="org.hippoecm.hst.core.linking.HstLinkProcessorChain" />
  
  <bean id="org.hippoecm.hst.core.request.HstSiteMapMatcher" class="org.hippoecm.hst.site.request.BasicHstSiteMapMatcher">
    <property name="linkProcessor" ref="org.hippoecm.hst.core.linking.HstLinkProcessor"/>
  </bean>
  
  <bean id="org.hippoecm.hst.core.sitemapitemhandler.HstSiteMapItemHandlerFactory"
        class="org.hippoecm.hst.core.sitemapitemhandler.HstSiteMapItemHandlerFactoryImpl">
    <constructor-arg ref="org.hippoecm.hst.core.sitemapitemhandler.HstSiteMapItemHandlerRegistry" />  
  </bean>
  
  <bean id="org.hippoecm.hst.core.sitemapitemhandler.HstSiteMapItemHandlerRegistry"
        class="org.hippoecm.hst.core.sitemapitemhandler.HstSiteMapItemHandlerRegistryImpl"/>


  <bean id="hstModelMutex" class="java.lang.Object"/>

  <bean id="hstEventsCollector" class="org.hippoecm.hst.configuration.cache.HstEventsCollector">
    <property name="rootPath" value="${hst.configuration.rootPath}"/>
  </bean>


  <bean id="hstEventsDispatcher" class="org.hippoecm.hst.configuration.cache.HstEventsDispatcher">
    <property name="hstEventsCollector" ref="hstEventsCollector"/>
    <property name="hstEventConsumers">
      <list>
        <ref bean="org.hippoecm.hst.configuration.cache.HstNodeLoadingCache"/>
        <ref bean="org.hippoecm.hst.configuration.cache.HstConfigurationLoadingCache"/>
      </list>
    </property>
  </bean>


  <bean id="org.hippoecm.hst.configuration.cache.HstNodeLoadingCache"  class="org.hippoecm.hst.configuration.cache.HstNodeLoadingCache">
    <property name="repository" ref="javax.jcr.Repository.delegating" />
    <property name="username" value="${hstconfigreader.repository.user.name}" />
    <property name="password" value="${hstconfigreader.repository.password}" />
    <property name="rootPath" value="${hst.configuration.rootPath}"/>
  </bean>

  <bean id="org.hippoecm.hst.configuration.cache.HstConfigurationLoadingCache"  class="org.hippoecm.hst.configuration.cache.HstConfigurationLoadingCache">
    <property name="hstNodeLoadingCache" ref="org.hippoecm.hst.configuration.cache.HstNodeLoadingCache" />
    <property name="rootConfigurationsPrefix" value="${hst.configuration.rootPath}/hst:configurations/"/>
  </bean>


  <bean id="org.hippoecm.hst.configuration.model.EventPathsInvalidator" class="org.hippoecm.hst.configuration.model.EventPathsInvalidator">
    <property name="hstModelMutex" ref="hstModelMutex"/>
    <property name="hstEventsCollector" ref="hstEventsCollector"/>
    <property name="hstManager" ref="org.hippoecm.hst.configuration.model.HstManager"/>
  </bean>



  <bean id="org.hippoecm.hst.configuration.model.HstManager" class="org.hippoecm.hst.configuration.model.HstManagerImpl">
    <property name="hstModelMutex" ref="hstModelMutex"/>
    <property name="hstEventsDispatcher" ref="hstEventsDispatcher"/>
    <property name="hstNodeLoadingCache" ref="org.hippoecm.hst.configuration.cache.HstNodeLoadingCache" />
    <property name="cmsPreviewPrefix" value="${cms.default.cmspreviewprefix}"/>
    <property name="urlFactory" ref="org.hippoecm.hst.core.component.HstURLFactory" />        
    <property name="siteMapMatcher" ref="org.hippoecm.hst.core.request.HstSiteMapMatcher" />
    <property name="siteMapItemHandlerFactory" ref="org.hippoecm.hst.core.sitemapitemhandler.HstSiteMapItemHandlerFactory" />
    <property name="pathSuffixDelimiter" value="${container.request.path.suffix.delimiter}" />
    <property name="componentRegistry" ref="org.hippoecm.hst.core.container.HstComponentRegistry" />
    <property name="siteMapItemHandlerRegistry" ref="org.hippoecm.hst.core.sitemapitemhandler.HstSiteMapItemHandlerRegistry" />
    <property name="pageCache" ref="pageCache"/>
    <property name="staleConfigurationSupported" value="${stale.configuration.supported}"/>
  </bean>
  
</beans>
