<?xml version="1.0" encoding="UTF-8"?>
 <!--
     Copyright 2008-2015 Hippo B.V. (http://www.onehippo.com)
     
     Licensed under the Apache License, Version 2.0 (the  "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
     
     http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS"
     BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

  <bean id="org.hippoecm.hst.content.beans.manager.ObjectConverter" class="org.hippoecm.hst.site.content.ObjectConverterFactoryBean">
    <property name="classpathResourceScanner" ref="org.hippoecm.hst.util.ClasspathResourceScanner" />
  </bean>

  <bean id="org.hippoecm.hst.content.tool.ContentBeansTool" class="org.hippoecm.hst.content.tool.DefaultContentBeansTool">
    <constructor-arg ref="org.hippoecm.hst.core.search.HstQueryManagerFactory" />
    <property name="objectConverter" ref="org.hippoecm.hst.content.beans.manager.ObjectConverter" />
  </bean>

  <bean id="org.hippoecm.hst.content.rewriter.ContentRewriterFactory"
        class="org.hippoecm.hst.content.rewriter.impl.ContentRewriterFactoryImpl">
    <property name="defaultContentRewriterClassName" value="${default.hst.contentrewriter.class}" />
  </bean>

  <bean id="org.hippoecm.hst.content.service.translation.HippoTranslationBeanService"
        class="org.hippoecm.hst.site.container.MultiTargetDelegatingBeanFactoryBean">
    <constructor-arg>
      <list>
        <value>org.hippoecm.hst.content.service.translation.HippoTranslationBeanService_default</value>
        <value>org.hippoecm.hst.content.service.translation.HippoTranslationBeanService_caching</value>
      </list>
    </constructor-arg>
  </bean>

  <!-- Default HippoTranslationBeanService. -->
  <bean id="org.hippoecm.hst.content.service.translation.HippoTranslationBeanService_default"
        class="org.hippoecm.hst.content.service.translation.DefaultHippoTranslationBeanServiceImpl">
    <meta key="org.hippoecm.hst.site.container.SpringComponentManager.registerCondition"
          value="!config.getBoolean('hippo.translation.ids.caching')" /> 
  </bean>

  <!-- Caching HippoTranslationBeanService. -->
  <bean id="org.hippoecm.hst.content.service.translation.HippoTranslationBeanService_caching"
        class="org.hippoecm.hst.content.service.translation.CachingHippoTranslationBeanServiceImpl">
    <meta key="org.hippoecm.hst.site.container.SpringComponentManager.registerCondition"
          value="config.getBoolean('hippo.translation.ids.caching')" /> 
    <constructor-arg ref="org.hippoecm.hst.content.service.translation.HippoTranslationContentRegistry" />
  </bean>

  <!-- Translation ID vs Document Handle IDs Caching Registry. -->
  <bean id="org.hippoecm.hst.content.service.translation.HippoTranslationContentRegistry"
        class="org.hippoecm.hst.content.service.translation.SimpleHippoTranslationContentRegistry">
    <meta key="org.hippoecm.hst.site.container.SpringComponentManager.registerCondition"
          value="config.getBoolean('hippo.translation.ids.caching')" /> 
  </bean>

</beans>
