<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2008 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <!-- Valves -->
  
  <bean id="resourceLifecycleManagementList" class="org.springframework.beans.factory.config.ListFactoryBean">
    <property name="sourceList">
      <list>
        <bean class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
          <property name="targetBeanName" value="org.hippoecm.hst.core.jcr.pool.PoolingRepository" />
          <property name="propertyPath" value="pooledSessionLifecycleManagement" />
        </bean>
      </list>
    </property>
  </bean>
  
  <!-- Pre-processing valves -->
  
  <bean id="initializationValve" class="org.hippoecm.hst.core.container.InitializationValve">
    <property name="resourceLifecycleManagements" ref="resourceLifecycleManagementList" />
  </bean>
  
  <!-- Main invocable valves for each request -->
    
  <bean id="contextResolvingValve" class="org.hippoecm.hst.core.container.ContextResolvingValve">
  </bean>
  
  <bean id="actionValve" class="org.hippoecm.hst.core.container.ActionValve">
    <constructor-arg>
      <ref bean="org.hippoecm.hst.core.request.HstRequestProcessor" />
    </constructor-arg>
  </bean>
  
  <bean id="aggregationValve" class="org.hippoecm.hst.core.container.AggregationValve">
    <constructor-arg>
      <ref bean="org.hippoecm.hst.core.request.HstRequestProcessor" />
    </constructor-arg>
  </bean>
  
  <bean id="resourceServingValve" class="org.hippoecm.hst.core.container.ResourceServingValve">
    <constructor-arg>
      <ref bean="org.hippoecm.hst.core.request.HstRequestProcessor" />
    </constructor-arg>
  </bean>
  
  <!-- Post-processing valves -->
  
  <bean id="cleanupValve" class="org.hippoecm.hst.core.container.CleanupValve">
    <property name="resourceLifecycleManagements" ref="resourceLifecycleManagementList" />
  </bean>
  
  <!-- Pipelines -->
  
  <bean id="org.hippoecm.hst.core.container.Pipelines" class="org.hippoecm.hst.core.container.HstSitePipelines">
    <property name="defaultPipelineName" value="DefaultSitePipeline" />
    <property name="pipelines">
      <map>
        <entry key="DefaultSitePipeline">
          <bean class="org.hippoecm.hst.core.container.HstSitePipeline">
            <property name="preInvokingValves">
              <list>
                <ref bean="initializationValve" />
              </list>
            </property>
            <property name="invokingValves">
              <list>
                <ref bean="contextResolvingValve" />
                <ref bean="actionValve" />
                <ref bean="resourceServingValve" />
                <ref bean="aggregationValve" />
              </list>
            </property>
            <property name="postInvokingValves">
              <list>
                <ref bean="cleanupValve" />
              </list>
            </property>
          </bean>
        </entry>
      </map>
    </property>
  </bean>
   
</beans>

