@import 'variables';

input.hippo-imagelink-input {
  background: none !important;
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;

  &.has-errors {
    border-bottom-color: $red-a700 !important;
  }
}

button.md-icon-button {
  md-icon {
    color: $grey-600 !important;
  }
}
