.hst-container {
}

.hst-overlay {
    position: absolute;
    z-index: 99;
}
.hst-overlay-container {
    border: 2px dashed transparent;
}

.hst-overlay-container.hst-overlay-hover {
    /*border: 2px dashed #999;*/
}

.hst-overlay-container.hst-selected-container {
    background-color: #e3e3e3;
    opacity: 0.6;
}

.hst-empty-container {
}

.hst-overlay-container-item.hst-overlay-hover .hst-overlay-background {
    background-color: #fffcc9;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.hst-overlay-container.hst-empty-container {
    border: 2px solid #F9BE3D;
}

.hst-overlay-container-item {
    z-index: 100;
    border: 3px dotted #F9BE3D;
}

.hst-overlay-menu, .hst-dd-helper {
    height: 18px;
    width: 100px;
    position: absolute;
    background: #fff4c3;
    border: 1px solid #f9bc39;
    -moz-border-radius: 2px;
    color: red;
    z-index: 10000;
    -moz-box-shadow: 1px 1px 1px #e3e3e3;
    -webkit-box-shadow: 3px 3px 3px #666;
    background-image: -moz-linear-gradient(0% 0% 270deg, #FFF2BF, #FCC12C);
}

.hst-overlay-menu-button {
    float: right;
    cursor: pointer;
    font-weight: bold;
    border-left: 1px solid #f9bc39;
    width: 18px;
    height: 18px;
}

.hst-overlay-name-label{
    float: left;
    width: 75px;
    overflow-x: hidden;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 10px;
}

.hst-overlay-container-item.hst-overlay-hover > div.hst-overlay-menu-button,
.hst-overlay.hst-selected-containerItem > div.hst-overlay-menu-button{
    opacity: 1;    
    color: white;
    background-color: red;
}

.hst-overlay.hst-selected-containerItem {
    background-color: #ffff00;
    opacity: 0.4;
}

.hst-overlay.hst-overlay-inherited {
    border-color: #999999;
}


.hst-overlay-container-item.hst-overlay-inherited {
    border-color: #e3e3e3;
}

.empty-container-placeholder {
    height: 20px;
    font-size: 15px;
    padding: 6px 0 6px 0;
    text-align: center;
    font-style: italic;
}

/* Drag&Drop elements */
.hst-placeholder {
    margin: 0;
    padding: 0;
    border: 0;
    visibility: hidden;
}

#hst-drop-indicator {
    z-index: 500;
    background: red;
    opacity: 0.9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  	-moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
}

/* this is to stop collapsing margins */
/*.hst-container-item {
    padding-top: 1px;
    margin-top: -1px;
}*/

.hst-item-ondrag {
    /*opacity: 0.6;*/
}

.hst-overlay.hst-overlay-container.hst-highlight {
    opacity: 1;
    z-index: 1000;
    border: 2px solid #00ff33;
}
.hst-highlight .hst-overlay-container-item {
    display: none;
}

/* Container specific rules */
table.hst-container {
    width: 100%;
}

div.hst-empty-container ul,
div.hst-empty-container ol {
    padding-left: 5px;
}
li.hst-empty-container-item {
    list-style: none;
}

li.placeholdert {
    list-style: none;
}

/* New containerItems get this class, removed again after refresh */
.hst-temporary {
  padding: 5px;
  background-color: red;
  color: white;
}

button.title-button {
    background-image: url(hippologo.png) !important;
    width: 150px;
}

/*Create Document link Under the Document Selector Combobox*/
.create-document-link {
     text-align: right;
     font-size: 1.2em;
}

.create-document-link a, a:visited {
    text-decoration: none;
    color:#39f;
}

.create-document-link a:hover {
    color: white;
    background-color:#39f; 
}

