* text=auto !eol
/LICENSE -text
/NOTICE -text
bootstrap/configuration/pom.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/configuration/forms/formdata.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/configuration/modules/autoexport-module.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/configuration/queries/templates/new-subsite/contentblocksdemo-subsite.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/channels.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/abstractpages.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/abstractpages/base.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/catalog.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/components.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/components/content.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/components/header.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/components/leftmenu.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/components/notfound.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/components/overview.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/components/search.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/pages.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/pages/home.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/pages/newsoverview.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/pages/newspage.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/pages/overview.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/pages/pagenotfound.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/pages/search.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/pages/textpage.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/prototypepages.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/prototypepages/one-column.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/prototypepages/two-columns.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/sitemap.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/templates.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/workspace.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/workspace/containers.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/workspace/pages.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/workspace/sitemap.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/configurations/contentblocksdemo/workspace/sitemenus.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/hosts.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/hst/sites.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/contentblocksdemo.cnd -text
bootstrap/configuration/src/main/resources/namespaces/contentblocksdemo.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/contentblocksdemo/basedocument.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/contentblocksdemo/contentblocksdocument.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/contentblocksdemo/contentblocksprovider.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/contentblocksdemo/imageblock.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/contentblocksdemo/providercompounddocument.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/contentblocksdemo/textblock.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/namespaces/contentblocksdemo/videoblock.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/configuser-read-everywhere.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/group-liveusers.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/group-previewusers.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/group-sitewriters.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-author.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-configuser.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-editor.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-liveuser.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-previewuser.xml svneol=native#text/plain
bootstrap/configuration/src/main/resources/security/user-sitewriter.xml svneol=native#text/plain
bootstrap/content/pom.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/documents/contentblocksdemo.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/documents/contentblocksdemo/common.xml svneol=native#text/plain
bootstrap/content/src/main/resources/content/gallery/contentblocksdemo.xml svneol=native#text/plain
bootstrap/content/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
bootstrap/pom.xml svneol=native#text/plain
cms/pom.xml svneol=native#text/plain
cms/src/main/resources/org/hippoecm/frontend/plugins/standards/icon/res/contentblocksdemo-newsdocument-16.png -text svneol=unset#image/png
cms/src/main/webapp/WEB-INF/web.xml svneol=native#text/plain
conf/context.xml svneol=native#text/plain
conf/log4j-dev.xml svneol=native#text/plain
conf/log4j-prod.xml svneol=native#text/plain
/pom.xml svneol=native#text/plain
site/pom.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/hst-cms-rest.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/jndi-repository.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/template-composer-rest.xml svneol=native#text/plain
site/src/main/webapp/META-INF/context.xml svneol=native#text/plain
site/src/main/webapp/WEB-INF/jspf/htmlTags.jspf -text
site/src/main/webapp/WEB-INF/jspf/taglibs.jspf -text
site/src/main/webapp/WEB-INF/tags/menuitem.tag -text
site/src/main/webapp/WEB-INF/tags/pagenotfound.tag -text
site/src/main/webapp/WEB-INF/tags/pages.tag -text
site/src/main/webapp/WEB-INF/web.xml svneol=native#text/plain
site/src/main/webapp/images/button_edit.gif -text
site/src/main/webapp/images/catalog-list.png -text svneol=unset#image/png
site/src/main/webapp/images/glyphicons-halflings-white.png -text svneol=unset#image/png
site/src/main/webapp/images/glyphicons-halflings.png -text svneol=unset#image/png
site/src/main/webapp/images/hippo.gif -text
site/src/main/webapp/images/onehippo.gif -text
site/src/test/resources/log4j.xml svneol=native#text/plain
