<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2013 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- The controllers are autodetected POJOs labeled with the @Controller annotation. -->
  <context:component-scan base-package="org.hippoecm.hst.demo.integration.spring" />

  <bean
    class="org.springframework.web.servlet.view.InternalResourceViewResolver"
    p:prefix="/WEB-INF/springapp/jsp/" p:suffix=".jsp" p:order="1" />

  <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
  </bean>

  <!-- HSTTWO-3119: HST Component Bean from a specified Spring Application Context through servlet context attributes. -->
  <bean id="contextContactBean" class="org.hippoecm.hst.demo.spring.ContactSpring" scope="prototype">
    <property name="mailSender">
      <bean class="org.hippoecm.hst.demo.util.NoJavaMailSenderImpl">
        <property name="host" value="mail.mycompany.com"/>
      </bean>
    </property>
    <property name="templateMessage">
      <bean class="org.springframework.mail.SimpleMailMessage">
        <property name="to" value="contact@mycompany.com" />
        <property name="subject" value="My opinion" />
      </bean>
    </property>
  </bean>

</beans>
