<form class="search-form">
  <mat-icon svgIcon="search"></mat-icon>
  <input [(ngModel)]="searchText"
         (keyup)="onSearchInputKeyUp()"
         type="text"
         name="searchText"
         placeholder="Search"
         autocomplete="off"
         class="search-input">
</form>
<perfect-scrollbar [config]="{ suppressScrollX: true }" class="sites-tree-wrapper">
  <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl" [trackBy]="trackByFn">
    <cdk-tree-node *cdkTreeNodeDef="let node"
                   matRipple
                   cdkTreeNodePadding
                   (click)="onLeafNodeClicked(node)"
                   [class.hidden]="shouldNotRender(node)"
                   [class.active]="isActive(node)"
                   class="caption leaf">
      <mat-icon svgIcon="remove"></mat-icon>
      {{ node.name }}
    </cdk-tree-node>
    <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild"
                   matRipple
                   cdkTreeNodeToggle
                   cdkTreeNodePadding
                   (click)="onParentNodeClicked(node)"
                   [class.hidden]="shouldNotRender(node)"
                   class="caption">
      <mat-icon [svgIcon]="treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'"></mat-icon>
      {{ node.name }}
    </cdk-tree-node>
  </cdk-tree>
  <div *ngIf="isNotFoundPanelVisible" class="not-found-info">There is no sites found.</div>
</perfect-scrollbar>
