* text=auto !eol
/pom.xml -text
src/main/java/org/onehippo/cms7/services/webfiles/WebFilesServiceImpl.java -text
src/main/java/org/onehippo/cms7/services/webfiles/WebFilesServiceModule.java -text
src/main/java/org/onehippo/cms7/services/webfiles/jcr/JcrBinaryImpl.java -text
src/main/java/org/onehippo/cms7/services/webfiles/jcr/WebFileBundleImpl.java -text
src/main/java/org/onehippo/cms7/services/webfiles/jcr/WebFileImpl.java -text
src/main/java/org/onehippo/cms7/services/webfiles/util/WatchFilesUtils.java -text
src/main/java/org/onehippo/cms7/services/webfiles/vault/AbstractWebFilesArchive.java -text
src/main/java/org/onehippo/cms7/services/webfiles/vault/FileNameComparatorUtils.java -text
src/main/java/org/onehippo/cms7/services/webfiles/watch/WebFilesWatcherJcrConfig.java -text
src/main/resources/hippoecm-extension.xml -text
src/main/resources/webfiles-service-module.xml -text
src/main/resources/webfiles.cnd -text
src/test/java/org/onehippo/cms7/services/webfiles/jcr/WebFileImplTest.java -text
src/test/java/org/onehippo/cms7/services/webfiles/vault/FileNameComparatorUtilsTest.java -text
src/test/java/org/onehippo/cms7/services/webfiles/watch/AbstractSubDirectoriesWatcherWithFileSystemObserverIT.java -text
src/test/java/org/onehippo/cms7/services/webfiles/watch/AbstractWatcherIT.java -text
src/test/java/org/onehippo/cms7/services/webfiles/watch/WebFilesWatcherIT.java -text
src/test/resources/empty.zip -text
src/test/resources/log4j.xml -text
src/test/resources/testbundle-empty.zip -text
src/test/resources/testbundle-with-custom-dot-content-xml.zip -text
src/test/resources/testbundle-with-empty-dir.zip -text
src/test/resources/testbundle.zip -text
src/test/resources/testbundle/ftl/main/list.ftl -text
src/test/resources/testbundle/ftl/main/list.properties -text
src/test/resources/testbundle/ftl/main/list/list_title.ftl -text
src/test/resources/testbundle/ftl/main/list/list_title_date.ftl -text
