* text=auto !eol
frontend/pom.xml eol=lf
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective.css -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective.java eol=lf
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective_it.propeties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerResourceBehaviour.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/Hippo.ChannelManager.BlueprintListPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/Hippo.ChannelManager.ChannelFormPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/Hippo.ChannelManager.RootPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/RootPanel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/TemplateComposerPerspective.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/TemplateComposerPerspective.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/TemplateComposerPerspective.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channel-manager-32.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/AbstractChannelPropertyEditor.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/BlueprintStore.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanel.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelPropertiesPanel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelPropertiesPanel.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelResourceModel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelStore.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelStore.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelUtil.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/DefaultChannelPropertyEditor.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/Hippo.ChannelManager.ChannelGridPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/Hippo.ChannelManager.ChannelPropertiesPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ReflectionUtil.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/Hippo.ChannelManager.ExtWireframe.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/Hippo.ChannelManager.HstConfigEditor.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditor.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditor.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditorResourceBehaviour.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/model/UuidFromPathModel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/PageEditor.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/PageEditor.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/TemplateComposerResourceBehavior.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/globals.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/IFrameBundle.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/PageEditor.css -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/error.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/factory.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/main.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/manager.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/util.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/widgets.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PageEditor.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PageEditorBundle.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PageModel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PropertiesPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/PluginsBundle.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/basegrid/BaseGrid.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/colorfield/colorfield.css -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/colorfield/colorfield.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/colorfield/images/gradient.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/colorfield/images/wheel.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/floatingwindow/FloatingWindow.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/jsonp/jsonp.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/miframe/miframe.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/miframe/modules/mifmsg.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/DropDownListWidget.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/DropDownListWidget.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ExtLinkPicker.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ExtLinkPicker.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ExtLinkPickerContainer.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ExtLinkPickerContainer.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/InlinePreviewImage.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JsonUtil.java -text
frontend/src/test/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanelTest.java -text
frontend/src/test/java/org/onehippo/cms7/channelmanager/channels/ReflectionUtilTest.java -text
/pom.xml eol=lf
repository/pom.xml eol=lf
repository/src/main/resources/channel-manager-perspective.xml eol=lf
repository/src/main/resources/hippoecm-extension.xml eol=lf
