/*.iml
/*.ipr
/*.iws
/.idea
/.project
/.settings
angularjs-api/*.iml
angularjs-api/node_modules
angularjs-api/target
frontend-api/*.iml
frontend-api/.project
frontend-api/target
frontend/*.iml
frontend/*.log
frontend/.classpath
frontend/.idea
frontend/.project
frontend/.settings
frontend/node_modules
frontend/target
repository/*.iml
repository/.classpath
repository/.project
repository/.settings
repository/target
/target
test/*.iml
test/.classpath
test/.project
test/.settings
test/target
