* text=auto !eol
/LICENSE -text
/NOTICE -text
frontend-api/src/main/appended-resources/META-INF/LICENSE -text
frontend-api/src/main/java/org/onehippo/cms7/channelmanager/service/IDocumentUrlService.java -text
frontend/.bowerrc -text
frontend/.jshintrc -text
frontend/bower.json -text
frontend/declutter.config.json -text
frontend/js/menu-manager/assets/css/menu-manager.css -text
frontend/js/menu-manager/directives/illegalCharacter.spec.js -text
frontend/js/menu-manager/directives/illegalCharacters.js -text
frontend/js/menu-manager/directives/tooltip.js -text
frontend/js/menu-manager/filters/placeholder.js -text
frontend/js/menu-manager/filters/placeholder.spec.js -text
frontend/js/menu-manager/i18n/en.json -text
frontend/js/menu-manager/i18n/nl.json -text
frontend/js/menu-manager/services/FormValidationService.js -text
frontend/js/menu-manager/services/MenuService.js -text
frontend/js/menu-manager/states/loader/LoaderCtrl.js -text
frontend/js/menu-manager/states/loader/loader.html -text
frontend/js/menu-manager/states/menu-item/CloseConfirmationCtrl.js -text
frontend/js/menu-manager/states/menu-item/MenuCtrl.js -text
frontend/js/menu-manager/states/menu-item/MenuItemCtrl.js -text
frontend/js/menu-manager/states/menu-item/TreeCtrl.js -text
frontend/js/menu-manager/states/menu-item/add-page/AddPageCtrl.js -text
frontend/js/menu-manager/states/menu-item/add-page/add-page.html -text
frontend/js/menu-manager/states/menu-item/add/AddMenuItemCtrl.js -text
frontend/js/menu-manager/states/menu-item/edit/EditMenuItemCtrl.js -text
frontend/js/menu-manager/states/menu-item/edit/EditMenuItemFormCtrl.js -text
frontend/js/menu-manager/states/menu-item/menu-item.html -text
frontend/js/page-manager/i18n/en.json -text
frontend/js/page-manager/i18n/nl.json -text
frontend/js/page-manager/services/PageService.js -text
frontend/js/shared/assets/images/loader.gif -text
frontend/js/shared/services/ConfigService.js -text
frontend/js/shared/services/ContainerService.js -text
frontend/js/shared/services/FeedbackService.js -text
frontend/js/shared/services/IFrameService.js -text
frontend/package.json -text
frontend/pom.xml eol=lf
frontend/src/main/appended-resources/META-INF/LICENSE -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/BlueprintListPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/BreadcrumbToolbar.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelFormPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerHeaderItem.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective.css -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective.java eol=lf
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ChannelManagerPerspective_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ExtStoreFuture.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/ExtStoreFuture.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/RootPanel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/RootPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/RootPanel.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/RootPanel_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/RootPanel_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/RootPanel_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/RootPanel_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/add-channel.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/bg.gif -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/breadcrumb-arrow.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/button-edit-content.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channel-manager-32.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channel-manager-dimmed-32.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/AbstractChannelPropertyEditor.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/BlueprintStore.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanel.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanel_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanel_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanel_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanel_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelIconPanel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelIconPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelIconPanel.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelIconPanel_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelIconPanel_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelIconPanel_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelIconPanel_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelOverview.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelOverview.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelOverview.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelOverview_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelOverview_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelOverview_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelOverview_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelPropertiesWindow.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelPropertiesWindow.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelPropertiesWindow.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelPropertiesWindow_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelPropertiesWindow_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelPropertiesWindow_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelPropertiesWindow_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelResourceModel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelStore.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelStore.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelStoreFactory.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelStore_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelStore_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelStore_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ChannelStore_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/DefaultChannelPropertyEditor.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/LocaleResolver.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ReflectionUtil.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/de_DE.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/en_US.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/es_ES.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/fr_FR.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/icon-view-active.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/icon-view.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ipad-magazine.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/list-view-active.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/list-view.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/mobile.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/nl_NL.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/ru_RU.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/triangle-collapsed.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/triangle-expanded.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/util/rest/RestClientProxyFactory.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/util/rest/mappers/exceptions/ResponseToChannelExceptionMapper.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/website.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/channels/zh_CN.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/common/CommonBundle.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/common/MarkRequiredFields.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/ExtWireframe.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditor.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditor.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditor.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditorResourceBehaviour.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditor_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditor_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditor_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/hstconfig/HstConfigEditor_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/icon-close-gray-small.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/icon-close-red-small.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/icon-i-hover.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/icon-i.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/icon-view.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/list-view.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/loading.gif -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/model/AbsoluteRelativePathModel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/model/UuidFromPathModel.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/channelactions/ChannelActionsPlugin.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/channelactions/ChannelActionsPlugin.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/channelactions/ChannelActionsPlugin.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/channelactions/ChannelActionsPlugin_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/channelactions/ChannelActionsPlugin_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/channelactions/ChannelActionsPlugin_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/channelactions/ChannelActionsPlugin_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/channelactions/channel-icon-16.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/social/ISocialMediaService.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/social/ISocialMedium.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/social/PopupSocialMediaService.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/social/PopupSocialMedium.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/social/SocialSharingPlugin.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/social/SocialSharingPlugin.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/social/facebook-icon-16.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/social/linkedin-icon-16.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/plugins/social/twitter-icon-16.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/service/ChannelDocumentUrlService.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/service/IChannelManagerService.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/PageEditor.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/PageEditor.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/PageEditor_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/PageEditor_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/PageEditor_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/PageEditor_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/TemplateComposerGlobalBundle.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/TemplateComposerHeaderItem.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/button-discard.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/button-edit.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/button-publish.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/button-remove-lock.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/button-save-close.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/button-save.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/collapse.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/component-toolbar-arrow-left.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/component-toolbar-arrow-right.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/component.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/components.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/deviceskins/images/ipad_landscape.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/deviceskins/images/ipad_portrait.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/deviceskins/images/iphone_landscape.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/deviceskins/images/iphone_portrait.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/expand.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/gear.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/IFrameBundle.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/error.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/factory.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/inc/button-edit-content.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/inc/button-edit-end.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/inc/button-edit-start.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/inc/channel-manager-iframe.css -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/inc/close.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/page.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/surfandedit.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/util.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/widgets.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/DragDropOne.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/Hippo.Msg.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/IconGridView.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/IconToolbarWindow.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/ManageChangesWindow.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/Notification.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PageContainer.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PageContext.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PageEditor.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PageEditorBundle.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PageModelStore.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/PropertiesPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/RestStore.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/ToolkitGridPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/pageeditor/ToolkitStore.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/PluginsBundle.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/colorfield/colorfield.css -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/colorfield/colorfield.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/colorfield/images/gradient.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/colorfield/images/wheel.png -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/floatingwindow/FloatingWindow.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/vtabs/VerticalTabPanel.css -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/vtabs/VerticalTabPanel.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/vtabs/vtabs-border-bottom.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/vtabs/vtabs-border-right.png -text svneol=unset#image/png
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/plugins/vtabs/vtabs-sprite.gif -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/templatecomposer/templatecomposerglobal.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/DropDownListWidget.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/DropDownListWidget.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ExtLinkPicker.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ExtLinkPicker.js -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/ImageSetPathWidget_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/InlinePreviewImage.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget.html -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget.java -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget_de.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget_fr.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget_it.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JcrPathWidget_nl.properties -text
frontend/src/main/java/org/onehippo/cms7/channelmanager/widgets/JsonUtil.java -text
frontend/src/test/java/org/onehippo/cms7/channelmanager/channels/ChannelGridPanelTest.java -text
frontend/src/test/java/org/onehippo/cms7/channelmanager/channels/ReflectionUtilTest.java -text
frontend/src/test/java/org/onehippo/cms7/channelmanager/widgets/JsonUtilTest.java -text
/pom.xml eol=lf
repository/pom.xml eol=lf
repository/src/main/resources/channel-manager-cluster.xml eol=lf
repository/src/main/resources/cms-pickers-documents-only.xml -text
repository/src/main/resources/cms-services-surf.xml -text
repository/src/main/resources/document-url-service.xml -text
repository/src/main/resources/hippoecm-extension.xml eol=lf
repository/src/main/resources/socialsharing-workflowmenu.xml -text
repository/src/main/resources/workflow-channelactions.xml -text
test/pom.xml -text
test/src/main/webapp/HST-vbox.html -text
test/src/main/webapp/WEB-INF/web.xml -text
test/src/main/webapp/cmseditlink.html -text
test/src/main/webapp/cmseditmenu.html -text
test/src/main/webapp/emptycontaineritem.html -text
test/src/main/webapp/extjs-test.html -text
test/src/main/webapp/pageeditor-test.html -text
test/src/main/webapp/test.html -text
test/src/test/java/org/onehippo/cms7/channelmanager/AbstractJavascriptTest.java -text
test/src/test/java/org/onehippo/cms7/channelmanager/ExtTest.java -text
test/src/test/java/org/onehippo/cms7/channelmanager/ResourceServlet.java -text
test/src/test/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/AbstractTemplateComposerTest.java -text
test/src/test/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/CmsEditContentTest.java -text
test/src/test/java/org/onehippo/cms7/channelmanager/templatecomposer/iframe/InitializationTest.java -text
test/src/test/resources/log4j.dtd -text
test/src/test/resources/log4j.xml -text
