/.project
/.settings
frontend/.classpath
frontend/.project
frontend/.settings
frontend/target
repository/.classpath
repository/.project
repository/.settings
repository/target
/target
test/.classpath
test/.project
test/.settings
test/target
