/*.iml
/*.ipr
/*.iws
/.idea
/.project
/.settings
frontend-api/*.iml
frontend-api/.project
frontend-api/target
frontend/*.iml
frontend/.classpath
frontend/.idea
frontend/.project
frontend/.settings
frontend/js/components
frontend/node_modules
frontend/target
repository/*.iml
repository/.classpath
repository/.project
repository/.settings
repository/target
/target
test/*.iml
test/.classpath
test/.project
test/.settings
test/target
