<a id="menu-toggler" href="#"><span></span></a>

<div id="sidebar">

	{{> layout.sidenav.shortcuts}}

	<ul class="nav nav-list">

		{{#layout.sidenav_navList}}
			{{> layout.sidenav.items}}
		{{/layout.sidenav_navList}}

	</ul><!--/.nav-list-->

	<div id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>

</div>