<ul class="nav nav-tabs" ng-controller="mainMenuCtrl">

    <li ng-repeat="tab in tabs" ng-class="{true:'active', false:''}[isPageSelected('{{tab.link}}')]">
        <a href="#{{tab.link}}"><span>{{tab.name}}</span></a></li>
</ul>
<div class="tab-panel">
    <div class="col-lg-2" style="padding-left: 0;">

        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="plugin in plugins.installedPlugins">{{plugin.title}}</a>
        </div>
    </div>

    <div class="col-lg-10" style="padding-left: 0;border: 1px solid red">
        content
    </div>
</div>
