<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright 2012-2013 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- ====================================================================== -->
  <!-- A P P E N D E R S                                                      -->
  <!-- ====================================================================== -->

  <!-- console -->
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss} %-5p [%C.%M():%L] %m%n"/>
    </layout>
  </appender>



  <!-- ====================================================================== -->
  <!-- L O G G E R S                                                          -->
  <!-- ====================================================================== -->

  <category name="org.onehippo.repository">
    <!-- on purpose, for unit testing changing log level, we set it here to debug -->
    <level value="warn"/>
  </category>

  <category name="org.onehippo.repository.testutils">
    <!-- on purpose, for unit testing changing log level, we set it here to info -->
    <level value="info"/>
  </category>

  <category name="org.onehippo.repository.testutils.ExecuteOnLogLevelTest">
    <!-- on purpose, for unit testing changing log level, we set it here to debug -->
    <level value="debug"/>
  </category>

  <root>
    <level value="warn"/>
    <appender-ref ref="console"/>
  </root>
</log4j:configuration>
