* text=auto !eol
/LICENSE -text
/NOTICE -text
addon-repository/pom.xml svneol=native#text/plain
addon-repository/src/main/resources/domains/polldata-domain.xml svneol=native#text/plain
addon-repository/src/main/resources/hide-poll-namespace.xml svneol=native#text/plain
addon-repository/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
addon-repository/src/main/resources/poll-catalog.xml svneol=native#text/plain
addon-repository/src/main/resources/poll-namespace.xml svneol=native#text/plain
addon-repository/src/main/resources/poll-root-node.xml svneol=native#text/plain
addon-repository/src/main/resources/poll-templates.xml svneol=native#text/plain
addon-repository/src/main/resources/poll-translator.xml svneol=native#text/plain
addon-repository/src/main/resources/poll.cnd -text
addon-repository/src/main/resources/types/compound/option.xml svneol=native#text/plain
addon-repository/src/main/resources/types/compound/poll.xml svneol=native#text/plain
addon-repository/src/main/resources/types/polldocument.xml svneol=native#text/plain
hst-client/pom.xml svneol=native#text/plain
hst-client/src/main/java/org/onehippo/forge/poll/component/PollDocumentComponent.java -text
hst-client/src/main/java/org/onehippo/forge/poll/component/PollDocumentComponentInfo.java -text
hst-client/src/main/resources/META-INF/web-resources/poll/catalog-poll.png -text svneol=unset#image/png
/pom.xml svneol=native#text/plain
