{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "ignoreFiles": "src/vendor.scss",
  "rules": {
    "max-line-length": 120,
    "no-descending-specificity": null,
    "number-leading-zero": "never",
    "order/order": [
      "custom-properties",
      "dollar-variables",
      {
        type: 'at-rule',
        name: 'include'
      },
      {
        type: 'at-rule',
        name: 'extend'
      },
      "declarations",
      "rules",
      "at-rules"
    ],
    "order/properties-alphabetical-order": true,
    "selector-type-no-unknown": null
  }
}
