@import 'variables';

:host {
  background-color: $menu-drawer-bg;
  color: $menu-text-color;
}

.header {
  font-size: 25px;
  font-weight: 200;
  margin: 0;
  padding: 16px 0;
}

.content-wrapper {
  height: 100%;
  padding-left: 16px;
}

.window-content-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
