#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="ISO-8859-1"?>
	<!--
		Copyright 2008 Hippo Licensed under the Apache License, Version 2.0
		(the "License"); you may not use this file except in compliance with
		the License. You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0 Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
	-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Hippo Site Toolkit Container Web Application</display-name>

	<!-- Spring Log4j Web Configuration Init Parameters -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>

	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>60000</param-value>
	</context-param>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>site.webapp.root</param-value>
	</context-param>

    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    <filter>
        <filter-name>HstVirtualHostsFilter</filter-name>
        <filter-class>org.hippoecm.hst.container.HstVirtualHostsFilter</filter-class>   
        <init-param>
            <param-name>welcome-page</param-name>
            <param-value>home</param-value>
        </init-param>
        <init-param>
            <param-name>preview-prefix</param-name>
            <param-value>/preview</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HstVirtualHostsFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    
	<!-- Spring Log4j Configuring Listener -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>HstSiteConfigServlet</servlet-name>
		<servlet-class>org.hippoecm.hst.site.container.HstSiteConfigServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>HstContainerServlet</servlet-name>
		<servlet-class>org.hippoecm.hst.container.HstContainerServlet</servlet-class>
        <!--
        HST Application Context Namespace Prefix.
        This should be unique among multiple HST-based application contexts.
        -->
        <!--
        <init-param>
          <param-name>hstContextNamespace</param-name>
          <param-value>news</param-value>
        </init-param>
        -->
        <!--
        HST-2 based SITE application can define and assemble its own components by uncommenting the following two init parameters 
        and set the spring configuration files properly. The spring configuration resources are loaded by the context classloader.
        -->
        <!--
        <init-param>
          <param-name>clientComponentManagerClass</param-name>
          <param-value>org.hippoecm.hst.component.support.ClientComponentManager</param-value>
        </init-param>
        <init-param>
          <param-name>clientComponentManagerConfigurations</param-name>
          <param-value>/META-INF/client-assembly/*.xml</param-value>
        </init-param>
        -->
		<load-on-startup>2</load-on-startup>
	</servlet>

    <servlet>
        <servlet-name>BinariesServlet</servlet-name>
        <servlet-class>org.hippoecm.hst.servlet.BinariesServlet</servlet-class>
    	<!-- 
    		If you are not using hippogallery:exampleImageSet you might want to define your
    		own primaryitem location. If you leave away the primaryitem altogether, then, when the binary location
    		is not pointing at an actual jcr resource, we'll try to serve the jcr primaryitem in case this points
    		to a resource. For assets, we'll serve the primay item as there won't be a hippogallery:picture for an asset
    	 -->
    	<init-param>
    		<param-name>primaryitem</param-name>
    		<param-value>hippogallery:picture</param-value>
    	</init-param>
    </servlet>
  
    <servlet>
        <servlet-name>StaticResourceServlet</servlet-name>
        <servlet-class>org.hippoecm.hst.servlet.StaticResourceServlet</servlet-class>
    </servlet>
    
	<servlet-mapping>
	    <servlet-name>HstContainerServlet</servlet-name>
	    <url-pattern>/preview/*</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>HstContainerServlet</servlet-name>
        <url-pattern>/live/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BinariesServlet</servlet-name>
        <url-pattern>/binaries/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>StaticResourceServlet</servlet-name>
        <url-pattern>/staticresource/*</url-pattern>
    </servlet-mapping>

	<!-- The Usual Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/ErrorPage404.jsp</location>
    </error-page>
  
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/ErrorPage500.jsp</location>
    </error-page>
  
    <error-page>
        <exception-type>org.hippoecm.hst.core.container.ContainerNotFoundException</exception-type>
        <location>/jsp/ErrorPage404.jsp</location>
    </error-page>
  
    <error-page>
        <exception-type>java.io.FileNotFoundException</exception-type>
        <location>/jsp/ErrorPage404.jsp</location>
    </error-page>
  
    <error-page>
        <exception-type>org.hippoecm.hst.core.container.ContainerException</exception-type>
        <location>/jsp/ErrorPage500.jsp</location>
    </error-page>
  
    <error-page>
        <exception-type>Exception</exception-type>
        <location>/jsp/ErrorPage500.jsp</location>
    </error-page>
  
    <!-- If you want to use a pooling JCR repository from JNDI, uncomment the following and configure the correct jndiName. -->
    <!--
    <resource-ref>
        <description>JCR Session Pooling Repository provided by HST-2 Core Components</description>
        <res-ref-name>jcr/repository</res-ref-name>
        <res-type>javax.jcr.Repository</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    -->
    
</web-app>

