<li class="light-blue user-profile">
	<a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
		<img class="nav-user-photo" src="{{path.assets}}/avatars/user.jpg" alt="Jason's Photo">
		<span id="user_info">
			<small>Welcome,</small> Jason
		</span>
		<i class="icon-caret-down"></i>
	</a>
	<ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
		<li><a href="#"><i class="icon-cog"></i> Settings</a></li>
		<li class="divider"></li>
		<li><a href="#"><i class="icon-off"></i> Logout</a></li>
	</ul>
</li>