@import 'variables';

:host {
  display: grid;
  grid-template-areas:
    'nav toolbar'
    'nav main';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  position: relative;
}

nav {
  display: grid;
  grid-area: nav;
  z-index: 1;
}

main {
  background: $white;
  display: grid;
  grid-area: main;
  z-index: 0;
}

.overlay {
  z-index: 3;

  ~ main {
    z-index: 4;
  }
}
