@import '../styles/variables';

:host {
  height: 100%;
  overflow: hidden;
}

.nav {
  bottom: 100%;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
}

.main {
  margin-left: $menu-collapsed-width;
}
