@import '../styles/variables';

:host {
  height: 100%;
  overflow: hidden;
}

.nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 100%;
}

.main {
  margin-left: $menu-collapsed-width;
}
