/*html, body {*/
    /*height: 100%;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

/*body {*/
    /*background: #555;*/
/*}*/

/*body * {*/
    /*font-family: Arial, Geneva, SunSans-Regular, sans-serif;*/
    /*font-size: 14px;*/
    /*color: #222;*/
    /*line-height: 20px;*/
/*}*/

#cwrapper {
    /*border-bottom: 1px solid #777;*/
    height: 175px;
    width: 70%;
    padding-top: 100px;

    margin-left: auto;
    margin-right: auto;
}

#cinner {
    width: 650px;
    height: 400px;
    overflow: hidden;
    margin-left: -325px;
    position: absolute;
    bottom: -75px;
    left: 50%;
}

#carousel .slide {
    width: 650px;
    height: 400px;
    float: left;
    position: relative;
}

#carousel .slide > div {
    height: 400px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#carousel .slide > div.back {
    height: 325px;
}

#carousel .slide > div.large {
    left: 0;
    z-index: 3;
}

#carousel .slide > div.large img {
    margin-top: 50px;
}

#carousel .slide > div.small {
    right: 0;
    z-index: 2;
}

#carousel .slide > div.small img {
    margin-top: 100px;
}

#pager {
    position: absolute;
    bottom: 12px;
    right: 50px;
    z-index: 6;
}

#pager a {
    border-radius: 10px;
    border: 1px solid #888;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
}

#pager a.selected {
    border-width: 3px;
    margin: 3px;
}

#pager a span {
    display: none;
}