html,body { 
  height:100%;
  width:100%;
  margin:0px;  
}

body {
 font-family:Verdana,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode",sans-serif;
}

#wrapper {
  height:100%;
}

#mainNav {
  float:left; 
  width:200px; 
  margin-left:5px;
  height:100%;
  border-right: 1px solid #EF3E42;
}

#content {
  float:left; 
  width:600px;
  margin-left:10px;
  height:100%;
}

a { 
  color:#00A5E3;
  background-color:#FFFFFF;
}

h1 { 
  color:#00A5E3;
  background-color:#FFFFFF;
}

h3.nav_title { 
  color: #EF3E42;
  background-color:#FFFFFF;
}

hr { 
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom: 1px solid black; 
}
