* text=auto !eol
/LICENSE -text
/NOTICE -text
cms/pom.xml svneol=native#text/plain
cms/src/main/webapp/WEB-INF/classes/org/hippoecm/frontend/plugins/standards/icon/res/poll-demo-newsdocument-16.png -text svneol=unset#image/png
cms/src/main/webapp/WEB-INF/web.xml svneol=native#text/plain
conf/context.xml svneol=native#text/plain
conf/log4j-dev.xml svneol=native#text/plain
conf/log4j-prod.xml svneol=native#text/plain
content/pom.xml svneol=native#text/plain
content/src/main/resources/configuration/forms/formdata-domain.xml svneol=native#text/plain
content/src/main/resources/configuration/forms/formdata.xml svneol=native#text/plain
content/src/main/resources/configuration/modules/autoexport-module.xml svneol=native#text/plain
content/src/main/resources/configuration/queries/templates/new-subsite/poll-demo-subsite.xml svneol=native#text/plain
content/src/main/resources/configuration/richtextconfig/xinha.xml svneol=native#text/plain
content/src/main/resources/content.xml svneol=native#text/plain
content/src/main/resources/content/documents/poll-demo.xml svneol=native#text/plain
content/src/main/resources/content/documents/poll-demo/common.xml svneol=native#text/plain
content/src/main/resources/content/documents/poll-demo/custom-poll-documents.xml svneol=native#text/plain
content/src/main/resources/content/documents/poll-demo/news.xml svneol=native#text/plain
content/src/main/resources/content/documents/poll-demo/poll-documents.xml svneol=native#text/plain
content/src/main/resources/content/gallery/poll-demo.xml svneol=native#text/plain
content/src/main/resources/hippoecm-extension.xml svneol=native#text/plain
content/src/main/resources/hst/blueprints/poll-demo-subsite.xml svneol=native#text/plain
content/src/main/resources/hst/blueprints/poll-demo-subsite/pages.xml svneol=native#text/plain
content/src/main/resources/hst/blueprints/poll-demo-subsite/sitemap.xml svneol=native#text/plain
content/src/main/resources/hst/blueprints/poll-demo-subsite/sitemenus.xml svneol=native#text/plain
content/src/main/resources/hst/channels.xml svneol=native#text/plain
content/src/main/resources/hst/configurations.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo-subsite-common/components.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo-subsite-common/components/content.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo-subsite-common/components/header.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo-subsite-common/components/leftmenu.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo-subsite-common/templates.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/catalog.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/components.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/components/content.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/components/header.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/components/leftmenu.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/components/notfound.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/components/overview.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/components/search.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/custompollpage.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/home.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/newsoverview.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/newspage.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/overview.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/pagenotfound.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/pollpage.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/search.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/standard.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/pages/textpage.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/sitemap.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/sitemenus.xml svneol=native#text/plain
content/src/main/resources/hst/configurations/poll-demo/templates.xml svneol=native#text/plain
content/src/main/resources/hst/hosts.xml svneol=native#text/plain
content/src/main/resources/hst/sites.xml svneol=native#text/plain
content/src/main/resources/namespaces/poll-demo.cnd -text
content/src/main/resources/namespaces/poll-demo.xml svneol=native#text/plain
content/src/main/resources/namespaces/poll-demo/basedocument.xml svneol=native#text/plain
content/src/main/resources/namespaces/poll-demo/newsdocument.xml svneol=native#text/plain
content/src/main/resources/namespaces/poll-demo/textdocument.xml svneol=native#text/plain
content/src/main/resources/namespaces/polldemo/custompolldocument.xml svneol=native#text/plain
content/src/main/resources/namespaces/polldemo/polldocument.xml svneol=native#text/plain
content/src/main/resources/polldata.xml svneol=native#text/plain
content/src/main/resources/polldata/custom-poll-documents/mycustompolldocument.xml svneol=native#text/plain
content/src/main/resources/polldata/poll-documents/mycustompolldocument.xml svneol=native#text/plain
content/src/main/resources/polldata/poll-documents/mypolldocument.xml svneol=native#text/plain
content/src/main/resources/security/configuser-read-everywhere.xml svneol=native#text/plain
content/src/main/resources/security/group-liveusers.xml svneol=native#text/plain
content/src/main/resources/security/group-previewusers.xml svneol=native#text/plain
content/src/main/resources/security/group-sitewriters.xml svneol=native#text/plain
content/src/main/resources/security/user-author.xml svneol=native#text/plain
content/src/main/resources/security/user-configuser.xml svneol=native#text/plain
content/src/main/resources/security/user-editor.xml svneol=native#text/plain
content/src/main/resources/security/user-liveuser.xml svneol=native#text/plain
content/src/main/resources/security/user-previewuser.xml svneol=native#text/plain
content/src/main/resources/security/user-sitewriter.xml svneol=native#text/plain
/pom.xml svneol=native#text/plain
site/pom.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/hst-cms-rest.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/jndi-repository.xml svneol=native#text/plain
site/src/main/resources/META-INF/hst-assembly/overrides/template-composer-rest.xml svneol=native#text/plain
site/src/main/webapp/META-INF/context.xml svneol=native#text/plain
site/src/main/webapp/WEB-INF/jspf/htmlTags.jspf -text
site/src/main/webapp/WEB-INF/jspf/taglibs.jspf -text
site/src/main/webapp/WEB-INF/tags/menuitem.tag -text
site/src/main/webapp/WEB-INF/tags/pagenotfound.tag -text
site/src/main/webapp/WEB-INF/tags/pages.tag -text
site/src/main/webapp/WEB-INF/web.xml svneol=native#text/plain
site/src/main/webapp/images/button_edit.gif -text
site/src/main/webapp/images/catalog-list.png -text svneol=unset#image/png
site/src/main/webapp/images/hippo.gif -text
site/src/main/webapp/images/onehippo.gif -text
