<?xml version="1.0" encoding="UTF-8"?>
<sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" sv:name="events">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hst:sitemapitem</sv:value>
  </sv:property>
  <sv:property sv:name="hst:componentconfigurationid" sv:type="String">
    <sv:value>hst:pages/eventsoverview</sv:value>
  </sv:property>
  <sv:property sv:name="hst:relativecontentpath" sv:type="String">
    <sv:value>events</sv:value>
  </sv:property>
  <sv:node sv:name="_any_.html">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hst:sitemapitem</sv:value>
    </sv:property>
    <sv:property sv:name="hst:componentconfigurationid" sv:type="String">
      <sv:value>hst:pages/eventspage</sv:value>
    </sv:property>
    <sv:property sv:name="hst:relativecontentpath" sv:type="String">
      <sv:value>${parent}/${1}</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="_any_">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hst:sitemapitem</sv:value>
    </sv:property>
    <sv:property sv:name="hst:componentconfigurationid" sv:type="String">
      <sv:value>hst:pages/eventsoverview</sv:value>
    </sv:property>
    <sv:property sv:name="hst:relativecontentpath" sv:type="String">
      <sv:value>${parent}/${1}</sv:value>
    </sv:property>
  </sv:node>
</sv:node>
